.header {
    height: 100px;
    background-color: #ffa200;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

/* 헤더부분(프레그먼트 만들어지면 삭제) */

.flex {
    display: flex;
}

.flex-between-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-align {
    display: flex;
    align-items: center;
}

.none {
    display: none;
}

.global-container {
    width: 1200px;
    margin: 140px auto;
    display: flex;
    flex-direction: column;
}

.place-img-container {
    height: 450px;
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* 두 열이 있고, 첫 번째 열의 크기가 두 번째 열의 두 배입니다. */
    grid-template-rows: auto auto; /* 세 행이 있으며, 중간 행이 남은 공간을 차지합니다. */
    gap: 2px; /* 사각형 사이의 간격 */
    border-radius: 8px;
    position: relative;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-img {
    grid-row: 1 / span 2; /*첫 번째 열의 모든 행을 차지하는 큰 사각형 */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.grid3 {
    border-top-right-radius: 8px;
}

.grid5 {
    border-bottom-right-radius: 8px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.more-img-btn {
    position: absolute;
    right: 14px;
    bottom: 14px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 14px 7px 18px;
    border-radius: 5px;
    -webkit-box-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.content-global-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.content-wrap {
    width: 680px;
}


.basic-info-box {
    padding: 20px 0 36px;
    border-bottom: 1px solid #e7eaee;
}

.sub-title {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(163, 163, 163);
}

.place-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 54px;
    color: rgb(61, 61, 61);
}

.place-address-box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.place-address-box span {
    font-size: 14px;
    line-height: 24px;
    color: rgb(36, 36, 36);
    margin-left: 6px;
}

.review-box {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
}

.review-box span {
    margin: 0 4px;
}

.star-box {
    position: relative;
    width: fit-content;
}

.filled-stars {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}

.default-stars {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
}

.filled-star,
.default-star {
    width: 17px;
}

.place-nav-box {
    height: 55px;
    border-bottom: 1px solid #e7eaee;
    position: sticky;
    top: 100px;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}

.nav-item {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.nav-focus {
    color: #007AFF;
    border-bottom: 2px solid #007AFF;
}

.care-wrap {
    width: 100%;
    padding: 30px 0;
}

.care-box {
    width: 100%;
    background: rgb(250, 250, 250);
    border: 1px solid rgb(240, 240, 240);
    padding: 24px 18px
}

.care-box p {
    font-size: 13px;
}

.care-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 6px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    color: rgb(36, 36, 36);
    line-height: 22px;
    margin: 14px 0;
}


.content {
    font-size: 15px;
    white-space: pre-line;
    color: rgb(61, 61, 61);
    line-height: 22px;
}

.place-info-box {
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.place-map-box,
.place-rule-box,
.review-wrap {
    padding: 25px 0;
    border-bottom: 1px solid rgb(240, 240, 240);
}


#map {
    height: 300px;
    border-radius: 8px;
    margin-bottom: 8px;
    z-index: 0;
}

.customoverlay {
    position: relative;
    bottom: 85px;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    float: left;
    bottom: 50px;
    right: -1.3px;
}

.customoverlay:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    background: #007AFF url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.customoverlay span {
    display: block;
    text-align: center;
    background: #fff;
    margin-right: 35px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
}

.customoverlay:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: -12px;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.inquiry-count,
.review-count {
    color: #007AFF;
}


.inquiry-write-btn,
.review-write-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 45px;
    padding: 0 15px;
    font-size: 15px;
    border-radius: 4px;
    color: #007AFF;
    background-color: rgb(255, 255, 255);
    border: 1px solid #007AFF;
}

.inquiry-item-box {
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 24px 0;
}

.inquiry-question-box {
    position: relative;
    align-items: flex-start;
}

.question-info {
    display: flex;
}

.dot {
    margin: 0 4px;
}

.question-info p {
    font-weight: 500;
    font-size: 12px;
    color: rgb(158, 164, 170);
}

.answer-ctr-box {
    display: flex;
    color: #007AFF;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.answer-ctr-box p {
    margin-right: 4px;
}

.answer-box {
    margin-top: 16px;
    padding: 12px 14px;
    background: rgb(245, 247, 248);
    border-radius: 8px;
    width: 100%;
}

.answer-box p {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgb(158, 164, 170);
}

.answer-box .answer-content {
    color: rgb(114, 120, 127);
    white-space: pre-line;
}

.inquiry-question {
    font-size: 15px;
    line-height: 22px;
    color: rgb(36, 36, 36);
    white-space: pre-line;
    margin: 16px 0;
}

.inquiry-more {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.pagination-box {
    margin: 8px 0;
}

.pagination-box button {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(214, 214, 214);
    color: rgb(87, 87, 87);
    font-size: 14px;
    margin: 0 2px;
}

.page-num.focus,
.review-more-btn:hover {
    border: 1px solid #007AFF;
    color: #007AFF;
}

.review-summary-box {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(243, 245, 247);
    border-radius: 6px;
    margin-top: 18px;
}

.review-summary-box .review-score {
    font-weight: bolder;
    font-size: 28px;
    margin-left: 4px;
}

.review-summary-box img {
    width: 24px;
}

.review-summary-box p {
    font-size: 15px;
    line-height: 20px;
    color: rgb(112, 112, 112);
    font-weight: bold;
    text-align: center;
}

.review-item {
    padding: 24px 0;
    border-top: 1px solid rgb(240, 240, 240);
}

.review-item img {
    width: 14px;
}

.review-item span {
    margin-left: 4px;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: rgb(38, 40, 43);
}

.review-writer {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: -0.1px;
    color: rgb(27, 29, 31)
}

.review-item .review-write-date {
    font-weight: 500;
    font-size: 12px;
    color: rgb(158, 164, 170);
    margin-left: 8px;
}

.review-content {
    font-size: 15px;
    line-height: 22px;
    color: rgb(87, 87, 87);
    white-space: pre-line;
    margin-top: 8px;
}

.review-more-btn {
    width: 350px;
    color: rgb(94, 102, 141);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 219, 226);
    padding: 8px 0;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
}

.more-img {
    margin-left: 6px;
    width: 20px;
}

.reservation-container {
    position: relative;
}

.reservation-wrap {
    position: sticky;
    top: 150px;
    width: 415px;
    height: fit-content;
    /*padding: 31px 27px 26px;*/
    padding: 30px;
    margin-top: 60px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(223, 226, 231);
}

.pay-guide-msg {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgb(69, 75, 80);
}

.hour {
    margin-left: 8px;
    font-size: 15px;
}

.line {
    margin-top: 16px;
    height: 1px;
    background-color: rgb(231, 234, 238);
}

.small-title {
    font-weight: bold;
    font-size: 16px;
    color: rgb(36, 36, 36);
    line-height: 22px;
    margin: 14px 0;
}

.date-guide {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(163, 163, 163);
}

.schedule-box,
.people-box {
    margin-top: 8px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid rgb(223, 226, 231);
    cursor: pointer;
}

.schedule-box p,
.people-box p {
    padding: 0 14px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: rgb(158, 164, 170);
    /*color: rgb(27, 29, 31);*/
}

.date-box,
.people-wrap {
    margin-top: 10px;
    position: relative;
}

.people-guide {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(69, 75, 80);
}

.calculate-box {
    margin-top: 8px;
}

.surcharge-box {
    padding: 0 8px;
    height: 22px;
    background: rgb(245, 247, 248);
    border-radius: 4px;
}

.surcharge-box p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgb(114, 120, 127);
}

.reservation-btn,
.inquiry-submit {
    margin-top: 20px;
    height: 52px;
    border-radius: 8px;
    background-color: #e7eaee;
    color: #9ea4aa;
    font-weight: bold;
    font-size: 16px;
    width: 300px;
}

.reservation-btn.on,
.inquiry-submit.on {
    background-color: #007AFF;
    color: white;
}

.img-modal-container,
.inquiry-modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1050;
    touch-action: none;
}

.modal-wrap {
    width: 100vh;
    height: 75vh;
    margin: 75px auto 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.place-img-info-wrap {
    height: 50px;
    margin-bottom: 24px;
}

.place-img-info-wrap button {
    width: 120px;
    height: 50px;
    gap: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 16px;
    line-height: 26px;
    color: rgb(255, 255, 255);
}

.place-img-info-box {
    width: 250px;
}

.place-img-info-box p {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.img-count {
    padding: 5px 27px 7px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    font-size: 16px;
    line-height: 27px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.modal-img-wrap {
    overflow-x: hidden;
}

.modal-img-box {
    transition-property: transform;
    transform: translate3d(0px, 0px, 0px);
    transition: 0.5s;
    display: flex;
    width: 700px;
    height: 472px;
}

.modal-img-item {
    display: flex;
    width: 700px;
    height: 100%;
}

.modal-img{
    width: 700px;
    object-fit: contain;
}

.img-button-box {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.img-button-box > button {
    font-size: 30px;
    margin: 0 5px;
    color: white;
}

.modal-img-wrap button {
    position: absolute;
    top: 50vh;
}

.prev {
    left: 18vw;
}

.next {
    right: 18vw;
}

.modal-img-wrap > button > img {
    width: 58px;
}

.calendar-wrap {
    position: absolute;
    z-index: 2;
    top: 74px;
    right: 0px;
    width: 540px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px 0px;
    border: 1px solid rgb(239, 243, 245);
    background-color: rgb(255, 255, 255);
}

.choice-box {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.time-choice-wrap {
    padding-top: 70px;
}


.time-guide {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: rgb(158, 164, 170);
    margin-bottom: 12px;
}

.checkInOut {
    font-size: 14px;
    padding: 0px 8px 0px 14px;
    border-radius: 4px;
    border: 1px solid rgb(223, 226, 231);
    height: 40px;
    width: 120px;
    margin-bottom: 30px;

}

.time-choice-wrap button {
    color: white;
    background-color: #007AFF;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 0;
}

.select-people-wrap {
    position: absolute;
    z-index: 2;
    top: 74px;
    right: 0;
    width: 100%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px 0px;
    border: 1px solid rgb(239, 243, 245);
    background-color: rgb(255, 255, 255);
}

.people-select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

.people-select-box p {
    font-size: 16px;
    font-weight: 500;
}

.reservation-visitors {
    width: 54px;
    height: 42px;
    font-size: 15px;
    border: 1px solid #0b0b0b;
    border-radius: 4px;
}

.visitors {
    text-align: center;
    width: 100%;
}


.minus,
.plus {
    border-radius: 50%;
    border: 1px solid rgb(227, 227, 232);
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
    line-height: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.visitor-ctr-box {
    border-top: 1px solid rgb(231, 234, 238);
    padding: 30px 30px;
}

.visitors-reset {
    font-size: 15px;
    font-weight: 500;
}

.visitors-reset:hover {
    text-decoration: underline;
}

.visitors-btn {
    width: 80px;
    height: 40px;
    border-radius: 4px;
    background-color: #007AFF;
    color: white;
    font-weight: 500;
}

.inquiry-modal-wrap {
    margin: 0 auto;
    width: 420px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    padding: 20px 0;
    flex-direction: column;
}

.inquiry-cancel {
    position: absolute;
    margin-top: 12px;
    right: 30px;
    width: 25px;
}

.inquiry-guide {
    font-weight: bold;
    font-size: 12px;
    color: rgb(158, 164, 170);
    margin: 8px 0;
}

.inquiry-content-box {
    width: 320px;
    margin-top: 10px;
}

.inquiry-title-box{
}

#inquiryTitle{
    border-radius: 4px;
    border: solid 1px #dfe2e7;
    font-size: 16px;
    padding: 10px;
    width: 320px;
}

#inquiryContent {
    border-radius: 4px;
    border: solid 1px #dfe2e7;
    font-size: 16px;
    padding: 10px;
    width: 320px;
    height: 250px;
}

textarea::-webkit-scrollbar {
    display: none;
}

.letter-count {
    font-weight: 500;
    font-size: 12px;
    color: rgb(69, 75, 80);
}

.over {
    color: red;
}

.place-like-btn {
    border: 1px solid #9ea4aa;
    font-size: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    color: #A3A3A3;
}

.place-like-btn i {
    animation-duration: 0.6s;
    animation-name: activateAnimation;
}

@keyframes activateAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}













































