.header {
    height: 100px;
    background-color: #ffa200;
}

/* 헤더부분(프레그먼트 만들어지면 삭제) */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-register-container {
    box-shadow: 0 6px 19px rgba(39, 49, 58, 0.1);
    border: 1px solid #ebeff3;
    border-radius: 0.75rem;
    width: 700px;
    margin: 80px auto;
    padding: 40px 50px;
}


.guide-title-box > p {
    color: #264966;
    font-weight: bolder;
    font-size: 28px;
    margin-bottom: 40px;
}

.register-form {
    width: 500px;
}

.input-box {
    margin-bottom: 8px;
    border: 1px solid;
    position: relative;
}



.warning-msg,
.invalid-msg {
    color: red;
    font-size: 12px;
    margin-top: 1px;
    margin-left: 2px;
    font-weight: 600;
}

.input-wrap {
    margin-bottom: 20px;
}

.input-guide {
    padding-left: 4px;
}

.input-guide > img {
    margin: 0 5px;
    width: 6px;
    height: 6px;
}

.input-box {
    height: 52px;
    border-radius: 4px;
    border: 1px solid #dfe2e7;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin: 8px 0;
}

.input-box > input,
.input-box > textarea {
    width: 95%;
    font-size: 16px;
}

.input-title {
    color: #264966;
    font-size: 18px;
    font-weight: 500;
}

.map-box {
    margin-bottom: 20px;
}

#map {
    height: 300px;
    width: 500px;
    border-radius: 4px;
}

.guide-msg {
    font-size: 13px;
    color: rgb(163, 163, 163);
    margin-left: 12px;
    margin-top: 5px;
}

.search-box {
    width: 85%;
}

.search-wrap {
    display: flex;
    justify-content: space-between;
}

.search-btn {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.img-wrap {
    height: 300px;
    width: 500px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.textarea-box {
    height: auto;
    padding: 10px 0 10px 15px;
}

.textarea-box textarea {
    height: 250px;
    width: 98%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.unit {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

.price-people-container {
    display: flex;
    justify-content: space-between;
}

.price-people-container > .input-wrap {
    margin: 0 4px 20px 4px;

    width: 50%;
}

.price-title {
    margin-bottom: 25px;
}

.select-box {
    display: flex;
    justify-content: flex-end;
}

.select {
    border: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    padding-right: 78px;
    text-align: center;
}

.submit-btn,
.cancel {
    background-color: rgb(240, 240, 240);
    color: rgb(163, 163, 163);
    font-size: 16px;
    border-radius: 4px;
    height: 56px;
    font-weight: bold;
    width: 80px;
    margin: 4px;
}

.start {
    justify-content: flex-end;
}


.cancel {
    background-color: white;
    border: 1px solid black;
}

.submit-btn.on {
    color: #fff;
    background-color: #007aff;
}

.hour-price-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.file-label{
    height: 300px;
    width: 500px;
    border-radius: 4px;
    cursor: pointer;
    flex-direction: column;
    color: #264966;
}
.file-label >i{
    font-size: 90px;
    margin-bottom: 10px;
}

.file-label >p{
    font-size: 20px;
    font-weight: bolder;
}

.file-container{
    position: relative;
    height: 300px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.file-wrap{
    display: flex;
    height: 300px;
    width: 500px;
    position: relative;
}

.file-wrap img {
    border-radius: 4px;
    width: 500px;
}

.img-button-box{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.img-button-box>button{
    font-size: 30px;
    margin: 0 5px;
}

.none {
    display: none;
}

.file-item{
    display: flex;
    justify-content: flex-end;
}

.delete{
    font-size: 30px;
    position: absolute;
    margin-right: 10px;
}






















