.header {
    height: 161px;
    background-color: #ffa200;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

/* 헤더부분(프레그먼트 만들어지면 삭제) */

.flex {
    display: flex;
}

.flex-between-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-align {
    display: flex;
    align-items: center;
}

.none {
    display: none;
}

body{
    background: rgb(243, 245, 247);
}

.global-container{
    margin: 160px auto 80px auto;
    padding-top: 50px;
}

.reservation-container{
    width: 587px;
    overflow: auto;
    border-radius: 22px;
    box-shadow: rgba(120, 143, 165, 0.3) 0 0 17px 0;
    background-color: rgb(255, 255, 255);
    padding: 36px;
}

.reservation-container::-webkit-scrollbar {
    display: none;
}
.reserve-receipt{
    font-size: 18px;
    line-height: 34px;
    color: rgb(36, 36, 36);
    font-weight: 500;
}

.place-info-wrap{
    padding: 36px 0;

}

.section-title{
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(36, 36, 36);
    margin: 16px 0;
}


.place-img-box{
    min-width: 110px;
    max-width: 110px;
    height: 83px;
    margin-right: 20px;
}

.place-img-box img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.place-number{
    font-weight: 500;
    font-size: 14px;
    color: rgb(27, 29, 31);
}

.place-name{
    font-size: 16px;
    color: rgb(36, 36, 36);
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bolder;
}

.place-info{
    display: flex;
    flex-direction: column;
    height: 83px;
    justify-content: space-between;
}

.place-info p{
    margin: 4px 0;
}

.sub-title{
    font-size: 13px;
    color: rgb(138, 138, 138);
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

.calendar-wrap {
    width: 540px;
    border-radius: 8px;
    border-top: 1px solid rgb(231, 234, 238);
    padding: 20px 0;
}

.choice-box {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.time-choice-wrap {
    padding-top: 70px;
}


.time-guide {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: rgb(158, 164, 170);
    margin-bottom: 12px;
}

.checkInOut {
    font-size: 14px;
    padding: 0px 8px 0px 14px;
    border-radius: 4px;
    border: 1px solid rgb(223, 226, 231);
    height: 40px;
    width: 120px;
    margin-bottom: 30px;

}

.time-choice-wrap button {
    color: white;
    background-color: #007AFF;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 0;
}


.select-people-wrap {
    width: 100%;
    border-radius: 8px;
}

.people-select-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 126px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(212, 219, 226);
}

.select-wrap{
    border-top: 1px solid rgb(231, 234, 238);
    padding-top: 16px;
}

.people-select-box p {
    font-size: 16px;
    font-weight: 500;
}

.reservation-visitors {
    font-size: 15px;
}

.visitors {
    text-align: center;
    font-size: 16px;
}

.minus img,
.plus img{
    width: 18px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.visitor-ctr-wrap {
    padding: 30px 30px;
}

.visitors-reset {
    font-size: 15px;
    font-weight: 500;
}

.visitors-reset:hover {
    text-decoration: underline;
}

.visitors-btn {
    width: 80px;
    height: 40px;
    border-radius: 4px;
    background-color: #007AFF;
    color: white;
    font-weight: 500;
}

.place-info-wrap,
.calendar-wrap,
.select-people-wrap,
.reservation-content-container{
    border-bottom: 8px solid rgb(250, 250, 250);
    margin-bottom: 12px;
}

.visitor-ctr-box{
    width: 248px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
}

.visitor-ctr-box button{
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-family: Regular, sans-serif;
    font-size: 14px;
    letter-spacing: -0.7px;
    color: rgb(94, 102, 141);
    border: 1px solid rgb(212, 219, 226);
}

.visitor-ctr-box button:hover{
    border: 1px solid #007AFF;
}

.visitor-ctr-box > button:first-child {
    border-radius: 4px 0 0 4px;
}

.visitor-ctr-box > button:last-child {
    border-radius: 0 4px 4px 0;
}

.selected-count,
.note{
    font-size: 15px;
    letter-spacing: -0.45px;
    color: rgb(0, 117, 235);
    margin-left: 14px;
    line-height: 21px;
    padding-bottom: 1px;
}

.reservation-content-wrap{
    border-top: 1px solid rgb(231, 234, 238);
    padding: 30px 38px 40px;
}

#reserve-content{
    width: 100%;
    height: 219px;
    padding: 18px 16px;
    border-radius: 4px;
    border: 1px solid rgb(212, 219, 226);
    font-size: 15px;
    line-height: 1.53;
    letter-spacing: -0.45px;
    color: rgb(36, 36, 36);
}

#reserve-content:focus{
    border: 1px solid #007AFF;
}

.payment-wrap{
    border-top: 1px solid rgb(231, 234, 238);
    padding: 30px;
}

.info-title{
    font-size: 14px;
    letter-spacing: -0.42px;
    color: rgb(87, 87, 87);
    padding-top: 2px;
}

.total-reserve-amount-box,
.people-amount-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.total-reserve-amount-box>div,
.people-amount-box>div{
    align-items: flex-end;
}

.amount{
    font-size: 16px;
    letter-spacing: -0.48px;
    color: rgb(36, 36, 36);
    padding-top: 1px;
    font-weight: 500;
    margin-bottom: 4px;
}

.payment-guide{
    font-size: 13px;
    letter-spacing: -0.42px;
    color: rgb(163, 163, 163);
    padding-top: 5px;
    text-align: right;
    font-weight: 500;
}

.total-amount-box{
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 20px 0;
    font-size: 16px;
    margin-top: 20px;
}

.total-amount{
    color: #007AFF;
    font-weight: bold;
    font-size: 20px;
}

.payment-btn{
    width: 100%;
    color: white;
    background-color: #007AFF;
    font-weight: bold;
    font-size: 15px;
    border-radius: 4px;
    padding: 12px 0;
    margin-bottom: 80px;
}


































