<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Spotick | 후기관리</title>
    <link href="/css/global-css/root.css" rel="stylesheet">
    <link href="/css/global-css/chat.css" rel="stylesheet">
    <link href="/css/mypage/mypage.css" rel="stylesheet">
    <link href="/css/mypage/mypage-modal.css" rel="stylesheet">
    <link href="/css/global-css/post-list-card-item.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2364e2b536.js"></script>
</head>

<body>

<div th:replace="~{global-templates/chat :: chat}"></div>

<div class="modal-bg">
    <div th:replace="~{global-templates/global-dialogue-modal :: global-dialogue}"></div>
    <div th:replace="~{global-templates/global-dialogue-modal :: global-selection}"></div>
    <div class="modal-review-form-container">
        <div style="display: flex; margin-bottom: 20px;">
            <div class="mpcr-img-con">
                <img height="100px" id="detailImage" style="width: 180px;">
            </div>
            <div class="ItemTextContainer" style="min-width: 300px; max-width: 300px">
                <div class="ItemHostNameContainer">
                    <span class="ItemHostName" id="detailAddress"></span>
                    <div class="ItemCountsContainer">
                        <div class="ItemsStarCountContainer">
                            <img alt="후기갯수" class="ItemCountImg"
                                 src="/imgs/star_filled_paintYellow056.a8eb6e44.svg">
                            <span class="ItemCountText" id="detailEval"></span>
                        </div>
                        <div class="ItemsLikeCountContainer">
                            <img alt="북마크갯수" class="ItemCountImg bookmark"
                                 src="/imgs/bookmark_thin.svg">
                            <span class="ItemCountText" id="detailBookmark"></span>
                        </div>
                    </div>
                </div>
                <div class="ItemSpaceNameContainer">
                    <p class="ItemSpaceName" id="detailTitle">)</p>
                </div>
                <div class="ItemPriceContainer">
                    <span class="ItemPrice" id="detailPrice"></span>
                </div>
                <div class="mpccc-row content-between" style="margin-top: 10px;">
                    <div class="mpccc-status">
                        <span id="detailStatus"></span>
                    </div>
                </div>
            </div>
            <div class="mpcr-divider"></div>
            <div class="mpcr-info">
                <div class="mpcri-title">예약 정보</div>
                <div class="mpcri-date">
                    <span id="detailCheckIn"></span>
                    <span style="margin: 0 4px; color: #868686;">~</span>
                    <span id="detailCheckOut"></span>
                </div>
                <div class="mpcri-people-count">
                    <div>
                        사용 인원: <span id="detailVisitors"></span>명
                    </div>
                </div>
                <div class="mpcri-content" id="detailContent"></div>
            </div>
        </div>
        <h2 class="mri-title">후기작성</h2>
        <input th:field="${reviewRegisterDto.reservationId}" type="hidden">
        <div class="mrf-star-rating-con">
            <span class="mrf-star on" onclick="setReviewScore(1)" value="1"></span>
            <span class="mrf-star" onclick="setReviewScore(2)" value="2"></span>
            <span class="mrf-star" onclick="setReviewScore(3)" value="3"></span>
            <span class="mrf-star" onclick="setReviewScore(4)" value="4"></span>
            <span class="mrf-star" onclick="setReviewScore(5)" value="5"></span>
            <div class="mrf-rating-count-con">
                <input readonly th:field="${reviewRegisterDto.score}" type="text">점
            </div>
            <div id="errorScore" class="error-score"></div>
        </div>
        <div class="mr-form">
            <textarea cols="30" maxlength="200" name="" oninput="checkTypeCounts()"
                      placeholder="최소 10자 이상 입력해주세요"
                      rows="10" spellcheck="false"
                      th:field="${reviewRegisterDto.content}"></textarea>
        </div>
        <div class="space-between">
            <div id="errorContent" class="error-content"></div>
            <div class="mr-type-counter">
                <span>글자수</span>
                <span id="typeCounter">0</span>
                <span>/ 200</span>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <button class="modal-confirm-btn" disabled id="mrConfirmBtn">
                <p>작성 완료</p>
            </button>
        </div>
    </div>
</div>

<header th:replace="~{global-templates/header-footer :: header}"></header>

<main class="my-page-main" id="page-body">
    <div th:replace="~{global-templates/mypage :: mypage-menu}"></div>
    <div class="mp-content">
        <article>
            <div class="mpc-title not-with-line">
                <h2>후기관리</h2>
            </div>
            <nav class="mpc-top-nav">
                <a class="mpc-top-nav-button active">
                    작성가능 후기(<span th:text="${notReviewedList.getTotalElements()}"></span>)
                </a>
                <a th:href="@{/mypage/reviews/wrote}" class="mpc-top-nav-button" type="button">
                    작성한 후기
                </a>
            </nav>
            <div class="mpc-review-wrap">
                <th:block th:if="${#lists.size(notReviewedList)}">
                    <th:block th:each="reviewableItem:${notReviewedList}">
                        <div class="OneItemContainer hover mybookmark" th:object="${reviewableItem}">
                            <div class="OneItemImgContainer">
                                <div class="swiper ImageSwiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                                    <a class="swiper-wrapper ImageLength"
                                       th:href="@{/place/detail/{placeId}(placeId = ${reviewableItem.id})}">
                                        <!-- 이미지 한칸 -->
                                        <th:block th:each="placeFile:${reviewableItem.placeFiles}">
                                            <div class="swiper-slide swiper-slide-next" th:object="${placeFile}">
                                                <img class="ItemImg"
                                                     th:alt="${reviewableItem.title}"
                                                     th:src="*{'/file/display?fileName=' + uploadPath + '/t_' + uuid + '_' + fileName}">
                                            </div>
                                        </th:block>
                                        <!-- 이미지 한칸 -->
                                    </a>
                                    <div class="NavigationBtnContainer">
                                        <button class="NavigationBtn RightBtn" type="button">
                                            <img alt="다음" src="/imgs/round_arrow_right_gray024.7f7e18a3.svg">
                                        </button>
                                        <button class="NavigationBtn LeftBtn" type="button">
                                            <img alt="이전" src="/imgs/round_arrow_left_gray024.707193e8.svg">
                                        </button>
                                    </div>
                                    <div class="ItemImgPagination">
                                        <p><span class="snapIndex">1</span>/<span class="slideIndex">5</span></p>
                                    </div>
                                </div>
                                <button onclick="toggleBookmark(this)"
                                        th:class="${reviewableItem.isBookmarkChecked?'ItemBookMarkBtn active':'ItemBookMarkBtn'}"
                                        th:data-id="*{id}" type="button">
                                    <img alt="북마크" src="/imgs/bookmark_line_white_shadow_48.png">
                                </button>
                            </div>
                            <a class="ItemTextContainer"
                               th:href="@{/place/detail/{placeId}(placeId = ${reviewableItem.id})}">
                                <div class="ItemHostNameContainer">
                                    <span class="ItemHostName" th:text="*{placeAddress.address}"></span>
                                    <div class="ItemCountsContainer">
                                        <div class="ItemsStarCountContainer">
                                            <img alt="후기갯수" class="ItemCountImg"
                                                 src="/imgs/star_filled_paintYellow056.a8eb6e44.svg">
                                            <span class="ItemCountText"
                                                  th:text="|*{evalAvg}(*{evalCount})|"></span>
                                        </div>
                                        <div class="ItemsLikeCountContainer">
                                            <img alt="북마크갯수" class="ItemCountImg bookmark"
                                                 src="/imgs/bookmark_thin.svg">
                                            <span class="ItemCountText" th:text="*{bookmarkCount}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ItemSpaceNameContainer">
                                    <p class="ItemSpaceName" th:text="*{title}"></p>
                                </div>
                                <div class="ItemPriceContainer">
                                    <span class="ItemPrice"
                                          th:text="${#numbers.formatInteger(reviewableItem.price, 3, 'COMMA')} + '원'"></span>
                                </div>
                            </a>
                            <div class="ItemBtnWrap">
                                <button class="BottomButton red reservationDelete"
                                        th:data-reservation-id="*{reservationId}"
                                        type="button">
                                    <span>삭제하기</span>
                                </button>
                                <button class="BottomButton blue reservationWrite"
                                        th:data-address="*{placeAddress.address}"
                                        th:data-bookmark-count="*{bookmarkCount}"
                                        th:data-check-in="*{#temporals.format(checkIn, 'yyyy년 MM월 dd일 HH시')}"
                                        th:data-check-out="*{#temporals.format(checkOut, 'yyyy년 MM월 dd일 HH시')}"
                                        th:data-content="*{content}"
                                        th:data-eval="|*{evalAvg}(*{evalCount})|"
                                        th:data-image="|*{placeFiles[0].uploadPath}/t_*{placeFiles[0].uuid}_*{placeFiles[0].fileName}|"
                                        th:data-price="${#numbers.formatInteger(reviewableItem.price, 3, 'COMMA')} + '원'"
                                        th:data-reservation-id="*{reservationId}"
                                        th:data-status="*{reservationStatus.displayName}"
                                        th:data-title="*{title}" th:data-visitors="*{visitors}"
                                        type="button">
                                    <span>작성하기</span>
                                </button>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>
            <th:block th:if="${notReviewedList.empty}">
                <div class="mp-no-list">
                    <span>작성가능한 후기가 없습니다.</span>
                </div>
            </th:block>
        </article>


        <section class="pagination-container">
            <span class="pagination-previous" th:if="${pagination.hasPrevBlock()}">
                <a class="pagination-btns first" th:href="@{/mypage/reviews/reviewable(page=1)}" title="맨 처음">
                    <i class="fa-solid fa-chevron-left"></i>
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a class="pagination-btns" th:href="@{/mypage/reviews/reviewable(page=${pagination.startPage - 1})}"
                   title="이전">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
            </span>

            <span class="pagination-body">
                <span class="pagination-btns"
                      th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                    <a th:class="${i == pagination.currentPage ? 'active' : ''}"
                       th:href="@{/mypage/reviews/reviewable(page=${i})}"
                       th:text="${i}"></a>
                </span>
            </span>

            <span class="pagination-next" th:if="${pagination.hasNextBlock()}">
                <a class="pagination-btns" th:href="@{/mypage/reviews/reviewable(page=${pagination.endPage+1})}"
                   title="다음">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <a class="pagination-btns end" th:href="@{/mypage/reviews/reviewable(page=${pagination.lastPage})}"
                   title="맨 끝">
                    <i class="fa-solid fa-chevron-right"></i>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </span>
        </section>

    </div>
</main>

<footer th:replace="~{global-templates/header-footer :: footer}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/js/global-js/global.js"></script>
<script src="/js/global-js/chat.js"></script>
<script src="/js/mypage/mypage.js"></script>
<script src="/js/mypage/reviews.js"></script>
<script src="/js/mypage/bookmarks.js"></script>
<script src="/js/global-js/image-slide.js"></script>
<script>
    document.getElementById('reviews').classList.add('active');
</script>

</html>