* {
    padding: 0;
    margin: 0;
}

*, :after, :before {
    box-sizing: border-box;
    outline: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, pre, q, ruby, s, samp, section, small, strike, sub, summary, sup, table, time, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}

a, a:hover {
    text-decoration: none;
}

a {
    color: #000;
}

a, button, label {
    cursor: pointer;
}

img {
    vertical-align: top;
}

.MainContainer{
    display: flex;
    flex-direction: column;
}

.ReferenceHallContentListContainer{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.ReferenceHallContentList{
    margin-top: 124px;
    display: flex;
    flex-direction: column;
    width: calc(91.5625%);
}

.ReferenceHallContentListTitle{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Regular, sans-serif;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.06em;
    color: rgb(36, 36, 36);
}

.swiper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    touch-action: pan-y;
}

.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

/*.swiper-backface-hidden*/
.swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ContentWrapper{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 4px;
    margin-bottom: 180px;
}

.ReferenceHallContentImg{
    cursor: pointer;
    width: 100% !important;
}

.ReferenceHallContentTitle{
    margin-top: 10px;
    font-family: Bold, sans-serif;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: -0.04em;
    color: rgb(36, 36, 36);
    cursor: pointer;
    width: fit-content;
}

.ReferenceHallContentText{
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: Regular, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: rgb(36, 36, 36);
    width: fit-content;
    cursor: pointer;
    white-space: pre-wrap;
}

.ListWrapper{
    display: flex;
    flex-direction: column;
    padding: 0px 166px;
    margin-bottom: 230px;
}

.ListCategoryContainer{
    position: relative;
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
}

.AllCategory{
    min-width: fit-content;
    height: 36px;
    cursor: pointer;
    margin-right: 0px;
    font-family: Bold, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.06em;
    padding: 8px 16px;
    color: rgb(0, 117, 235);
    border: 1px solid rgb(0, 117, 235);
    border-radius: 30px;
}

.Category{
    min-width: fit-content;
    height: 36px;
    cursor: pointer;
    margin-right: 0px;
    font-family: Regular, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.06em;
    padding: 8px 16px;
    color: rgb(112, 112, 112);
    border: 1px solid rgb(212, 219, 226);
    border-radius: 30px;
}

.ListCategoryContainer .swiper-slide {
    width: fit-content;
}

.AllCategory{
    min-width: fit-content;
    height: 36px;
    cursor: pointer;
    margin-right: 0px;
    font-family: Bold, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.06em;
    padding: 8px 16px;
    color: rgb(0, 117, 235);
    border: 1px solid rgb(0, 117, 235);
    border-radius: 30px;
}

.Category{
    min-width: fit-content;
    height: 36px;
    cursor: pointer;
    margin-right: 0px;
    font-family: Regular, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.06em;
    padding: 8px 16px;
    color: rgb(112, 112, 112);
    border: 1px solid rgb(212, 219, 226);
    border-radius: 30px;
}

.Etc{
    min-width: fit-content;
    height: 36px;
    cursor: pointer;
    margin-right: 45px;
    font-family: Regular, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.06em;
    padding: 8px 16px;
    color: rgb(112, 112, 112);
    border: 1px solid rgb(212, 219, 226);
    border-radius: 30px;
}

.FilterBtn{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    padding: 20px 0px 30px 14px;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
}
.FilterBtn>button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(120, 143, 165, 0.2) 0px 2px 6px;
}

/* 필터 모달창 시작 */

.FilterModal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.28);
    z-index: 1060;
    overflow-y: auto;
}

.FilterModalContainer{
    position: absolute;
    bottom: 50%;
    left: 50%;
    max-height: calc(100% - 150px);
    transform: translate(-50%, 50%);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: auto;
}

.FilterModalHeader{
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 18px 0px;
    border-bottom: 1px solid rgb(212, 219, 226);
    border-radius: 20px 20px 0px 0px;
}

.FilterModalHeader > p{
    font-family: Bold, sans-serif;
    font-size: 16px;
    color: rgb(36, 36, 36);
}

.FilterModalCloseBtn{
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 1000;
}

.FilterModalBody{
    padding: 43px 18px 0px;
}

.FilterModalBodyHeader{
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 35px;
}

.FilterModalBodyHeader > p {
    font-family: Medium, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgb(36, 36, 36);
}

.SelectBox{
    height: 47px;
    padding: 0px 40px 2px 16px;
    color: rgb(87, 87, 87);
    font-size: 15px;
    font-family: Regular, sans-serif;
    letter-spacing: -0.38px;
    line-height: 21px;
    border: 1px solid rgb(212, 219, 226);
    border-radius: 4px;
    background-image: url(/img/arrow/arrow_down_1G_16.svg);
    background-position: calc(100% - 13px) center;
    background-repeat: no-repeat;
    appearance: none;
    cursor: pointer;
}

.SelectBox > option{
    color: rgb(36, 36, 36);
}

.SelectBox > option:first-child{
    color: rgb(87, 87, 87);
}

.FilterModalCategory{
    display: flex;
    flex-wrap: wrap;
    gap: 12px 10px;
}

.FilterModalCategoryChild{
    height: 36px;
    padding: 6px 13px 7px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.03) 1px 2px 2px 0px;
    border: 1px solid rgb(212, 219, 226);
    background-color: rgb(255, 255, 255);
    font-family: Regular, sans-serif;
    font-size: 15px;
    letter-spacing: -0.75px;
    color: rgb(87, 87, 87);
}

.FilterModalCategoryChildOn{
    height: 36px;
    padding: 6px 13px 7px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.03) 1px 2px 2px 0px;
    border: 1px solid rgb(0, 117, 235);
    background-color: rgb(0, 117, 235);
    font-family: Regular, sans-serif;
    font-size: 15px;
    letter-spacing: -0.75px;
    color: rgb(255, 255, 255);
}

.FilterModalCategoryChild:hover {
    border-color: rgb(0, 117, 235);
}

.FilterModalFooter{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 18px 26px;
}

.FilterModalFooterBtnContainer{
    width: 324px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 10px;
}

.FilterModalFooterResetBtn{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    padding: 0px 15px;
    font-size: 16px;
    line-height: 27px;
    border-radius: 4px;
    white-space: nowrap;
    font-family: Regular, sans-serif;
    color: rgb(87, 87, 87);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 219, 226);
}

.FilterModalFooterSaveBtn{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    padding: 0px 15px;
    font-size: 16px;
    font-family: Medium, sans-serif;
    line-height: 27px;
    border-radius: 4px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 117, 235);
}

.FilterModalFooterBtnContainer > button:first-child {
    width: 96px;
}

/* 필터 모달창 끝 */

.ContentListContainer{
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(4, calc(25% - 13px));
}

.ContentOneContainer{
    border-radius: 4px;
    border: 1px solid rgb(212, 219, 226);
    cursor: pointer;
    overflow: hidden;
}

.ContentOneBtn{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 48px;
    height: 48px;
}

.BookMarkImg{
    width: 100%;
}

.ContentMainImgContainer{
    border-radius: 4px;
    border: 1px solid rgb(212, 219, 226);
    cursor: pointer;
    overflow: hidden;
}

.ContentMainImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ContentTitle{
    width: 100%;
    padding: 15px 17px 17px;
}

.ContentTitle > p {
    width: 100%;
    font-family: Bold, sans-serif;
    font-size: 15px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
