<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>관리자 페이지 - 회원 관리</title>
  <link rel="stylesheet" th:href="@{/css/admin/adminUser.css}" />
</head>
<body>
<div class="admin-main">
  <div class="admin-app">
    <!-- 관리자 사이드메뉴 flagment -->
    <div class="admin-container">
      <aside class="admin-aside-menu">
        <!-- 관리자 프로필 -->
        <div class="admin-pfp">
          <!-- 관리자 프로필 사진 업로드 -->
          <div class="admin-pfp-img-upload">
            <label class="adminPfpImgUpload">
              <div class="admin-pfp-img-icon">
                <img class="amdin-pfp-img" src="../img/exProfile_img.png" />
              </div>
            </label>
            <input type="file" id="adminPfpImgUpload" name="adminPfpImgUpload" />
          </div>
          <!-- 관리자 프로필 사진 업로드 -->

          <!-- 관리자 이름, 이메일 주소 -->
          <div class="admin-name-email">
            <div class="admin-name">홍길동</div>
            <div class="admin-email-box">
              <div class="admin-email">aaa@naver.com</div>
            </div>
          </div>
          <!-- 관리자 이름, 이메일 주소 -->
        </div>
        <!-- 관리자 프로필 -->

        <!-- 관리자 사이드 메뉴 -->
        <div class="admin-side-menu">
          <a href="#" class="side-menu">
            <div class="admin-management user-management">회원 관리</div>
          </a>
          <a href="#" class="side-menu">
            <div class="admin-management board-management">게시판 관리</div>
          </a>
          <a href="#" class="side-menu">
            <div class="admin-management pay-management">결제 관리</div>
          </a>
          <a href="#" class="side-menu">
            <div class="admin-management admin-confirm-management">관리자 승인</div>
          </a>
        </div>
        <!-- 관리자 사이드 메뉴 -->
      </aside>
    </div>
    <!-- 관리자 사이드메뉴 flagment -->

    <!-- 관리자 카테고리 및 회원 정보 검색 및 테이블 -->
    <div class="admin-category">
      <!-- 관리자 카테고리 -->
      <div class="category">
        <div class="admin-big-category">
          <h2>회원 관리</h2>

          <div class="admin-small-category">
            <a href="#" class="admin-small-category-url categoty-url">
              <h4>회원 정보</h4>
            </a>
          </div>
        </div>
      </div>
      <!-- 관리자 카테고리 -->

      <!-- 회원 정보 검색 및 테이블 -->
      <form action="#" method="#">
        <div class="user-search">
          <span>이름 : </span>
          <input type="text" placeholder="이름" class="user-search-name" />
          <span>아이디 : </span>
          <input type="text" placeholder="아이디" class="user-search-id" />
          <span>대여/발매 : </span>
          <select name="mode" id="mode" class="user-search-place-ticket">
            <option value="">선택</option>
            <option value="1">대여</option>
            <option value="2">발매</option>
          </select>
          <button type="button" class="search-btn">검색</button>
          <!-- 장소일 때, 티켓일 때 드롭박스 달리 보이게 설정 -->
        </div>
      </form>

      <div class="table-box">
        <table class="user-search-table">
          <thead>
          <tr class="user-table-category">
            <td class="user-table-checkbox" align="center">
              <input type="checkbox" name="" id="user-table-category-check" />
            </td>
            <td class="user-name" align="center">이름</td>
            <td class="user-id" align="center">아이디</td>
            <td class="user-place-ticket" align="center">대여/발매</td>
            <td class="user-phonenumber" align="center">핸드폰 번호</td>
            <td class="user-email" align="center">이메일</td>
            <!-- <td class="user-address">주소</td>
            <td class="user-address-detail">상세주소</td>
            <td class="user-zipcode">우편번호</td> -->
            <td class="user-register-date" align="center">가입일</td>
            <td class="user-status" align="center">회원상태 관리</td>
            <td class="user-now-status" align="center">회원 상태</td>
          </tr>
          </thead>

          <tbody>
          <!-- 회원 1 -->
          <tr class="user-table-category">
            <td class="user-table-checkbox" align="center">
              <input type="checkbox" name="" class="user-check" id="user-checking" />
            </td>
            <td class="user-name" align="center">김철수</td>
            <td class="user-id" align="center">aaa</td>
            <td class="user-palce-tcket" align="center">대여</td>
            <td class="user-phonenumber" align="center">010-1111-1111</td>
            <td class="user-email" align="center">aaa@gmail.com</td>
            <!-- <td class="user-address">서울특별시</td>
            <td class="user-address-detail">강남구</td>
            <td class="user-zipcode">11111</td> -->
            <td class="user-register-date" align="center">2023-12-13</td>
            <td class="user-status-select" align="center">
              <select class="user-status-choice" name="status-choice">
                <option value="">선택</option>
                <option value="1">일반 회원</option>
                <option value="2">7일 정지</option>
                <!-- <option value="3">15일 정지</option>
                <option value="4">영구 정지</option> -->
              </select>
            </td>
            <td class="user-status-manegement" align="center">
              <div class="user-status-box Y">일반회원</div>
              <!-- 회원 상태 보여주기 -->
              <!-- <div class="user-status-box">정지 회원</div>
              <div class="user-status-box">영구 정지</div> -->
              <!-- 회원 상태 보여주기 -->
            </td>
          </tr>
          <!-- 회원 1 -->
          <!-- 회원 2 -->
          <tr class="user-table-category">
            <td class="user-table-checkbox" align="center">
              <input type="checkbox" name="" class="user-check" id="user-checking" />
            </td>
            <td class="user-name" align="center">홍길동</td>
            <td class="user-id" align="center">bbb</td>
            <td class="user-palce-tcket" align="center">대여</td>
            <td class="user-phonenumber" align="center">010-2222-2222</td>
            <td class="user-email" align="center">bbb@gmail.com</td>
            <!-- <td class="user-address">경기도</td>
            <td class="user-address-detail">수원시</td>
            <td class="user-zipcode">11222</td> -->
            <td class="user-register-date" align="center">2023-12-02</td>
            <td class="user-status-select" align="center">
              <select class="user-status-choice" name="status-choice">
                <option value="">선택</option>
                <option value="1">일반 회원</option>
                <option value="2">7일 정지</option>
                <!-- <option value="3">15일 정지</option>
                <option value="4">영구 정지</option> -->
              </select>
            </td>
            <td class="user-status-manegement" align="center">
              <!-- <div class="user-status-box">일반회원</div> -->
              <!-- 회원 상태 보여주기 -->
              <div class="user-status-box B">정지회원</div>
              <!-- <div class="user-status-box">영구 정지</div> -->
              <!-- 회원 상태 보여주기 -->
            </td>
          </tr>
          <!-- 회원 2 -->
          <!-- 회원 3 -->
          <tr class="user-table-category">
            <td class="user-table-checkbox" align="center">
              <input type="checkbox" name="" class="user-check" id="user-checking" />
            </td>
            <td class="user-name" align="center">이유리</td>
            <td class="user-id" align="center">ccc</td>
            <td class="user-palce-tcket" align="center">발매</td>
            <td class="user-phonenumber" align="center">010-3333-3333</td>
            <td class="user-email" align="center">ccc@gmail.com</td>
            <!-- <td class="user-address">경기도</td>
            <td class="user-address-detail">오산시</td>
            <td class="user-zipcode">12345</td> -->
            <td class="user-register-date" align="center">2023-11-21</td>
            <td class="user-status-select" align="center">
              <select class="user-status-choice" name="status-choice">
                <option value="">선택</option>
                <option value="1">일반 회원</option>
                <option value="2">7일 정지</option>
                <!-- <option value="3">15일 정지</option>
                <option value="4">영구 정지</option> -->
              </select>
            </td>
            <td class="user-status-manegement" align="center">
              <!-- <div class="user-status-box">일반 회원</div> -->
              <!-- 회원 상태 보여주기 -->
              <!-- <div class="user-status-box">정지 회원</div> -->
              <div class="user-status-box B">영구정지</div>
              <!-- 회원 상태 보여주기 -->
            </td>
          </tr>
          <!-- 회원 3 -->
          </tbody>
        </table>
      </div>
      <!-- 회원 정보 검색 및 테이블 -->
    </div>
    <div class="user-status-btn">
      <button type="button" class="user-management-btn">변경</button>
    </div>
    <!-- 관리자 카테고리 및 회원 정보 검색 및 테이블 -->
  </div>
</div>
</body>

<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"
></script>
<script src="../js/adminUser.js"></script>
</html>
