<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>관리자 페이지 - 댓글 관리</title>
  <link rel="stylesheet" href="../css/adminReply.css" />
</head>
<body>
<div class="admin-main">
  <div class="admin-app">
    <!-- 관리자 사이드메뉴 flagment -->
    <div class="admin-container">
      <aside class="admin-aside-menu">
        <!-- 관리자 프로필 -->
        <div class="admin-pfp">
          <!-- 관리자 프로필 사진 업로드 -->
          <div class="admin-pfp-img-upload">
            <label class="adminPfpImgUpload">
              <div class="admin-pfp-img-icon">
                <img class="amdin-pfp-img" src="../img/exProfile_img.png" />
              </div>
            </label>
            <input type="file" id="adminPfpImgUpload" name="adminPfpImgUpload" />
          </div>
          <!-- 관리자 프로필 사진 업로드 -->

          <!-- 관리자 이름, 이메일 주소 -->
          <div class="admin-name-email">
            <div class="admin-name">홍길동</div>
            <div class="admin-email-box">
              <div class="admin-email">aaa@naver.com</div>
            </div>
          </div>
          <!-- 관리자 이름, 이메일 주소 -->
        </div>
        <!-- 관리자 프로필 -->

        <!-- 관리자 사이드 메뉴 -->
        <div class="admin-side-menu">
          <a href="#" class="side-menu">
            <div class="admin-management user-management">회원 관리</div>
          </a>
          <a href="#" class="side-menu">
            <div class="admin-management board-management">게시판 관리</div>
          </a>
          <a href="#" class="side-menu">
            <div class="admin-management pay-management">결제 관리</div>
          </a>
          <a href="#" class="side-menu">
            <div class="admin-management admin-confirm-management">관리자 승인</div>
          </a>
        </div>
        <!-- 관리자 사이드 메뉴 -->
      </aside>
    </div>
    <!-- 관리자 사이드메뉴 flagment -->

    <!-- 관리자 카테고리 및 회원 정보 검색 및 테이블 -->
    <div class="admin-category">
      <!-- 관리자 카테고리 -->
      <div class="category">
        <div class="admin-big-category">
          <h2>댓글 관리</h2>

          <div class="admin-small-category-container">
            <div class="admin-small-category1">
              <a href="#" class="admin-small-category-url categoty-url">
                <h4>게시글 관리</h4>
              </a>
            </div>
            <div class="admin-small-category2">
              <a href="#" class="admin-small-category-url categoty-url">
                <h4>댓글 관리</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- 관리자 카테고리 -->

      <!-- 회원 정보 검색 및 테이블 -->
      <form action="#" method="#">
        <div class="user-search">
          <span>작성자 : </span>
          <input type="text" placeholder="작성자" class="user-search-writer" />
          <span>게시판 : </span>
          <select name="place-ticket" id="place-ticket" class="select-place-ticket">
            <option value="1">대여</option>
            <option value="2">발매</option>
          </select>
          <span>작성일 : </span>
          <!-- 작성일 달력 들어갈 예정 -->
          <!--  -->
          <span>공개/비공개 : </span>
          <select name="public-secret" id="public-secret" class="select-public-secret">
            <option value="1">공개</option>
            <option value="2">비공개</option>
          </select>
          <button type="button" class="search-btn">검색</button>
        </div>
      </form>

      <div class="table-box">
        <table class="reply-search-table">
          <thead>
          <tr class="reply-table-category">
            <td class="reply-table-checkbox" align="center">
              <input type="checkbox" name="" id="reply-table-category-check" />
            </td>
            <td class="reply-writer" align="center">작성자</td>
            <td class="reply-category" align="center">게시판</td>
            <td class="reply-title" align="center">댓글</td>
            <td class="reply-write-date" align="center">작성일</td>
            <td class="reply-public-secret" align="center">공개/비공개</td>
            <td class="reply-status" align="center">상태</td>
          </tr>
          </thead>

          <tbody>
          <tr class="reply-table-category">
            <td class="reply-checkbox" id="reply-checking" align="center">
              <input type="checkbox" name="" class="reply-check" id="reply-checking" />
            </td>
            <td class="reply-writer" align="center">김철수</td>
            <td class="reply-category" align="center">대여</td>
            <td class="reply-title" align="center">풋살장 이용해봤는데 너무 좋았습니다!</td>
            <td class="reply-write-date" align="center">2023-12-13</td>
            <td class="reply-public-secret" align="center">
              <select class="select-public-secret" align="center">
                <option value="">선택</option>
                <option value="1">공개</option>
                <option value="2">비공개</option>
              </select>
            </td>
            <td class="reply-status" align="center">
              <div class="reply-status-box Y">공개</div>
            </td>
          </tr>

          <tr class="reply-table-category">
            <td class="reply-checkbox" id="reply-checking" align="center">
              <input type="checkbox" name="" class="reply-check" id="reply-checking" />
            </td>
            <td class="reply-writer" align="center">김철수</td>
            <td class="reply-category" align="center">대여</td>
            <td class="reply-title" align="center">풋살장 이용해봤는데 너무 좋았습니다!</td>
            <td class="reply-write-date" align="center">2023-12-13</td>
            <td class="reply-public-secret" align="center">
              <select class="select-public-secret" align="center">
                <option value="">선택</option>
                <option value="1">공개</option>
                <option value="2">비공개</option>
              </select>
            </td>
            <td class="reply-status" align="center">
              <div class="reply-status-box Y">공개</div>
            </td>
          </tr>

          <tr class="reply-table-category">
            <td class="reply-checkbox" id="reply-checking" align="center">
              <input type="checkbox" name="" class="reply-check" id="reply-checking" />
            </td>
            <td class="reply-writer" align="center">김철수</td>
            <td class="reply-category" align="center">대여</td>
            <td class="reply-title" align="center">풋살장 이용해봤는데 너무 좋았습니다!</td>
            <td class="reply-write-date" align="center">2023-12-13</td>
            <td class="reply-public-secret" align="center">
              <select class="select-public-secret" align="center">
                <option value="">선택</option>
                <option value="1">공개</option>
                <option value="2">비공개</option>
              </select>
            </td>
            <td class="reply-status" align="center">
              <div class="reply-status-box B">비공개</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="reply-status-btn">
      <button type="button" class="board-management-btn">변경</button>
    </div>
    <!-- 관리자 카테고리 및 회원 정보 검색 및 테이블 -->
  </div>
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"
></script>
<script src="../js/adminReply.js"></script>
</html>
