<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>관리자 페이지 - 게시판 관리</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminPlace.css}"/>
    <link th:href="@{/imgs/logo/favicon.png}" rel="icon">
    <link rel="stylesheet" th:href="@{/css/admin/datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/global-css/adminSideBar.css}"/>
    <link rel="stylesheet" th:href="@{/css/global-css/root.css}">
</head>
<body>
<header th:replace="~{global-templates/header-footer :: header}"></header>
<div class="admin-main">
    <div class="admin-app">
        <!-- 관리자 사이드메뉴 flagment -->
        <div class="admin-container" th:replace="~{global-templates/adminSideBar :: adminSideBar}"></div>
        <!-- 관리자 사이드메뉴 flagment -->

        <!-- 관리자 카테고리 및 회원 정보 검색 및 테이블 -->
        <div class="admin-category">
            <!-- 관리자 카테고리 -->
            <div class="category">
                <div class="admin-big-category">
                    <h2>게시글 관리</h2>

                    <div class="admin-small-category-container">
                        <div class="admin-small-category1">
                            <a href="#" class="admin-small-category-url categoty-url">
                                <h4>장소 관리</h4>
                            </a>
                        </div>
                        <!--            <div class="admin-small-category2">-->
                        <!--              <a href="#" class="admin-small-category-url categoty-url">-->
                        <!--                <h4>댓글 관리</h4>-->
                        <!--              </a>-->
                        <!--            </div>-->
                    </div>
                </div>
            </div>
            <!-- 관리자 카테고리 -->

            <!-- 회원 정보 검색 및 테이블 -->
            <form action="#" method="#">
                <div class="user-search">
                    <span>작성자 : </span>
                    <input type="text" id="email" placeholder="작성자" class="user-search-writer"/>
                    <span>장소명 : </span>
                    <input type="text" id="placeTitle" placeholder="장소명" class="user-search-writer"/>
                    <!--                    <span>작성일 : </span>-->
                    <!-- 작성일 달력 들어갈 예정 -->

                    <span>상태 : </span>
                    <select name="public-secret" id="status" class="select-public-secret">
                        <option value="">전체</option>
                        <option th:value="${status.name}" th:each="status : ${enumValues}"
                                th:text="${status.displayName}"></option>
                    </select>
                    <button type="button" class="search-btn">검색</button>
                </div>
            </form>

            <div class="table-box">
                <table class="board-search-table">
                    <thead>
                    <tr class="reply-table-category">
                        <td class="board-table-checkbox" align="center">
                            <input type="checkbox" name="" id="board-table-category-check"/>
                        </td>
                        <td class="board-id" align="center">번호</td>
                        <td class="board-writer" align="center">작성자 이메일</td>
                        <td class="board-title" align="center">장소 이름</td>
                        <td class="board-write-date" align="center">작성일</td>
                        <td class="board-status" align="center">현재 상태</td>
                        <td class="board-public-secret" align="center">승인/거절</td>
                    </tr>
                    </thead>

                    <tbody class="tbody-place">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="board-status-btn">
            <button type="button" class="board-management-btn">변경</button>
        </div>
        <!-- 관리자 카테고리 및 회원 정보 검색 및 테이블 -->
    </div>
</div>
<footer th:replace="~{global-templates/header-footer :: footer}"></footer>
</body>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/c6992f5b12.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<script type="module" th:src="@{/js/global-js/global.js}"></script>
<script th:src="@{/js/admin/adminPlace.js}"></script>
</html>
