<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 페이지 - 관리자 승인</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminApproval.css}" />
    <link th:href="@{/imgs/logo/favicon.png}" rel="icon">
    <link rel="stylesheet" th:href="@{/css/global-css/adminSideBar.css}"/>
    <link rel="stylesheet" th:href="@{/css/global-css/root.css}">
</head>
<body>
<div class="admin-main">
    <div class="admin-app">
        <!-- 관리자 사이드메뉴 flagment -->
        <div class="admin-container" th:replace="~{global-templates/adminSideBar :: adminSideBar}"></div>
        <!-- 관리자 사이드메뉴 flagment -->

        <!-- 관리자 카테고리 및 회원 정보 검색 및 테이블 -->
        <div class="admin-category">
            <!-- 관리자 카테고리 -->
            <div class="category">
                <div class="admin-big-category">
                    <h2>승인 관리</h2>

                    <div class="admin-small-category">
                        <a href="#" class="admin-small-category-url categoty-url">
                            <h4>관리자 승인</h4>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 관리자 카테고리 -->

            <!-- 회원 정보 검색 및 테이블 -->
            <form action="#" method="#">
                <div class="user-search">
                    <span>이름 : </span>
                    <input type="text" placeholder="이름" class="user-search-name" />
                    <span>아이디 : </span>
                    <input type="text" placeholder="아이디" class="user-search-id" />
                    <span>대여/발매 : </span>
                    <select name="mode" id="mode" class="user-search-place-ticket">
                        <option value="">선택</option>
                        <option value="1">대여</option>
                        <option value="2">발매</option>
                    </select>
                    <button type="button" class="search-btn">검색</button>
                </div>
            </form>

            <div class="table-box">
                <table class="approval-search-table">
                    <thead>
                    <tr class="approval-table-categoty">
                        <td class="approval-table-checkbox" align="center">
                            <input type="checkbox" name="" id="approval-category-check" />
                        </td>
                        <td class="user-name" align="center">호스트</td>
                        <td class="user-id" align="center">아이디</td>
                        <td class="user-place-ticket" align="center">대여/발매</td>
                        <td class="approval-register-date" align="center">등록일</td>
                        <td class="approval-status" align="center">승인상태 관리</td>
                        <td class="approval-now-status" align="center">승인상태</td>
                    </tr>
                    </thead>

                    <tbody>
                    <!-- 회원 1 -->
                    <tr class="approval-table-category">
                        <td class="approval-table-checkbox" align="center">
                            <input type="checkbox" name="" class="approval-check" id="approval-checking" />
                        </td>
                        <td class="user-name" align="center">김철수</td>
                        <td class="user-id" align="center">aaa</td>
                        <td class="user-place-ticket" align="center">대여</td>
                        <td class="approval-register-date" align="center">2023-12-10</td>
                        <td class="approval-status-select" align="center">
                            <select class="approval-status-choice" name="approval-choice">
                                <option value="">선택</option>
                                <option value="1">승인완료</option>
                                <option value="2">승인거절</option>
                            </select>
                        </td>
                        <td class="approval-status-management" align="center">
                            <div class="approval-status-box Y">승인완료</div>
                            <!-- <div class="approval-status-box B">승인거절</div> -->
                        </td>
                    </tr>

                    <!-- 회원 1 -->

                    <!-- 회원 2 -->
                    <tr class="approval-table-category">
                        <td class="approval-table-checkbox" align="center">
                            <input type="checkbox" name="" class="approval-check" id="approval-checking" />
                        </td>
                        <td class="user-name" align="center">김철수</td>
                        <td class="user-id" align="center">aaa</td>
                        <td class="user-place-ticket" align="center">발매</td>
                        <td class="approval-register-date" align="center">2023-12-11</td>
                        <td class="approval-status-select" align="center">
                            <select class="approval-status-choice" name="approval-choice">
                                <option value="">선택</option>
                                <option value="1">승인완료</option>
                                <option value="2">승인거절</option>
                            </select>
                        </td>
                        <td class="approval-status-management" align="center">
                            <!-- <div class="approval-status-box Y">승인완료</div> -->
                            <div class="approval-status-box B">승인거절</div>
                        </td>
                    </tr>
                    <!-- 회원 2 -->

                    <!-- 회원 3 -->
                    <tr class="approval-table-category">
                        <td class="approval-table-checkbox" align="center">
                            <input type="checkbox" name="" class="approval-check" id="approval-checking" />
                        </td>
                        <td class="user-name" align="center">김철수</td>
                        <td class="user-id" align="center">aaa</td>
                        <td class="user-place-ticket" align="center">발매</td>
                        <td class="approval-register-date" align="center">2023-12-12</td>
                        <td class="approval-status-select" align="center">
                            <select class="approval-status-choice" name="approval-choice">
                                <option value="">선택</option>
                                <option value="1">승인완료</option>
                                <option value="2">승인거절</option>
                            </select>
                        </td>
                        <td class="approval-status-management" align="center">
                            <div class="approval-status-box Y">승인완료</div>
                            <!-- <div class="approval-status-box B">승인거절</div> -->
                        </td>
                    </tr>

                    <!-- 회원 3 -->
                    </tbody>
                </table>
            </div>
            <!-- 회원 정보 검색 및 테이블 -->
        </div>
        <div class="approval-status-btn">
            <button type="button" class="approval-management-btn">변경</button>
        </div>
    </div>
</div>
</body>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/c6992f5b12.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<script type="module" th:src="@{/js/global-js/global.js}"></script>
<script th:src="@{/js/admin/adminApproval.js}"></script>
</html>
