<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 페이지 - 게시판 관리</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
            integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" th:href="@{/css/admin/adminTicket.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/datepicker.css}" />
</head>
<body>
<div class="admin-main">
    <div class="admin-app">
        <!-- 관리자 사이드메뉴 flagment -->
        <div class="admin-container">
            <aside class="admin-aside-menu">
                <!-- 관리자 프로필 -->
                <div class="admin-pfp">
                    <!-- 관리자 프로필 사진 업로드 -->
                    <div class="admin-pfp-img-upload">
                        <label class="adminPfpImgUpload">
                            <div class="admin-pfp-img-icon">
                                <img class="amdin-pfp-img" src="../img/exProfile_img.png" />
                            </div>
                        </label>
                        <input type="file" id="adminPfpImgUpload" name="adminPfpImgUpload" />
                    </div>
                    <!-- 관리자 프로필 사진 업로드 -->

                    <!-- 관리자 이름, 이메일 주소 -->
                    <div class="admin-name-email">
                        <div class="admin-name">홍길동</div>
                        <div class="admin-email-box">
                            <div class="admin-email">aaa@naver.com</div>
                        </div>
                    </div>
                    <!-- 관리자 이름, 이메일 주소 -->
                </div>
                <!-- 관리자 프로필 -->

                <!-- 관리자 사이드 메뉴 -->
                <div class="admin-side-menu">
                    <a href="#" class="side-menu">
                        <div class="admin-management user-management">회원 관리</div>
                    </a>
                    <a href="#" class="side-menu">
                        <div class="admin-management board-management">게시판 관리</div>
                    </a>
                    <a href="#" class="side-menu">
                        <div class="admin-management pay-management">결제 관리</div>
                    </a>
                    <a href="#" class="side-menu">
                        <div class="admin-management admin-confirm-management">관리자 승인</div>
                    </a>
                </div>
                <!-- 관리자 사이드 메뉴 -->
            </aside>
        </div>
        <!-- 관리자 사이드메뉴 flagment -->

        <!-- 관리자 카테고리 및 회원 정보 검색 및 테이블 -->
        <div class="admin-category">
            <!-- 관리자 카테고리 -->
            <div class="category">
                <div class="admin-big-category">
                    <h2>게시글 관리</h2>

                    <div class="admin-small-category-container">
                        <div class="admin-small-category1">
                            <a href="#" class="admin-small-category-url categoty-url">
                                <h4>장소글 관리</h4>
                            </a>
                        </div>
                        <div class="admin-small-category2">
                            <a href="#" class="admin-small-category-url categoty-url">
                                <h4>티켓글 관리</h4>
                            </a>
                        </div>
                        <div class="admin-small-category3">
                            <a href="#" class="admin-small-category-url categoty-url">
                                <h4>댓글 관리</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 관리자 카테고리 -->

            <!-- 회원 정보 검색 및 테이블 -->
            <form action="#" method="#">
                <div class="user-search">
                    <span>이메일 : </span>
                    <input type="text" placeholder="이메일" class="user-search-email" />
                    <span>닉네임 : </span>
                    <input type="text" placeholder="닉네임" class="user-search-nickname" />
                    <span>작성일 : </span>
                    <input name="date" id="datepicker" />
                    <span>공개/비공개 : </span>
                    <select name="public-secret" id="public-secret" class="select-public-secret">
                        <option value="1">공개</option>
                        <option value="2">비공개</option>
                    </select>
                    <button type="button" class="search-btn">검색</button>
                </div>
            </form>

            <div class="table-box">
                <table class="board-search-table">
                    <thead>
                    <tr class="reply-table-category">
                        <td class="board-table-checkbox" align="center">
                            <input type="checkbox" name="" id="board-table-category-check" />
                        </td>
                        <td class="board-writer" align="center">이메일</td>
                        <td class="board-category" align="center">닉네임</td>
                        <td class="board-title" align="center">글 제목</td>
                        <td class="board-write-date" align="center">작성일</td>
                        <td class="board-public-secret" align="center">공개/비공개</td>
                        <td class="board-status" align="center">상태</td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="board-table-category">
                        <td class="board-checkbox" align="center">
                            <input type="checkbox" name="" class="board-check" id="board-checking" />
                        </td>
                        <td class="board-email" align="center">김철수</td>
                        <td class="board-nicknami" align="center">철수</td>
                        <td class="board-title" align="center">풋살장 빌려드립니다!</td>
                        <td class="board-write-date" align="center">2023-12-13</td>
                        <td class="board-public-secret" align="center">
                            <select name="board-status" class="board-status-choice" align="center">
                                <option value="">선택</option>
                                <option value="1">공개</option>
                                <option value="2">비공개</option>
                            </select>
                        </td>
                        <td class="board-status" align="center">
                            <div class="board-status-box Y">공개</div>
                        </td>
                    </tr>

                    <tr class="board-table-category">
                        <td class="board-checkbox" align="center">
                            <input type="checkbox" name="" class="board-check" id="board-checking" />
                        </td>
                        <td class="board-email" align="center">김철수</td>
                        <td class="board-category" align="center">철수</td>
                        <td class="board-title" align="center">풋살장 빌려드립니다!</td>
                        <td class="board-write-date" align="center">2023-12-13</td>
                        <td class="board-public-secret" align="center">
                            <select name="board-status" class="board-status-choice" align="center">
                                <option value="">선택</option>
                                <option value="1">공개</option>
                                <option value="2">비공개</option>
                            </select>
                        </td>
                        <td class="board-status" align="center">
                            <div class="board-status-box Y">공개</div>
                        </td>
                    </tr>

                    <tr class="board-table-category">
                        <td class="board-checkbox" align="center">
                            <input type="checkbox" name="" class="board-check" id="board-checking" />
                        </td>
                        <td class="board-email" align="center">김철수</td>
                        <td class="board-nickname" align="center">철수</td>
                        <td class="board-title" align="center">풋살장 빌려드립니다!</td>
                        <td class="board-write-date" align="center">2023-12-13</td>
                        <td class="board-public-secret" align="center">
                            <select name="board-status" class="board-status-choice" align="center">
                                <option value="">선택</option>
                                <option value="1">공개</option>
                                <option value="2">비공개</option>
                            </select>
                        </td>
                        <td class="board-status" align="center">
                            <div class="board-status-box B">비공개</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="board-status-btn">
            <button type="button" class="board-management-btn">변경</button>
        </div>
        <!-- 관리자 카테고리 및 회원 정보 검색 및 테이블 -->
    </div>
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"
></script>
<!-- datepicker JavaScript -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script th:src="@{/js/admin/datepicker.js}"></script>
<script th:src="@{/js/admin/adminPlace.js}"></script>
</html>
