<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Spotick | 문의내역</title>
    <link href="/imgs/logo/favicon.png" rel="icon">
    <link href="/css/global-css/root.css" rel="stylesheet">
    <link href="/css/mypage/mypage.css" rel="stylesheet">
    <link href="/css/mypage/mypage-modal.css" rel="stylesheet">
    <link href="/css/global-css/post-list-card-item.css" rel="stylesheet">
    <link href="/css/global-css/chat.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2364e2b536.js"></script>
</head>

<body>

<div th:replace="~{global-templates/chat :: chat}"></div>

<div class="modal-bg">
    <div th:replace="~{global-templates/global-dialogue-modal :: global-dialogue}"></div>
    <div th:replace="~{global-templates/global-dialogue-modal :: global-selection}"></div>
    <div class="modal-inquiry">
        <div class="modal-place-content-container">
            <div class="modal-place-con-box">
                <div class="modal-place-title">문의 내용</div>
                <div class="modal-place-input-con">
                    <textarea class="modal-place-txarea" cols="30" id="detailContent" readonly
                              rows="10"></textarea>
                </div>
                <div class="modal-place-title">답변</div>
                <div class="modal-place-input-con">
                    <textarea class="modal-place-txarea" cols="30" id="detailResponse" placeholder="아직 답변받지 못했습니다!"
                              readonly
                              rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<header th:replace="~{global-templates/header-footer :: header}"></header>

<main class="my-page-main" id="page-body">
    <div th:replace="~{global-templates/mypage :: mypage-menu}"></div>
    <div class="mp-content">
        <article>
            <div class="mpc-title not-with-line">
                <h2>문의 내역</h2>
            </div>
            <nav class="mpc-top-nav">
                <button class="mpc-top-nav-button"
                        onclick="inquiryService.requestPlaceInquiries(1, inquiryService.reloadPlaceInquiries)"
                        type="button">
                    장소 문의(<span>0</span>)
                </button>
                <button class="mpc-top-nav-button"
                        onclick="inquiryService.requestTicketInquiries(1, inquiryService.reloadTicketInquiries)"
                        type="button">
                    티켓 문의(<span>0</span>)
                </button>
            </nav>
            <div th:replace="~{global-templates/loading :: loading}"></div>
            <div class="mpcr-container" id="inquiryContainer">
                <div>확인하고 싶은 내역을 상단 바에서 클릭해주세요.</div>
            </div>

            <section class="pagination-container"></section>

        </article>
    </div>
</main>

<footer th:replace="~{global-templates/header-footer :: footer}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/global-js/global.js"></script>
<script src="/js/mypage/mypage.js"></script>
<script src="/js/mypage/inquiry.js"></script>
<script src="/js/global-js/chat.js"></script>
<script>
    document.getElementById('inquiries').classList.add('active');
</script>

</html>