<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Spotick | 장소 관리</title>
    <link href="/css/global-css/root.css" rel="stylesheet">
    <link href="/css/mypage/mypage.css" rel="stylesheet">
    <link href="/css/mypage/mypage-modal.css" rel="stylesheet">
    <link href="/css/global-css/post-list-card-item.css" rel="stylesheet">
    <link href="/css/place/register.css" rel="stylesheet"/>
    <link href="/css/global-css/chat.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2364e2b536.js"></script>
</head>

<body>

<div th:replace="~{global-templates/chat :: chat}"></div>

<div class="modal-bg">
    <div th:replace="~{global-templates/global-dialogue-modal :: global-dialogue}"></div>
    <div th:replace="~{global-templates/global-dialogue-modal :: global-selection}"></div>
    <div class="modal-place" style="height: 80%; overflow-y: auto">
        <form action="" class="register-form" enctype="multipart/form-data" method="post">
            <div class="guide-title-box">
                <p>장소 정보 수정</p>
            </div>

            <div class="notification-box">
                <span>장소 정보 수정 시 관리자의 승인이후 변경됩니다.</span>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 이름</p>
                    <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                    <p class="invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input id="placeName" name="placeName" placeholder="장소를 대표하는 이름을 입력해 주세요" required type="text">
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 소제목</p>
                    <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                    <p class="invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input id="placeSubTitle" name="placeSubTitle" placeholder="장소를 짧게 나타내는 소제목을 입력해주세요" required
                           type="text">
                </div>
            </div>


            <div class="map-box">
                <div class="input-guide flex">
                    <p class="input-title">위치 검색</p>
                    <p class="guide-msg">장소를 검색하신 후 클릭하여 핀을 찍어주세요</p>
                </div>
                <div class="search-wrap">
                    <div class="input-box search-box">
                        <input id="search" placeholder="장소를 검색해주세요" required type="text">
                    </div>

                    <div class="flex-align-center">
                        <button class="search-btn" type="button">
                            <i class="fa-solid fa-magnifying-glass" style="color: #343434;"></i>
                        </button>
                    </div>
                </div>
                <div id="map"></div>
                <input id="placeLat" name="placeLat" type="hidden">
                <input id="placeLng" name="placeLng" type="hidden">
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 주소</p>
                    <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                    <p class="invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input id="placeAddress" name="placeAddress" placeholder="장소 주소를 입력해 주세요" required type="text">
                </div>
                <div class="input-box">
                    <input id="placeAddressDetail" name="placeAddressDetail" placeholder="장소의 상세 주소를 입력해 주세요"
                           required type="text">
                </div>
            </div>

            <div class="img-wrap">
                <input accept="image/*" id="placeFile" multiple name="placeFile" type="file">
                <label class="file-label flex-align-center" for="placeFile">
                    <i class="fa-regular fa-image"></i>
                    <p>장소 사진을 넣어주세요</p>
                </label>
                <div class="file-container none">
                    <ul class="file-wrap">
                    </ul>

                    <div class="img-button-box">
                        <button class="prev" type="button">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </button>
                        <div></div>
                        <button class="next" type="button">
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </button>
                    </div>
                </div>

            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 설명</p>
                    <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                    <p class="invalid-msg"></p>
                </div>
                <label class="input-box textarea-box" for="placeInfo">
                    <textarea id="placeInfo" name="placeInfo"
                              placeholder="장소에 대해서 자세하게 설명해주세요" required></textarea>
                </label>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 이용규칙</p>
                    <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                    <p class="invalid-msg"></p>
                </div>
                <label class="input-box textarea-box" for="placeRule">
                    <textarea id="placeRule" name="placeInfo"
                              placeholder="장소 이용규칙에 대해서 적어주세요" required></textarea>
                </label>
            </div>

            <div class="price-people-container">
                <div class="input-wrap hour-price-wrap">
                    <div class="input-guide flex">
                        <p class="input-title price-title">시간당 대여 금액</p>
                        <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                        <p class="invalid-msg"></p>
                    </div>
                    <div class="input-box">
                        <input id="placeDefaultPrice" min="0" name="placeDefaultPrice" placeholder="금액을 입력해주세요"
                               required
                               type="number">
                        <p class="unit">원</p>
                    </div>
                </div>
                <div class="input-wrap hour-price-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">기본인원</p>
                        <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                        <p class="guide-msg">게스트가 예약할 때 기본 인원을 초과하면 할증이 붙어요</p>
                        <p class="invalid-msg"></p>
                    </div>
                    <div class="input-box">
                        <input id="placeDefaultPeople" min="1" name="placeDefaultPeople" placeholder="기본 인원을 입력해주세요"
                               required
                               type="number">
                        <p class="unit">명</p>
                    </div>
                </div>
            </div>

            <div class="guide-title-box">
                <p>호스트 정보</p>
            </div>

            <div class="price-people-container">
                <div class="input-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">예금주</p>
                        <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                        <p class="invalid-msg"></p>
                    </div>
                    <div class="input-box">
                        <input id="accountHolder" name="accountHolder" placeholder="예금주를 입력해주세요"
                               required
                               type="text">
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">은행명</p>
                        <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                        <p class="invalid-msg"></p>
                    </div>
                    <div class="input-box select-box">
                        <select class="select" id="bankName" name="bankName">
                            <option value="국민">국민</option>
                            <option value="우리">우리</option>
                            <option value="농협">농협</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">계좌번호</p>
                    <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                    <p class="invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input id="accountNumber" name="accountNumber" placeholder="계좌번호를 입력해주세요" required
                           type="text">
                </div>
            </div>
            <div class="flex-center start">
                <button class="cancel" type="button">취소</button>
                <button class="submit-btn flex-align-center" type="button">신청하기</button>
            </div>
        </form>
    </div>
</div>

<header th:replace="~{global-templates/header-footer :: header}"></header>

<main class="my-page-main" id="page-body">
    <div th:replace="~{global-templates/mypage :: mypage-menu}"></div>
    <div class="mp-content">
        <article>
            <div class="mpc-title">
                <h2>장소 관리</h2>
            </div>
            <div class="mpcp-wrap" style="width: 80%">
                <article>
                    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                        <div class="ItemTextContainer" style="max-width: 400px">
                            <div class="ItemHostNameContainer">
                                <span class="ItemHostName">서울 성북구</span>
                                <div class="ItemCountsContainer">
                                    <div class="ItemsStarCountContainer">
                                        <img alt="후기갯수" class="ItemCountImg"
                                             src="/imgs/star_filled_paintYellow056.a8eb6e44.svg">
                                        <span class="ItemCountText">4.0(20)</span>
                                    </div>
                                    <div class="ItemsLikeCountContainer">
                                        <img alt="북마크갯수" class="ItemCountImg bookmark"
                                             src="/imgs/bookmark_thin.svg">
                                        <span class="ItemCountText">1724</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ItemSpaceNameContainer">
                                <p class="ItemSpaceName">낙산관 실내체육관(낙산관)</p>
                            </div>
                            <div class="ItemPriceContainer">
                                <span class="ItemPrice">2023.12.30 ~ 2024.01.30</span>
                            </div>
                        </div>
                        <div class="mpcre-img-con" style="margin-right: 0;">
                            <img
                                    src="//img.hourplace.co.kr/place/user/47919/2022/05/29/74f9815f-fc9d-4dec-8037-41861f43cae9?s=550x364&amp;t=cover&amp;q=80">
                        </div>
                    </div>
                    <div class="mpcp-actions">
                        <div class="mpcpa-btn-con">
                            <a href="#">
                                <button class="mpcpa-btn" type="button">
                                    <span>예약 관리</span>
                                    <div class="mpcpa-alarm">
                                        <span>99</span>
                                    </div>
                                </button>
                            </a>
                            <a href="#">
                                <button class="mpcpa-btn" type="button">
                                    <span>문의 관리</span>
                                    <div class="mpcpa-alarm">
                                        <span>99</span>
                                    </div>
                                </button>
                            </a>
                        </div>
                        <div class="mpcpa-modal-btn">
                            <button onclick="toggleDropdown(this)" type="button">
                                <i class="fa-solid fa-ellipsis"></i>
                                <div class="mpc-dropdown">
                                    <div class="action-item" onclick="placeManageService.showGSForStopPlace(5)">
                                        <span>장소 대여 중지</span>
                                    </div>
                                    <div class="action-item" onclick="placeManageService.showGsForResumePlace(5)">
                                        <span>장소 대여 재개</span>
                                    </div>
                                    <div class="action-item"
                                         onclick="placeManageService.editPlace('장소 1 테스트', '테스트 정보', 36.35181504357576, 127.37817628873198, '대전광역시 서구 대덕대로 211', '312', '테스트', '테스트1234', 10000, 4, '조남호', '우리', '740101-45-123419')">
                                        <span>장소 정보 수정</span>
                                    </div>
                                    <div class="action-item" onclick="placeManageService.showGsForRemovePlace(5)">
                                        <span>장소 삭제</span>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </article>
                <article>
                    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                        <div class="ItemTextContainer" style="max-width: 400px">
                            <div class="ItemHostNameContainer">
                                <span class="ItemHostName">서울 성북구</span>
                                <div class="ItemCountsContainer">
                                    <div class="ItemsStarCountContainer">
                                        <img alt="후기갯수" class="ItemCountImg"
                                             src="/imgs/star_filled_paintYellow056.a8eb6e44.svg">
                                        <span class="ItemCountText">4.0(20)</span>
                                    </div>
                                    <div class="ItemsLikeCountContainer">
                                        <img alt="북마크갯수" class="ItemCountImg bookmark"
                                             src="/imgs/bookmark_thin.svg">
                                        <span class="ItemCountText">1724</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ItemSpaceNameContainer">
                                <p class="ItemSpaceName">낙산관 실내체육관(낙산관)</p>
                            </div>
                            <div class="ItemPriceContainer">
                                <span class="ItemPrice">2023.12.30 ~ 2024.01.30</span>
                            </div>
                        </div>
                        <div class="mpcre-img-con" style="margin-right: 0;">
                            <img
                                    src="//img.hourplace.co.kr/place/user/47919/2022/05/29/74f9815f-fc9d-4dec-8037-41861f43cae9?s=550x364&amp;t=cover&amp;q=80">
                        </div>
                    </div>
                    <div class="mpcp-actions">
                        <div class="mpcpa-btn-con">
                            <a href="#">
                                <button class="mpcpa-btn" type="button">
                                    <span>예약 관리</span>
                                    <div class="mpcpa-alarm">
                                        <span>99</span>
                                    </div>
                                </button>
                            </a>
                            <a href="#">
                                <button class="mpcpa-btn" type="button">
                                    <span>문의 관리</span>
                                    <div class="mpcpa-alarm">
                                        <span>99</span>
                                    </div>
                                </button>
                            </a>
                        </div>
                        <div class="mpcpa-modal-btn">
                            <button onclick="toggleDropdown(this)" type="button">
                                <i class="fa-solid fa-ellipsis"></i>
                                <div class="mpc-dropdown">
                                    <div class="action-item" onclick="placeManageService.showGSForStopPlace(5)">
                                        <span>장소 대여 중지</span>
                                    </div>
                                    <div class="action-item" onclick="placeManageService.showGsForResumePlace(5)">
                                        <span>장소 대여 재개</span>
                                    </div>
                                    <div class="action-item"
                                         onclick="placeManageService.editPlace('장소 1 테스트', '테스트 정보', 36.35181504357576, 127.37817628873198, '대전광역시 서구 대덕대로 211', '312', '테스트', '테스트1234', 10000, 4, '조남호', '우리', '740101-45-123419')">
                                        <span>장소 정보 수정</span>
                                    </div>
                                    <div class="action-item" onclick="placeManageService.showGsForRemovePlace(5)">
                                        <span>장소 삭제</span>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </article>
            </div>
        </article>
    </div>
</main>

<footer th:replace="~{global-templates/header-footer :: footer}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dc12d7c2624483dc7c019a0a91b727f&libraries=services"
        type="text/javascript"></script>
<script src="/js/global-js/global.js"></script>
<script src="/js/mypage/mypage.js"></script>
<script src="/js/place/register/register.js"></script>
<script src="/js/mypage/kakaoMapApi.js"></script>
<script src="/js/mypage/place.js"></script>
<script src="/js/global-js/chat.js"></script>
<script>
    document.getElementById('places').classList.add('active');
</script>

</html>