<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Spotick | 티켓팅 관리</title>
    <link href="/imgs/logo/favicon.png" rel="icon">
    <link href="/css/global-css/root.css" rel="stylesheet">
    <link href="/css/mypage/mypage.css" rel="stylesheet">
    <link href="/css/mypage/mypage-modal.css" rel="stylesheet">
    <link href="/css/ticket/ticket-register.css" rel="stylesheet"/>
    <link href="/css/global-css/chat.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2364e2b536.js"></script>
</head>

<body>
<div>
    <div th:replace="~{global-templates/chat :: chat}"></div>

    <div class="modal-bg" id="modal">
        <div th:replace="~{global-templates/new-global-dialogue-modal :: global-dialogue}"></div>
        <div th:replace="~{global-templates/new-global-dialogue-modal :: global-selection}"></div>
    </div>

    <header th:replace="~{global-templates/header-footer :: header}"></header>

    <main class="my-page-main" id="page-body">
        <div th:replace="~{global-templates/mypage :: mypage-menu}"></div>
        <div class="mp-content">
            <article>
                <div class="mpc-title not-with-line">
                    <h2>티켓팅 관리</h2>
                </div>
                <nav class="mpc-top-nav">
                    <a class="mpc-top-nav-button" th:classappend="${viewType == 'all' ? 'active' : ''}"
                       th:href="@{/mypage/tickets?page=1&view=all}">
                        전체(<span th:text="${ticketPage.getTotal()}"></span>)
                    </a>

                    <a class="mpc-top-nav-button" th:classappend="${viewType == 'upcoming' ? 'active' : ''}"
                       th:href="@{/mypage/tickets?page=1&view=upcoming}">
                        예정된 티켓팅(<span th:text="${ticketPage.getUpcomingCount()}"></span>)
                    </a>

                    <a class="mpc-top-nav-button" th:classappend="${viewType == 'past' ? 'active' : ''}"
                       th:href="@{/mypage/tickets?page=1&view=past}">
                        종료된 티켓팅(<span th:text="${ticketPage.getPastCount()}"></span>)
                    </a>
                </nav>
                <th:block th:if="${ticketPage.getPage().getTotalElements() > 0}">
                    <div class="mpct-content-wrap">
                        <div class="mpc-ticket-list">
                            <th:block th:each="hostTicket, i : ${ticketPage.getPage()}">
                                <th:block th:inline="javascript" th:object="${hostTicket}">
                                    <article class="ticketItem" th:idx="${i.index}">
                                        <div class="mpc-ticket-con">
                                            <a class="mpc-ticket-img-con" href="#">
                                                <img th:alt="${hostTicket.title}"
                                                     th:src="|/file/display?fileName=*{uploadPath}/t_*{uuid}_*{fileName}|">
                                            </a>
                                            <div class="mpct-card-content">
                                                <div class="mpccc-row">
                                                    <p class="mpccc-ticket-title general-ellipsis-1">
                                                        <a href="#" th:text="*{title}"></a>
                                                    </p>
                                                </div>
                                                <div class="mpccc-row">
                                                    <a class="mpccc-title-font general-ellipsis-1" href="#"
                                                       th:text="*{ticketAddress.address + ' ' + ticketAddress.addressDetail}"></a>
                                                </div>
                                                <div class="mpccc-row" style="margin-top: 10px;">
                                                    <p class="mpccc-price"
                                                       th:text="${#numbers.formatInteger(hostTicket.minPrice, 3, 'COMMA')} + '원'"></p>
                                                </div>
                                                <div class="mpccc-row" style="margin-top: 10px;">
                                                    <p class="mpccc-general-font"
                                                       th:text="*{#temporals.format(startDate, 'yyyy년 MM월 dd일') + ' ~ ' + #temporals.format(endDate, 'yyyy년 MM월 dd일')}"></p>
                                                </div>
                                                <div class="mpccc-row">
                                                    <a class="mpccc-line-btn"
                                                       th:href="@{/mypage/tickets/inquiries/{ticketId}(ticketId = *{ticketId})}">
                                                        <span>문의 관리</span>
                                                        <div class="mpccc-alarm" th:if="*{inquiriesCount > 0}">
                                                            <span th:text="*{inquiriesCount}"></span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mpc-slide-con">
                                            <a class="mpc-slide-item"
                                               th:href="@{/ticket/edit/{ticketId}(ticketId=*{ticketId})}">
                                                <span>티켓 정보 수정 하기</span>
                                            </a>
                                        </div>
                                    </article>
                                </th:block>
                            </th:block>
                        </div>
                        <div class="mpc-ticket-detail-con" id="ticketDetail">
                            <div class="mpctd-container" id="detailContainer">
                                <div class="mpctd-none">선택된 티켓이 없습니다.<br>좌측에서 선택해주세요.</div>
                            </div>
                        </div>
                    </div>
                </th:block>

                <th:block th:if="${ticketPage.getPage().getTotalElements() == 0}">
                    <div style="padding-top: 28px">
                        <div class="mp-no-list">
                            <span>티켓 정보가 없습니다.</span>
                        </div>
                    </div>
                </th:block>

            </article>

            <section class="pagination-container">
            <span class="pagination-previous" th:if="${pagination.hasPrevBlock()}">
                <a class="pagination-btns first" th:href="@{/mypage/tickets(page=1, view=${viewType})}" title="맨 처음">
                    <i class="fa-solid fa-chevron-left"></i>
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a class="pagination-btns"
                   th:href="@{/mypage/tickets(page=${pagination.startPage - 1}, view=${viewType})}"
                   title="이전">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
            </span>

                <span class="pagination-body">
                <span class="pagination-btns"
                      th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                    <a th:class="${i == pagination.currentPage ? 'active' : ''}"
                       th:href="@{/mypage/tickets(page=${i}, view=${viewType})}"
                       th:text="${i}"></a>
                </span>
            </span>

                <span class="pagination-next" th:if="${pagination.hasNextBlock()}">
                <a class="pagination-btns" th:href="@{/mypage/tickets(page=${pagination.endPage+1}, view=${viewType})}"
                   title="다음">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <a class="pagination-btns end"
                   th:href="@{/mypage/tickets(page=${pagination.lastPage}, view=${viewType})}"
                   title="맨 끝">
                    <i class="fa-solid fa-chevron-right"></i>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </span>
            </section>
        </div>
    </main>

    <footer th:replace="~{global-templates/header-footer :: footer}"></footer>
</div>
</body>
<script th:inline="javascript">
    document.getElementById('tickets').classList.add('active');

    const contents = [[${ticketPage.page.content}]];
</script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/global-js/global.js}" type="module"></script>
<script th:src="@{/js/global-js/chat.js}" type="module"></script>
<script th:src="@{/js/mypage/ticket.js}" type="module"></script>

</html>