<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Spotick | 마이페이지</title>
    <link href="/css/global-css/root.css" rel="stylesheet">
    <link href="/css/mypage/mypage.css" rel="stylesheet">
    <link href="/css/mypage/mypage-modal.css" rel="stylesheet">
    <link href="/css/global-css/chat.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2364e2b536.js"></script>
</head>

<body>

<div th:replace="~{global-templates/chat :: chat}"></div>

<div class="modal-bg">
    <div th:replace="~{global-templates/global-dialogue-modal :: global-dialogue}"></div>
    <div th:replace="~{global-templates/global-dialogue-modal :: global-selection}"></div>
    <div class="mypage-modal" id="profileModal">
        <div class="modal-row">
            <p style="font-weight: bold; font-size: 14px; line-height: 14px; color: rgb(158, 164, 170);">프로필 사진</p>
        </div>
        <div class="modal-row" style="margin-top: 20px">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/1.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/2.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/3.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/4.jpg">
        </div>
        <div class="modal-row" style="margin-top: 24px">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/5.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/6.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/7.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/8.jpg">
        </div>
        <div class="modal-row" style="margin-top: 24px">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/9.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/10.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/11.jpg">
            <label for="imageUploadInput">
                <div class="default-profile-con">
                    <svg height="54" viewBox="0 0 256 256" width="54" xmlns="http://www.w3.org/2000/svg">
                        <rect fill="none"/>
                        <line fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="16"
                              x1="40" x2="216" y1="128" y2="128"/>
                        <line fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="16"
                              x1="128" x2="128" y1="40" y2="216"/>
                    </svg>
                </div>
            </label>
            <input accept="image/jpg,image/png,image/jpeg,image/gif" hidden="hidden" id="imageUploadInput"
                   onchange="checkFileSize(this)"
                   type="file">
        </div>
    </div>
    <div class="mypage-modal" id="nicknameModal">
        <div class="modal-row" style="margin-top: 20px;">
            <p style="font-weight: bold; font-size: 12px; line-height: 14px; color: rgb(158, 164, 170);">
                새 닉네임
            </p>
        </div>
        <div class="modal-input-container" style="margin-top: 8px">
            <input id="newNickname" maxlength="10" oninput="checkInputLength()" placeholder="새 닉네임을 입력해주세요."
                   type="text">
        </div>
        <div style="display: flex; justify-content: center;">
            <button class="modal-confirm-btn" disabled="disabled" id="nicknameChangeButton" type="button">
                <p>
                    닉네임 저장
                </p>
            </button>
        </div>
    </div>
    <div class="mypage-modal" id="phoneModal">
        <div class="modal-row" style="margin-top: 20px;">
            <p style="font-weight: bold; font-size: 12px; line-height: 14px; color: rgb(158, 164, 170);">
                새 전화번호
            </p>
        </div>
        <div class="modal-input-container" id="newPhoneNumCon" style="margin-top: 8px;">
            <input id="newPhone" maxlength="11" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                   pattern="[0-9]*" type="text">
            <div class="modal-input-delete" id="newPhoneEraseBtn" style="right: 110px;">
                <img src="//s3.hourplace.co.kr/web/images/icon/round_delete_g.svg"
                     style="width: 16px; height: 16px;">
            </div>
            <div class="modal-input-button disable" id="newPhoneAuthBtn">
                <p>인증번호 받기</p>
            </div>
        </div>
        <div class="modal-input-container disable" id="authNumInputCon" style="margin-top: 20px;">
            <input id="authNumInput" maxlength="6" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                   pattern="[0-9]*" placeholder="문자로 받은 인증번호를 알려주세요"
                   required="required" style="width: calc(100% - 80px);" type="text">
            <div class="modal-timer-container" id="timerContainer">
                <p id="timerText"></p>
            </div>
        </div>
        <p class="modal-alert-text"></p>
        <div style="display: flex; justify-content: center;">
            <button class="modal-confirm-btn" disabled="disabled" id="authConfirmButton" type="button">
                <p>
                    인증 완료
                </p>
            </button>
        </div>
    </div>
</div>

<header th:replace="~{global-templates/header-footer :: header}"></header>

<main id="page-body" class="my-page-main">
    <div th:replace="~{global-templates/mypage :: mypage-menu}"></div>
    <div class="mp-content">
        <article>
            <div class="mpc-title">
                <h2>개인정보 수정</h2>
            </div>
            <div style="display: none;">
                <div class="mpc-auth-info1">
                    회원님의 개인 정보를 소중하게 보호하고 있습니다.<br>회원님의 동의 없이 회원정보를 제3자에게 제공하지 않습니다.
                </div>
                <div class="mpc-auth-info2">
                    고객님의 개인 정보 보호를 위해 비밀번호를 입력 후, 이용이 가능합니다.
                </div>
                <div class="mpc-auth-container">
                    <label class="mpc-auth" for="pw">
                        <span>비밀번호</span>
                        <input id="pw" placeholder="비밀번호를 입력해 주세요." type="password">
                    </label>
                    <button class="mpc-auth-button" type="submit">회원 확인</button>
                </div>
            </div>
            <div style="width: 750px;">
                <figure class="mpc-user-info-user">
                    <div onclick="openModal(profileModal)" style="position: relative">
                        <img alt="테스트 유저" class="mpc-user-info-user-img"
                             src="/imgs/defaultProfileImgs/3.jpg">
                        <div class="mpc-edit-icon" style="right: 38px; bottom: 2px">
                            <svg class="feather feather-edit-2" fill="none" height="16" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"/>
                            </svg>
                        </div>
                    </div>
                    <figcaption onclick="openNicknameModal(nicknameModal)" style="display: flex">
                        <b style="cursor:pointer;">테스트 유저</b>님
                        <div class="mpc-edit-icon" style="position: relative">
                            <svg class="feather feather-edit-2" fill="none" height="16" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"/>
                            </svg>
                        </div>
                    </figcaption>
                </figure>
                <div>
                    <div class="mpc-user-info-container">
                        <span>가입된 이메일</span>
                        <input class="input-readonly" placeholder="test****@gmail.com" readonly>
                    </div>
                    <div class="mpc-user-info-container">
                        <span>휴대 전화</span>
                        <input class="input-readonly" placeholder="01012345678" readonly>
                        <button onclick="openPhoneModal(phoneModal)" type="submit">전화번호 변경</button>
                    </div>
                    <div class="mpc-user-info-container">
                        <span>새 비밀번호</span>
                        <input id="newPw" placeholder="영문, 숫자, 특수문자 2가지 이상 포함 6~15자리" type="password">
                    </div>
                    <div class="mpc-user-info-container">
                        <span>새 비밀번호 확인</span>
                        <input id="newPwCheck" placeholder="영문, 숫자, 특수문자 2가지 이상 포함 6~15자리" type="password">
                        <button id="pwChangeConfirm" onclick="confirmChangingPassword()">비밀번호 변경</button>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>

<footer th:replace="~{global-templates/header-footer :: footer}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/global-js/global.js"></script>
<script src="/js/mypage/mypage.js"></script>
<script src="/js/global-js/loading.js"></script>
<script src="/js/mypage/user-info.js"></script>
<script src="/js/global-js/chat.js"></script>
<script>
    document.getElementById('userInfo').classList.add('active');
</script>


</html>