* {
  margin: 0;
  padding: 0;
  font-family: 'S-CoreDream', sans-serif;
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




.flex-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-container {
  min-height: 100vh;
  padding-top: 30px;
  background: url(https://shareit.kr/image/account/account-background.png) 0% 0% /
    100% 100%;
}

.main-container {
  /* max-width: 500px; */
  margin: 0 auto;
  padding: 60px 0 60px;
  background-color: transparent;
}

.find-container {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(223, 226, 231);
  width: 500px;
  margin: 0 auto;
  padding: 50px 0;
}

.id-pw-title-box > h2 {
  color: rgb(36, 36, 36);
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 29px;
}

.find-wrap {
  margin-top: 30px;
}

.title-container {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.title-box {
  font-size: 15px;
  color: rgb(87, 87, 87);
  width: 100px;
  position: relative;
  padding: 13px 0px 15px;
}

.find-focus {
  color: rgb(36, 36, 36);
  font-size: 16px;
  font-weight: bolder;
  border-bottom: 2.5px solid black;
}

.none {
  display: none;
}

.find-section,
.find-completed-container{
  padding: 0 70px;
}

.find-section  section,
.find-completed-container section{
  flex-direction: column;
}

.guide-msg {
  margin: 30px 0px;
  color: rgb(138, 138, 138);
  font-size: 15px;
  letter-spacing: -0.45px;
  line-height: 21px;
  white-space: break-spaces;
  text-align: center;
}

label {
  display: flex;
  height: 56px;
  padding: 0px 0px 0px 16px;
  border: 1px solid rgb(212, 219, 226);
  border-radius: 4px;
  -webkit-box-align: center;
  align-items: center;
}

label > input {
  width: 100%;
  color: rgb(36, 36, 36);
  font-size: 15px;
  letter-spacing: -0.45px;
  line-height: 21px;
  text-align: left;
}

#certNumber,
#passwordCertNumber{
  font-weight: bold;
}

.cert-number-label{
  position: relative;
}

.cert-btn{
  background-color: rgb(240, 240, 240);
  color: rgb(163, 163, 163);
  font-size: 14px;
  width: 90px;
  height: 38px;
  border-radius: 4px;
  font-weight: bold;
  margin-right: 12px;
}

.cert-btn.on{
  border: 1px solid #007aff;
  color: #007aff;
  background-color: #fff;
  cursor: pointer;
}

.find-id-btn,
.find-password-btn,
.change-password-btn{
  margin-top: 12px;
  background-color: rgb(240, 240, 240);
  color: rgb(163, 163, 163);
  font-size: 16px;
  border-radius: 4px;
  height: 56px;
  font-weight: bold;
}

.find-id-btn.on,
.find-password-btn.on,
.change-password-btn.on{
  color: #fff;
  background-color: #007aff;
}

.go-login{
  color: #fff;
  background-color: #007aff;
  margin-top: 12px;
  font-size: 16px;
  border-radius: 4px;
  height: 56px;
  font-weight: bold;
}

.warning-msg,
.id-cert-msg,
.pw-cert-msg,
.check-fail-msg,
.invalid-password-msg{
  color: red;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 2px;
}

.input-box{
  margin-bottom: 8px;
}

.find-id-info-box{
  background-color: rgb(241, 245, 290);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 0;
}

.register-date{
  color: rgb(138, 138, 138);
  font-size: 13px;
  text-align: center;
  margin: 4px 0;
}

.find-guide-msg{
  font-size: 12px;
  line-height: 17px;
  color: rgb(163, 163, 163);
  text-align: center;
  white-space: pre-line;
  margin-bottom: 40px;
}
























