* {
    margin: 0;
    padding: 0;
    font-family: 'S-CoreDream', sans-serif;
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

input{
    outline: none;
    border: none;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 60px 0 60px;
    background-color: transparent;
}

.join-wrap {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(223, 226, 231);
    width: 640px;
    margin: 95px auto 0 auto;
    padding: 50px 70px;
}

.join-wrap>div{
    margin: 0 0 15px 0;
}


.input-guide {
    font-weight: bolder;
    font-size: 12px;
    line-height: 14px;
    color: rgb(158, 164, 170);
    display: flex;
}

.input-guide > img {
    margin-left: 5px;
    width: 6px;
    height: 6px;
}

.input-box{
    height: 52px;
    border-radius: 4px;
    border: 1px solid #dfe2e7;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin: 8px 0;
}

.input-box>input{
    width: 350px;
    font-size: 16px;
}

.submit-btn{
    font-size: 16px;
    margin-top: 30px;
    width: 150px;
    height: 54px;
    border-radius: 8px;
    background-color: #e7eaee;
    color: rgb(158, 164, 170);
    font-weight: bold;
}

.submit-btn.on{
    color: white;
    background-color: #3c82fa;
    cursor: pointer;
}

.all-check{
    display: flex;
    color: #9EA4AA;
    line-height: 23px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 12px;
    width: 150px;
}

.all-check>p{
    margin-left: 8px;
}

.all-check.on img {
    content: url(https://hourplace.co.kr/images/icon/controls_round_check_b.svg);
}

.check{
    width: 300px;
    display: flex;
    color: #9EA4AA;
    font-size: 13px;
    cursor: pointer;
    padding-left: 4px;
    font-weight: 600;
    align-items: center;
    margin-bottom: 16px;
}
.check img{
    margin-right: 8px;
}

.check.on img {
    content: url(https://hourplace.co.kr/images/icon/check_b.svg);
}

.invalid-msg{
    color: red;
    margin-left: 12px;
    font-weight: bolder;
    font-size: 10px;
    line-height: 20px;
}

.none{
    display: none;
}





















































