* {
    margin: 0;
    padding: 0;
    font-family: 'S-CoreDream', sans-serif;
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}


.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
}

.main {
    display: block;
    width: 1200px;
}

.main-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 60px 0 60px;
    background-color: transparent;
    /*min-height: 100vh;*/
}

.sign-wrap {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(223, 226, 231);
    width: 550px;
    margin: 0 auto;
    /* box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2);
    -webkit-box-shadow: 0px 0px 32px 6px rgba(177, 180, 198, 0.2); */
}

.login-form {
    padding: 60px 120px;
    padding-bottom: 100px;
}

.signin {
    display: block;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.signin > h1 {
    font-size: 28px;
    line-height: 1.5em;
    margin-bottom: 25px;
}

.signin > p {
    font-size: 16px;
    margin-bottom: 30px;
    color: rgb(87, 87, 87);
    letter-spacing: -0.48px;
}

input {
    outline: none;
}

.input_container {
    position: relative;
    width: 100%;
    height: 52px;
    border-bottom: 1px solid #dfe2e7;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.focused {
    border-bottom: 1px solid #007aff;
}
.input_container > input {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    border-width: 0;
}

.field {
    position: relative;
    margin-top: 10px;
}

.field input {
    width: 96%;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    font-size: 16px;
}

.sign-wrap .field input {
    height: 48px;
    padding-left: 14px;
    border-color: #e3e3e3;
}

.auto-log {
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.signin .auto-log a {
    opacity: 0.5;
    line-height: 1.5em;
    border-bottom: 1px solid currentColor;
    text-decoration: underline;
    text-underline-position: under;
    color: #999;
}

.signin .auto-log a:hover {
    color: rgb(101, 152, 255);
}

.login-btn {
    width: 300px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    margin-bottom: 10px;
}

.submit {
    background-color: #e7eaee;
    color: #9ea4aa;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.submit-box>.on{
    background-color: #007aff;
    color: white;
    cursor: pointer;
}

.oauth {
    margin: 25px 10px 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kakao-login {
    background-color: #ffe466;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.google-login {
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    font-family: 'Roboto' !important;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.login-btn > span {
    margin-top: 5px;
    position: absolute;
    left: 10px;
}

.naver-login {
    background-color: #5acc77;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

.split-line {
    position: relative;
    display: flex;
    justify-content: center;
}

.split-line hr {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 12px;
    margin: 0px;
    background-color: rgb(240, 240, 240);
    border: none;
}

.split-line span {
    position: relative;
    padding: 0px 15px;
    color: rgb(138, 138, 138);
    font-size: 15px;
    font-family: Regular, sans-serif;
    letter-spacing: -0.45px;
    line-height: 21px;
    background-color: rgb(255, 255, 255);
}
.join {
    align-items: center;
    justify-content: space-around;
}

.join a {
    margin-left: 8px;
    color: rgb(36, 36, 36);
    font-weight: bold;
    font-size: 15px;
}

.join .find-id {
    color: rgb(138, 138, 138);
    font-size: 14px;
    font-family: Regular, sans-serif;
    letter-spacing: -0.45px;
    margin-right: 5px;
}

.fail-msg{
    margin-top: 5px;
    font-size: 12px;
    color: red;
}

.login-logo{
    margin-bottom: 30px;
    justify-content: left;
}

.login-logo>img{
    width: 250px;
}

