<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../root.css">
</head>

<body>
    <div class="global-dialog-bg show">
        <div class="global-dialog-container">
            <p class="gd-content">알림 모달 테스트</p>
            <div class="gd-confirm" onclick="closeGDModal()">확인</div>
        </div>
    </div>
</body>
<script src="global-dialog-modal.js"></script>
</html>