<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>관리자 페이지 - 게시판 관리</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
            integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link th:href="@{/imgs/logo/favicon.png}" rel="icon">
    <link rel="stylesheet" th:href="@{/css/admin/adminPlace.css}"/>
    <link rel="stylesheet" th:href="@{/css/global-css/adminSideBar.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/global-css/root.css}">
</head>
<body>
<!-- 관리자 사이드메뉴 flagment -->
<div class="admin-container" th:fragment="adminSideBar">
    <aside class="admin-aside-menu">
        <!-- 관리자 사이드 메뉴 -->
        <div class="admin-side-menu">
            <a th:href="@{/admin/user}" class="side-menu">
                <div class="admin-management user-management">회원 관리</div>
            </a>
            <a th:href="@{/admin/place}" class="side-menu">
                <div class="admin-management board-management">장소 관리</div>
            </a>
            <a th:href="@{/admin/ticket}" class="side-menu">
                <div class="admin-management board-management">티켓 관리</div>
            </a>
            <a th:href="@{/admin/pay}" class="side-menu">
                <div class="admin-management pay-management">결제 관리</div>
            </a>
            <a th:href="@{/admin/approval}" class="side-menu">
                <div class="admin-management admin-confirm-management">관리자 승인</div>
            </a>
        </div>
        <!-- 관리자 사이드 메뉴 -->
    </aside>
</div>
<!-- 관리자 사이드메뉴 flagment -->

</body>
<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"
></script>
<!-- datepicker JavaScript -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script type="module" th:src="@{/js/global-js/global.js}"></script>
<script th:src="@{/js/admin/datepicker.js}"></script>
<script th:src="@{/js/admin/adminBoard.js}"></script>
</html>
