<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="chat--screen" th:fragment="chat">
    <div class="chatbot" id="chatbot">
        <!--채팅창 내용-->
        <div class="chat-room-detail-wrap">
            <div class="chatbot-header" id="chatbot-header">
                <div class="chat-title-box">
                    <div class="chat-room-title">
                        고객센터 챗봇
                    </div>
                    <button class="chatbot-close chat-close chat-screen-close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div>

            <div class="chatbot-body" id="chatbot-body">
                <div id="chatbot-body-content"></div>
                <div class="loading-wrap" id="chatLoadingMark">
                    <img alt="" src="/imgs/loadingElip.svg">
                </div>
            </div>

            <div class="chatbot-footer" id="chatbot-footer">
                <div class="chatbot-input-container">
                    <textarea id="chatbot-textarea" placeholder="궁금한것을 물어보세요!"></textarea>
                </div>
                <button id="chatbot-send">전송</button>
            </div>
        </div>

    </div>

    <button class="chatbot-button" id="chatbot-open">
        <img alt="" class="chat--open-btn-img"
             src="/imgs/chatbot.svg">
    </button>

</div>
</body>
</html>