<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
</head>

<body>

<div class="modal-bg">
    <div class="global-dialogue-container" th:fragment="global-dialogue">
        <p class="gd-content"></p>
        <div class="gd-confirm" onclick="closeModal()">확인</div>
    </div>
    <div class="global-selection-container" th:fragment="global-selection">
        <p class="gs-question"></p>
        <div style="display: flex;">
            <div class="gs-select-btn" onclick="closeGlobalSelection()">취소</div>
            <div class="gs-select-btn gs-confirm" style="color: rgb(0, 117, 235);">확인</div>
        </div>
    </div>
    <div class="mypage-modal" id="profileModal" th:fragment="mypage-user">
        <div class="modal-row">
            <p style="font-weight: bold; font-size: 14px; line-height: 14px; color: rgb(158, 164, 170);">프로필 사진</p>
        </div>
        <div class="modal-row" style="margin-top: 20px">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/1.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/2.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/3.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/4.jpg">
        </div>
        <div class="modal-row" style="margin-top: 24px">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/5.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/6.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/7.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/8.jpg">
        </div>
        <div class="modal-row" style="margin-top: 24px">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/9.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/10.jpg">
            <img class="default-profile-con" src="/imgs/defaultProfileImgs/11.jpg">
            <label for="imageUploadInput">
                <div class="default-profile-con">
                    <svg height="54" viewBox="0 0 256 256" width="54" xmlns="http://www.w3.org/2000/svg">
                        <rect fill="none"/>
                        <line fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="16"
                              x1="40" x2="216" y1="128" y2="128"/>
                        <line fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="16"
                              x1="128" x2="128" y1="40" y2="216"/>
                    </svg>
                </div>
            </label>
            <input accept="image/jpg,image/png,image/jpeg,image/gif" hidden="hidden" id="imageUploadInput"
                   onchange="checkFileSize(this)"
                   type="file">
        </div>
    </div>
    <div class="mypage-modal" id="nicknameModal">
        <div class="modal-row" style="margin-top: 20px;">
            <p style="font-weight: bold; font-size: 12px; line-height: 14px; color: rgb(158, 164, 170);">
                새 닉네임
            </p>
        </div>
        <div class="modal-input-container" style="margin-top: 8px">
            <input id="newNickname" maxlength="10" oninput="checkInputLength()" placeholder="새 닉네임을 입력해주세요."
                   type="text">
        </div>
        <div style="display: flex; justify-content: center;">
            <button class="modal-confirm-btn" disabled="disabled" id="nicknameChangeButton" type="button">
                <p>
                    닉네임 저장
                </p>
            </button>
        </div>
    </div>
    <div class="mypage-modal" id="phoneModal">
        <div class="modal-row" style="margin-top: 20px;">
            <p style="font-weight: bold; font-size: 12px; line-height: 14px; color: rgb(158, 164, 170);">
                새 전화번호
            </p>
        </div>
        <div class="modal-input-container" id="newPhoneNumCon" style="margin-top: 8px;">
            <input id="newPhone" maxlength="11" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                   pattern="[0-9]*" type="text">
            <div class="modal-input-delete" id="newPhoneEraseBtn" style="right: 110px;">
                <img src="//s3.hourplace.co.kr/web/images/icon/round_delete_g.svg"
                     style="width: 16px; height: 16px;">
            </div>
            <div class="modal-input-button disable" id="newPhoneAuthBtn">
                <p>인증번호 받기</p>
            </div>
        </div>
        <div class="modal-input-container disable" id="authNumInputCon" style="margin-top: 20px;">
            <input id="authNumInput" maxlength="6" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                   pattern="[0-9]*" placeholder="문자로 받은 인증번호를 알려주세요"
                   required="required" style="width: calc(100% - 80px);" type="text">
            <div class="modal-timer-container" id="timerContainer">
                <p id="timerText"></p>
            </div>
        </div>
        <p class="modal-alert-text"></p>
        <div style="display: flex; justify-content: center;">
            <button class="modal-confirm-btn" disabled="disabled" id="authConfirmButton" type="button">
                <span>
                    인증 완료
                </span>
            </button>
        </div>
    </div>
</div>
</body>
</html>