<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <link href="../../static/css/global-css/root.css" rel="stylesheet">
    <link href="../../static/css/mypage/mypage.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2364e2b536.js"></script>
</head>

<body>
<main id="my-page-main">
    <div class="mp-left-menu" th:fragment="mypage-menu">
        <div class="mplm-sticky">
            <section>
                <div class="mplm-section-title">계정관리</div>
                <ul>
                    <li class="mplm-nav-item">
                        <a href="#">개인정보 수정</a>
                    </li>
                </ul>
            </section>
            <section>
                <div class="mplm-section-title">My활동</div>
                <ul>
                    <li class="mplm-nav-item">
                        <a href="#">북마크</a>
                    </li>
                    <li class="mplm-nav-item">
                        <a href="#">예약내역</a>
                    </li>
                    <li class="mplm-nav-item">
                        <a href="#">문의 내역</a>
                    </li>
                    <li class="mplm-nav-item">
                        <a href="#">후기관리</a>
                    </li>
                </ul>
            </section>
            <section>
                <div class="mplm-section-title">티켓팅 관리</div>
                <ul>
                    <li class="mplm-nav-item">
                        <a href="#">티켓팅 관리</a>
                    </li>
                </ul>
            </section>
            <section>
                <div class="mplm-section-title">장소 관리</div>
                <ul>
                    <li class="mplm-nav-item">
                        <a href="#">장소 관리</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</main>
</body>

</html>