<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
</head>

<body>
<main id="my-page-main">
    <div class="mp-left-menu" th:fragment="mypage-menu">
        <div class="mplm-sticky">
            <section>
                <div class="mplm-section-title">계정관리</div>
                <ul>
                    <li id="userInfo" class="mplm-nav-item">
                        <a href="/mypage/user-info">개인정보 수정</a>
                    </li>
                </ul>
            </section>
            <section>
                <div class="mplm-section-title">My활동</div>
                <ul>
                    <li id="bookmarks" class="mplm-nav-item">
                        <a href="/mypage/bookmarks">북마크</a>
                    </li>
                    <li id="reservations" class="mplm-nav-item">
                        <a href="/mypage/reservations">예약 내역</a>
                    </li>
                    <li id="inquiries" class="mplm-nav-item">
                        <a href="/mypage/inquiries">문의 내역</a>
                    </li>
                    <li id="reviews" class="mplm-nav-item">
                        <a href="/mypage/reviews">후기관리</a>
                    </li>
                </ul>
            </section>
            <section>
                <div class="mplm-section-title">티켓팅 관리</div>
                <ul>
                    <li id="tickets" class="mplm-nav-item">
                        <a href="/mypage/tickets">티켓팅 관리</a>
                    </li>
                </ul>
            </section>
            <section>
                <div class="mplm-section-title">장소 관리</div>
                <ul>
                    <li id="places" class="mplm-nav-item">
                        <a href="/mypage/places">장소 관리</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</main>
</body>

</html>