<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
</head>

<body>

<div class="modal-bg">

    <div class="global-dialogue-container" id="globalDialogue" th:fragment="global-dialogue">
        <p class="gd-content" id="gdCont"></p>
        <div class="gd-confirm" id="gdConf">확인</div>
    </div>

    <div class="global-selection-container" id="globalSelection" th:fragment="global-selection">
        <p class="gs-question" id="gsCont"></p>
        <div style="display: flex;">
            <div class="gs-select-btn" id="gsCancel">취소</div>
            <div class="gs-select-btn gs-confirm" id="gsConf" style="color: rgb(0, 117, 235);">확인</div>
        </div>
    </div>

</div>
</body>
</html>