<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
</head>

<body>

<div class="modal-bg">

    <div class="global-dialogue-container" id="globalDialogue" th:fragment="global-dialogue">
        <p class="gd-content" id="gdCont"></p>
        <div id="gdButtonWrap"></div>
    </div>

    <div class="global-selection-container" id="globalSelection" th:fragment="global-selection">
        <p class="gs-question" id="gsCont"></p>
        <div id="gsButtonWrap"></div>
    </div>

</div>
</body>
</html>