.CategoryContainer {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 20px;
    padding: 16px 0;
    position: relative;
}

.CategoryContainer .swiper-slide {
    width: fit-content !important;
}

.CategoryItem {
    font-size: 15px;
    line-height: 22px;
    color: rgb(163, 163, 163);
    text-decoration: initial;
    cursor: pointer;
    margin-bottom: 10px;
}

.FilterContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-end;
}

.EventCheckBoxContainer {
    width: fit-content;
    height: fit-content;
}

.CheckBoxLabel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.CheckBoxLabel > input {
    position: absolute;
    inset: 0;
}

.CheckBoxContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
}

.CheckBoxImg {
    width: 24px;
}

.CheckBoxText {
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    font-size: 15px;
    line-height: 24px;
    color: rgb(61, 61, 61);
}

.FilterRightContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 16px;
}

.SelectBox {
    position: relative;
}

.SelectBoxBtn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 5px;

    font-size: 14px;
    line-height: 20px;
    color: rgb(36, 36, 36);
}

.SelectBoxBtnImg {
    width: 16px;
}

/* selectbox 리스트 */
.SelectBoxList {
    position: absolute;
    top: 31px;
    right: -2px;
    display: none;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    z-index: 1020;
    overflow: hidden;
    transition: all 0.1s ease 0s;
    box-shadow: rgba(94, 117, 141, 0.2);
}

.SelectBoxList.On {
    display: flex;
}

.SelectBoxList > button {
    width: 100%;
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    line-height: 21px;
    color: rgb(138, 138, 138);
    white-space: nowrap;
    padding: 0 15px;
}

.SelectBoxList > button:first-child {
    border-radius: 4px 4px 0 0;
}

.SelectBoxListItem-select {
    color: rgb(0, 117, 235) !important;
}

.FilterModalContainer {
    display: none;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2050;
    padding: 209px 0 10px;
}

.FilterModalContainer.On {
    display: flex;
}

.FilterModal {
    position: relative;
    width: 775px;
    height: 687px;
    border-radius: 22px;
    background: rgb(255, 255, 255);
    overflow: hidden;
}

.FilterModalHeader {
    position: relative;
    border-bottom: 1px solid rgb(240, 240, 240);
    height: 63px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.FilterModalHeaderTitle {
    font-size: 16px;
    line-height: 24px;
    color: rgb(61, 61, 61);
}

.FilterModalCloseBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 26px;
}

.FilterModalCloseBtnImg {
    width: 18px;
}

.FilterTitleList {
    height: 62px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.FilterTitle {
    display: initial;
}

.FilterTitleList .swiper-slide {
    width: fit-content !important;
}

.FilterTitleText {
    height: 62px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 15px;
    line-height: 24px;
    color: rgb(112, 112, 112);
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.FilterTitleText.On {
    color: rgb(0, 117, 235);
    border-bottom: 2px solid rgb(0, 117, 235);
    cursor: pointer;
}

.FilterContentContainer {
    height: fit-content;
}

.AreasContainer {
    display: flex;
    height: 100%;
}

.AreaGroupContainer {
    min-width: 194px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(250, 250, 250);
    height: 465px;
    overflow: hidden auto;
}

.AreaGroupBtn {
    min-height: 49px;
    min-width: 194px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(243, 245, 247);
    font-size: 15px;
    line-height: 26px;
    color: rgb(163, 163, 163);
    padding-left: 26px;
}

.AreaGroupBtn.On {
    color: rgb(0, 117, 235);
    background: white;
}

.AreasCityContainer {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 49px);
    height: 465px;
    width: 100%;
    overflow: auto;
}

.AreasCityContainer.On {
    display: grid;
}

.AreasCheckboxContainer {
    min-height: 49px;
    height: 49px;
    border-bottom: 1px solid rgb(250, 250, 250);
}

.AreasCheckboxContainer > label {
    padding-left: 14px;
}

.FilterModalButtonContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 18px 26px;
}

.FilterModalButtonInnerContainer {
    width: 324px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 10px;
}

.FilterResetBtn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 27px;
    border-radius: 4px;
    white-space: nowrap;
    color: rgb(87, 87, 87);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 219, 226);
}

.FilterModalButtonInnerContainer > button:first-child {
    width: 96px;
}

.FilterSubmitBtn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 27px;
    border-radius: 4px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 117, 235);
}

.SelectedListContainer {
    display: none;
    width: 100%;
    height: fit-content;
    padding: 14px 0;
    background: rgb(255, 255, 255);
}

.SelectedListContainer.On {
    display: block;
}

.SelectedItem {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
    height: 32px;
    border-radius: 30px;
    background: rgb(235, 245, 255);
    padding: 0 10px;
    cursor: pointer;
}

.SelectedItemText {
    font-size: 13px;
    line-height: 20px;
    color: rgb(0, 117, 235);
}

.SelectedItemDeleteBtn {
    width: 12px;
    height: 12px;
}

.SelectedItemDeleteBtnImg {
    width: 12px;
}

.FilterBtn {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgba(94, 117, 141, 0.2) 0 2px 6px;
    background: rgb(255, 255, 255);
}

.FilterBtn > img {
    width: 32px;
}

.PriceContainer {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    height: 465px;
    width: 100%;
    overflow: auto;
}

.PriceTitle {
    font-size: 18px;
    line-height: 30px;
    color: rgb(36, 36, 36);
    margin: 80px 0 33px;
}

.ListItemsContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 41px 18px;
}

.OneItemContainer {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
    cursor: pointer;
}

.OneItemImgContainer {
    position: relative;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 8px;
}

.ItemImg {
    width: 100%;
    min-height: 215px;
    height: 215px;
    background: rgb(240, 240, 240);
}

.OneItemContainer.hover:hover .NavigationBtnContainer {
    display: block;
}

.NavigationBtnContainer {
    display: none;
}

.RightBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    right: 9px;
    z-index: 1010;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.18));
    cursor: pointer;
}

.RightBtn > img {
    width: 100%;
}

.LeftBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    left: 9px;
    z-index: 1010;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.18));
    cursor: pointer;
}

.LeftBtn > img {
    width: 100%;
}

.ItemImgPagination {
    position: absolute;
    bottom: 0;
    margin-bottom: 14px;
    z-index: 1010;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.ItemImgPagination > p {
    border-radius: 12px;
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.8);
    width: 58px;
    padding: 3px 0;
    color: rgb(255, 255, 255);
    text-align: center;

    font-size: 12px;
}

.ItemBadges {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    z-index: 1020;
}

.ItemLikeBtn {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 43px;
    z-index: 1010;
}

.ItemLikeBtn > span > img {
    width: 100%;
    background: none;
    animation-duration: 0.6s;
    animation-name: activateAnimation2;
}


.ItemTextContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ItemHostNameContainer {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 15px;
}

.ItemHostName {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: rgb(138, 138, 138);
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ItemCountsContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}

.ItemsStarCountContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
}

.ItemCountImg {
    width: 15px;
}

.ItemCountText {

    font-size: 12px;
    line-height: 20px;
    color: rgb(138, 138, 138);
}

.ItemsLikeCountContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
}

.ItemSpaceNameContainer {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}

.ItemSpaceName {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: rgb(36, 36, 36);
    gap: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ItemAddress {
    width: 100%;

    font-size: 13px;
    line-height: 20px;
    text-align: left;
    color: rgb(112, 112, 112);
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ItemPriceContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    margin-top: 6px;
    width: 100%;
}

.price-wrap {
    display: flex;
    align-items: center;
}

.ItemPrice {
    font-size: 16px;
    line-height: 24px;
    color: rgb(36, 36, 36);
    font-weight: 500;
}

.price-sub {
    font-size: 12px;
    color: #007AFF;
    margin-right: 4px;
}

.ItemDate {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: rgb(36, 36, 36);
}

.ItemRuleType {
    font-size: 12px;
    line-height: 24px;
    color: rgb(36, 36, 36);
}

.none {
    display: none;
}

.ItemBookMarkBtn {
    position: absolute;
    top: 12px;
    right: 5px;
    width: 43px;
    z-index: 1010;
}

.ItemBookMarkBtn > span {
    width: 100%;
    background: none;
    animation-duration: 0.6s;
    animation-name: activateAnimation2;
    color: white;
}

.ItemBookMarkBtn i {
    width: 30px;
    animation-duration: 0.6s;
    animation-name: activateAnimation2;
    font-size: 24px;
}

.place-price {
    font-size: 16px;
    line-height: 24px;
    color: rgb(36, 36, 36);
    font-weight: 500;
}


@keyframes activateAnimation2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}
