* {
  padding: 0;
  margin: 0;
}

*, :after, :before {
  box-sizing: border-box;
  outline: none;
}

body, html {
  font-size: 15px;
  width: 100%;
  height: 100%;
  color: #232323;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, pre, q, ruby, s, samp, section, small, strike, sub, summary, sup, table, time, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
}

a, a:hover {
  text-decoration: none;
}

a {
  color: #000;
}

a, button, label {
  cursor: pointer;
}

img {
  vertical-align: top;
}

input[type=checkbox] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type=radio] {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


button{
  background: none;
}

.header{
  height: 100px;
  background-color: #ffa200;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}


.SpaceDetailPageContainer{
  width: 1200px;
  margin: 0px auto;
  min-height: 987px;
}

.ImagesContainer{
  width: 100%;
  max-width: 1200px;
  height: 440px;
  margin: 34px auto 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 2px;
  border-radius: 10px;
  overflow: hidden;
}

.PlaceImagesBtn{
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  object-fit: contain;
  width: 100%;
  overflow: hidden;
  background: rgb(250, 250, 250);
}

.BigImage{
  flex: 1 1 0%;
  height: 100%;
}

.SmallImage{
  height: 220px;
}

.PlaceImage{
  width: 100%;
}

.PlaceImage::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgb(0, 0, 0);
  opacity: 0;
  transition: all 0.2s ease 0s;
}

.RightImageContainer{
  position: relative;
  flex: 1 1 0%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.MoreImagesBtn{
  position: absolute;
  right: 14px;
  bottom: 14px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 14px 7px 18px;
  border-radius: 5px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-family: Medium, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: rgb(255, 255, 255);
}

.MorePlusImage{
  width: 27px;
}

.SpaceDetailContentContainer{
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.SpaceDetailLeftContainer{
  position: relative;
  width: 678px;
  margin-top: 100px;
}

.BasicInformationContainer{
  width: 100%;
  padding: 20px 0px 36px;
  border-bottom: 1px solid rgb(243, 245, 247);
}

.BasicInformationHostName{
  font-family: Medium, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgb(163, 163, 163);
}

.BasicInformationSpaceNameContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 18px;
}

.BasicInformationSpaceName{
  font-family: Bold, sans-serif;
  font-size: 28px;
  line-height: 54px;
  color: rgb(61, 61, 61);
}

.BasicInformationShareBtn{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.BasicInformationShareImg{
  width: 25px;
}

.BasicInformationAddressContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}

.BasicInformationAddressImg{
  width: 19px;
}

.BasicInformationAddress{

  font-size: 14px;
  line-height: 24px;
  color: rgb(36, 36, 36);
}

.BasicInformationReviewsContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.StarsContainer{
  position: relative;
  width: fit-content;
}

.StarsFilledContainer{
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
  overflow: hidden;
}

.StarsDefaultsContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.StarImg{
  width: 17px;
}

.BasicInformationAverage{
  font-family: Bold, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgb(36, 36, 36);
  margin-left: 2px;
}

.BasicInformationLine{

  font-size: 13px;
  color: rgba(61, 61, 61, 0.2);
}

.BasicInformationTotalCount{
  font-family: Medium, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgb(36, 36, 36);
}

.InfoTabs{
  position: sticky;
  top: 100px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(240, 240, 240);
  background: rgb(255, 255, 255);
  z-index: 1010;
}

.InfoTabBtnOn{
  position: relative;
  padding: 16px 0px 20px;
  width: 100%;
  font-family: Bold, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: rgb(36, 36, 36);
  border-bottom: 2px solid rgb(36, 36, 36);
}

.InfoTabBtnOff{
  position: relative;
  padding: 16px 0px 20px;
  width: 100%;
  font-family: Bold, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: rgb(138, 138, 138);
}

.InfoTabCount{
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 11px;
  line-height: 14px;
  color: rgb(163, 163, 163);
}

.TransactionGuideContainer{
  width: 100%;
  padding: 30px 0px;
}

.TransactionGuide{
  width: 100%;
  background: rgb(250, 250, 250);
  border: 1px solid rgb(240, 240, 240);
  padding: 24px 18px;
}

.TransactionGuideTitle{
  font-family: Bold, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: rgb(36, 36, 36);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 3px;
}

.TransactionGuideDescription{

  font-size: 13px;
  line-height: 20px;
  color: rgb(36, 36, 36);
}

.SpaceInformationContainer{
  padding: 0px 0px 40px;
  border-bottom: 1px solid rgb(240, 240, 240);
  margin-bottom: 40px;
}

.SpaceDescription{
  margin-bottom: 70px;
}

.TitleText{
  font-family: Medium, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: rgb(36, 36, 36);
}

.DescriptionText{

  font-size: 15px;
  line-height: 22px;
  color: rgb(61, 61, 61);
  margin-top: 16px;
  white-space: pre-line;
}

.EquipmentContainer{
  margin-bottom: 70px;
}

.EquipmentsTopImgContainer{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 12px 0px 30px;
}

.EquipmentsTopImg{
  width: 140px;
}

.EquipmentBasicInformationTableContainer{
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-bottom: 22px;
}

.EquipmentBasicInformationTable{
  display: flex;
  gap: 1px;
  height: 43px;
}

.EquipmentBasicInformationLabel{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 80px;
  height: 100%;
  padding: 0px 13px;
  background: rgb(243, 245, 247);
  font-family: Bold, sans-serif;
  font-size: 14px;
  line-height: 32px;
  color: rgb(36, 36, 36);
}

.EquipmentBasicInformationContent{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 22px;
  border: 1px solid rgb(243, 245, 247);

  font-size: 14px;
  line-height: 32px;
  color: rgb(61, 61, 61);
}

.SummariesContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 32px;
}

.SummaryItem{
  width: 100%;
  min-width: 0px;
}

.SummariesTitleContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 6px;
}

.SummariesImg{
  width: 34px;
}

.SummariesTitle{
  font-family: Bold, sans-serif;
  font-size: 14px;
  line-height: 34px;
  color: rgb(36, 36, 36);
  white-space: nowrap;
}

.SummariesContent{

  font-size: 14px;
  line-height: 14px;
  color: rgb(87, 87, 87);
  margin-left: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SummariesModalButtonContainer{
  width: 214px;
  display: flex;
  gap: 10px;
}

.SummariesModalButton{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 46px;
  padding: 0px 15px;
  font-size: 15px;
  line-height: 26px;
  border-radius: 4px;
  white-space: nowrap;

  color: rgb(36, 36, 36);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(214, 214, 214);
}

.SummariesModalButtonIcon{
  margin-left: 6px;
  width: 20px;
}

.SummariesModalContainer{
  display: none;
}

.ScrollModalBackground{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  padding: 209px 0px 10px;
}

.SummariesModalDetail{
  max-height: 607px;
  width: 775px;
  background: rgb(243, 245, 247);
  border-radius: 22px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.SummariesModalDetailHeader{
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 22px 22px 0px 0px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-end;
  -webkit-box-pack: start;
  justify-content: flex-start;
  background: rgb(255, 255, 255);
}

.SummariesModalDetailTabs{
  display: flex;
  gap: 13px;
  margin-left: 26px;
}

.SummariesModalDetailTabBtn{
  font-family: Bold, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: rgb(61, 61, 61);
  border-bottom: 2px solid rgb(61, 61, 61);
  padding-bottom: 8px;
}

.SummariesModalCloseBtn{
  position: absolute;
  top: 23px;
  right: 26px;
}

.SummariesModalCloseBtnImg{
  width: 18px;
}

.SummariesModalContentContainer{
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 79px;
  padding: 40px 26px;
  overflow: auto;
}

.AmenitiesContents{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.AmenitiesTitle{
  font-family: Medium, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgb(61, 61, 61);
  margin-bottom: 13px;
}

.AmenitiesEquipmentList{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.AmenitiesEquipmentListContainer{
  background: rgb(255, 255, 255);
  border-radius: 14px;
}

.EquipmentListHeaderBtn{
  width: 100%;
  height: 54px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 18px;
}

.EquipmentListTitle{
  font-family: Medium, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: rgb(61, 61, 61);
}

.EquipmentListArrowImg{
  width: 20px;
}

.EquipmentListContentsContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 18px;
  padding: 10px 0px 22px;
  border-top: 1px solid rgb(240, 240, 240);
}

.EquipmentItemSubCategoryOff{

  font-size: 16px;
  line-height: 28px;
  color: rgb(189, 189, 189);
}

.EquipmentItemSubCategoryOn{

  font-size: 16px;
  line-height: 28px;
  color: rgb(87, 87, 87);
}

.EquipmentListTitle{
  font-family: Medium, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: rgb(189, 189, 189);
}

.AmenitiesEquipmentListContentsContainer{
  display: none;
  /* display: grid; */
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 18px;
  padding: 10px 0px 22px;
  border-top: 1px solid rgb(240, 240, 240);
}

.EquipmentItemSubCategory{

  font-size: 16px;
  line-height: 28px;
  color: rgb(189, 189, 189);
}

.AmenitiesEquipmentListTitle{
  font-family: Medium, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: rgb(189, 189, 189);
}

.LocationFigure{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 1px;
}

.LocationImg{
  width: 19px;
}

.LocationFigureCaption{

  font-size: 14px;
  line-height: 24px;
  color: rgb(36, 36, 36);
}

.PrecautionContainer{
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.PrecautionTextContainer{
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.PrecautionText{

  font-size: 15px;
  line-height: 22px;
  color: rgb(61, 61, 61);
  white-space: pre-wrap;
}

.ReviewsContainer{
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.ReviewTitleCount{
  font-family: Medium, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: rgb(0, 117, 235);
  margin-left: 4px;
}

.ReviewAverageContainer{
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgb(243, 245, 247);
  border-radius: 6px;
  margin-top: 18px;
}

.ReviewAverageTop{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.ReviewStarsContainer{
  position: relative;
  width: fit-content;
}

.ReviewStarsFilled{
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
  overflow: hidden;
}

.ReviewStarsImg{
  width: 22px;
}

.ReviewStarsDefaults{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.ReviewAverageStarCountText{
  font-family: Bold, sans-serif;
  font-size: 32px;
  line-height: 40px;
  color: rgb(61, 61, 61);
  margin: 0px 22px 0px 8px;
}

.ReviewAverageTexts{
  font-family: Medium, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: rgb(112, 112, 112);
}

.ReviewAverageTexts > span{
  font-family: Bold, sans-serif;
}

.ReviewFiltersContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 24px 0px 16px;
}

.ReviewFiltersLeftContainer{
  display: flex;
  gap: 15px;
}

.ReviewFiltersBtnOn{
  display: flex;
  gap: 2px;
  font-family: Medium, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgb(36, 36, 36);
}

.ReviewFiltersBtnOn > span{
  color: rgb(0, 117, 235);
}

.ReviewFiltersBtnOff{
  display: flex;
  gap: 2px;
  font-family: Medium, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgb(163, 163, 163);
}

.ReviewFiltersBtnOff > span {
  color: rgb(163, 163, 163);
}

.ReviewSelectBox{
  position: relative;
}

.ReviewSelectBoxBtn{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  line-height: 20px;
  color: rgb(36, 36, 36);
}

.ReviewSelectBoxBtnImg{
  width: 16px;
}

.ReviewSelectBoxList{
  position: absolute;
  top: 31px;
  right: -2px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  z-index: 1020;
  overflow: hidden;
  transition: all 0.1s ease 0s;
  box-shadow: rgba(94, 117, 141, 0.2) 0px 2px 6px;
  display: none;
}

.ReviewSelectBoxList > button{
  width: 100%;
  height: 40px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

  font-size: 14px;
  line-height: 21px;
  color: rgb(138, 138, 138);
  white-space: nowrap;
  padding: 0px 15px;
}

.ReviewSelectBoxList > button:first-child {
  border-radius: 4px 4px 0px 0px;
}

.ReviewSelectBoxList > button:last-child {
  border-radius: 0px 0px 4px 4px;
}

.ReviewFilterSortBtnOn{
  color: rgb(0, 117, 235) !important;
}

.ReviewItemContainer{
  padding: 24px 0px 16px;
  border-top: 1px solid rgb(240, 240, 240);
}

.ReviewItemRatingContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.ReviewItemStarsFilled{
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  overflow: hidden;
}

.ReviewItemStarsImg{
  width: 15px;
}

.ReviewItemRating{
  font-family: Bold, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: rgb(36, 36, 36);
  margin: 0px 0px 0px 4px;
}

.ReviewItemDevider{

  line-height: 19px;
  color: rgb(163, 163, 163);
  font-size: 12px;
}

.ReviewItemWriter{

  font-size: 13px;
  line-height: 19px;
  color: rgb(36, 36, 36);
}

.ReviewItemCreateAt{

  font-size: 13px;
  line-height: 19px;
  color: rgb(163, 163, 163);
}

.ReviewItemGoodsNameContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  gap: 7px;
  margin-bottom: 5px;
}

.ReviewSquareChip{
  width: fit-content;
  height: 18px;
  display: inline-block;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-family: Medium, sans-serif;
  font-size: 10px;
  line-height: 10px;
  border-radius: 1px;
  padding: 3px 5px 3px 4px;
  white-space: nowrap;
  background: rgb(0, 117, 235);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 117, 235);
}

.ReviewItemGoodsName{

  font-size: 14px;
  line-height: 21px;
  color: rgb(163, 163, 163);
}

.ReviewItemContents{

  font-size: 15px;
  line-height: 22px;
  color: rgb(87, 87, 87);
}

.ReviewItemLikeBtnContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 10px;
}

.ReviewItemLikeText{

  font-size: 13px;
  line-height: 19px;
  color: rgb(163, 163, 163);
}

.ReviewItemLikeBtn{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 2px;
  padding: 7px 14px 7px 12px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 18px;
  font-family: Medium, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: rgb(36, 36, 36);
}

.ReviewItemLikeBtnImg{
  width: 16px;
  animation-duration: 0.6s;
  animation-name: activateAnimation;
}

.ReviewMainBtnContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
}

.ReviewMainBtn{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 46px;
    padding: 0px 15px;
    font-size: 15px;
    font-family: Medium, sans-serif;
    line-height: 26px;
    border-radius: 4px;
    white-space: nowrap;
    color: rgb(94, 102, 141);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 219, 226);
}

.ReviewMainBtnContainer > button{
  width: 354px;
}

.ReviewMainBtnIconRight{
  margin-left: 6px;
  width: 20px;
}

.QnaContainer{
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.QnaTitleContainer{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.QnaTitleCount{
  font-family: Medium, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: rgb(0, 117, 235);
  margin-left: 4px;
}

.QnaMainBtn{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  padding: 0px 15px;
  font-size: 14px;
  font-family: Medium, sans-serif;
  line-height: 20px;
  border-radius: 4px;
  white-space: nowrap;
  color: rgb(0, 117, 235);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 117, 235);
}

.QnaTitleContainer >button{
  width: fit-content;
}

.QnaItemContainer{
  padding: 24px 0px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.QnaItemContainer:last-of-type{
  border-bottom: none;
}

.QnaItemQuestionContainer{
  position: relative;
}

.QnaItemContentsContainer{
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 11px;
}

.QnaItemContents{

  font-size: 15px;
  line-height: 22px;
  color: rgb(36, 36, 36);
  white-space: pre-line;
}

.QnaItemContentsMoreBtn{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.QnaItemContentsMoreBtnImg{
  width: 19px;
}

.QnaAnswerContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.QnaDetailInfoContainer{
  display: flex;
-webkit-box-align: center;
align-items: center;
}

.QnaReplyCount{

  font-size: 13px;
  line-height: 19px;
  color: rgb(70, 117, 164);
}

.QnaDetailInformation{

  font-size: 13px;
  line-height: 19px;
  color: rgb(163, 163, 163);
}

.QnaDetailInformation > span{
  font-size: 12px;
}

.QnaRepliesContainer{
  display: flex;
  flex-direction: column;
  gap: 19px;
  background: rgb(243, 245, 247);
  border-radius: 8px;
  padding: 17px 31px 18px 8px;
  margin-top: 24px;
}

.QnaRepliesContainer.none{
  display: none;
}

.QnaReply{
  width: 100%;
}

.QnaReplyTitle{

  font-size: 13px;
  line-height: 20px;
  color: rgb(163, 163, 163);
  margin-bottom: 8px;
}

.QnaReplyTail{

  font-size: 14px;
  line-height: 22px;
  margin-right: 9px;
}

.QnaReplyTitle >span{
  font-size: 12px;
}

.QnaReplyContents{

    font-size: 14px;
    line-height: 22px;
    color: rgb(87, 87, 87);
    white-space: pre-line;
    margin-left: 21px;
}

.QnaPaginationContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.QnaPagination{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 4px;
}

.QnaPaginationArrowBtn{
  width: 36px;
  height: 36px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 1px solid rgb(214, 214, 214);
}

.QnaPaginationArrowBtnImg{
  width: 16px;
}

.PaginationPageOn{
  width: 36px;
  height: 36px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 1px solid rgb(0, 117, 235);
  font-family: Bold, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgb(0, 117, 235);
}

.PaginationPageOff{
  width: 36px;
  height: 36px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 1px solid rgb(214, 214, 214);

  font-size: 14px;
  line-height: 24px;
  color: rgb(87, 87, 87);
}

.PostQnaModalContainer.none{
  display: none;
}

.PostQnaModal{
  background: rgb(255, 255, 255);
  border-radius: 22px;
  width: 775px;
  height: fit-content;
}

.PostQnaModalHeader{
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 64px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.PostQnaModalTitle{
  font-family: Medium, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(61, 61, 61);
}

.PostQnaModalCloseBtn{
  width: fit-content;
  position: absolute;
  top: 23px;
  right: 26px;
}

.PostQnaModalCrossImg{
  display: block;
  width: 18px;
}

.PostQnaModalArrowImg{
  display: none;
}

.PostQnaModalSpaceInfo{
  display: flex;
  gap: 15px;
  padding: 25px 26px 24px;
  border-bottom: 10px solid rgb(240, 240, 240);
}

.PostQnaModalSpaceImg{
  width: 110px;
  border-radius: 3px;
}

.PostQnaModalHostName{
  font-family: Medium, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgb(138, 138, 138);
  margin-bottom: 3px;
}

.PostQnaModalSpaceName{
  font-family: Medium, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgb(36, 36, 36);
}

.PostQnaModalContentContainer{
  display: flex;
  flex-direction: column;
  gap: 38px;
  padding: 24px 26px 18px;
}

.PostQnaModalContentSubTitle{
  font-family: Medium, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgb(61, 61, 61);
  margin-bottom: 20px;
}

.PostQnaModalContentInputContainer{
  width: 50%;
}

.PostQnaModalDropdown{
  position: relative;
  width: 100%;
  height: 46px;
}

.PostQnaModalDropdownSelectedBox{
  position: absolute;
  top: 0px;
  left: 0px;

  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 0px 12px 0px 16px;
  border: 1px solid rgb(189, 189, 189);
  height: 46px;
  font-size: 14px;
  will-change: transform;
}

.PostQnaModalDropdownSelectedBox > p{
  color: rgb(189, 189, 189);
  font-size: 16px;
}

.PostQnaModalDropdownImg{
  width: 16px;
}

.PostQnaModalDropdownSpaceList{
  width: 100%;
  position: inherit;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(212, 219, 226);
  display: flex;
  flex-direction: column;
  gap: 1px;
  top: 46px;
  max-height: 150px;
  z-index: 1040;
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
  transform-origin: center top;
}
.PostQnaModalDropdownSpaceList.none{
  display: none;
}

.PostQnaModalDropdownSpaceList > button {
  min-height: 46px;
  font-size: 16px;
}

.PostQnaModalDropdownSpaceList button {
  width: 100%;

  font-size: 16px;
  padding: 0px 12px 0px 16px;
  text-align: left;
  color: rgb(87, 87, 87);
  background-color: rgb(255, 255, 255);
}

/*.PostQnaModalDropdownSpaceList > button:first-child {*/
/*  color: rgb(189, 189, 189);*/
/*}*/

.PostQnaModalTextBox{
  position: relative;
}

.PostQnaModalTextLength{
  position: absolute;
  top: -32px;
  right: 0px;
  font-size: 14px;
  line-height: 24px;
  color: rgb(189, 189, 189);
}

.PostQnaModalTextAreaContainer{
  width: 100%;
}

.PostQnaModalTextArea{
  border: 1px solid rgb(212, 219, 226);
  border-radius: 4px;
}

.PostQnaModalTextArea > textarea {
  width: 100%;
  min-height: 180px;
  padding: 12px 14px;
  font-size: 14px;
  color: rgb(36, 36, 36);
  resize: none;
  outline: none;
  overflow: auto;
  border: none;
}

.PostQnaModalTextBoxComment{
  font-size: 14px;
  line-height: 20px;
  color: rgb(87, 87, 87);
  margin-top: 14px;
}


.PostQnaModalTextBoxComment > span {
  color: rgb(0, 117, 235);
}

.PostQnaModalInputBoxContainer{
  width: 100%;
}

.PostQnaModalInputBoxLabel{
  width: 100%;
  border-radius: 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 14px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(212, 219, 226);
  cursor: pointer;
  height: 46px;
}

.PostQnaModalInput{
  position: relative;
  width: 100%;
  color: rgb(87, 87, 87);
  border: none;
  outline: none;
  text-align: left;

  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
}

.PostQnaModalPhoneNoComment{

  font-size: 14px;
  line-height: 20px;
  color: rgb(87, 87, 87);
  margin-top: 14px;
}

.PostQnaModalBtnContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  gap: 10px;
}

.PostQnaModalFooterBtnCancel {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  padding: 0px 15px;
  font-size: 16px;
  font-family: Medium, sans-serif;
  line-height: 27px;
  border-radius: 4px;
  white-space: nowrap;
  color: rgb(94, 102, 141);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(212, 219, 226);
}

.PostQnaModalFooterBtnSubmit{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  padding: 0px 15px;
  font-size: 16px;
  font-family: Medium, sans-serif;
  line-height: 27px;
  border-radius: 4px;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 117, 235);
}

.PostQnaModalBtnContainer > button {
  width: 218px;
}

.PostQnaModalBtnContainer > button:first-child {
  width: 96px;
}

.PostQnaModalFooterBtnCancel:hover {
  border: 1px solid rgb(0, 117, 235);
  color: rgb(0, 117, 235);
}

.PostQnaModalFooterBtnSubmit:hover{
  background-color: rgb(0, 61, 184);
}

.RefundPoliciesContainer{
  padding-bottom: 40px;
}

.RefundPoliciesInnerContainer{
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin-top: 18px;
}

.RefundPoliciesTitle{
  font-family: Bold, sans-serif;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 6px;
}

.RefundPoliciesResponsibilities{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ResponsibilityDescriptionContainer{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.ResponsibilityDescription{

  font-size: 14px;
  line-height: 22px;
  color: rgb(61, 61, 61);
}

.RightReservationContainer{
  display: block;
}

.RightReservationBox{
  position: sticky;
  top: calc(110px);
  right: 0px;
  width: 415px;
  height: fit-content;
  padding: 21px 27px 26px;
  margin-top: 60px;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(36, 36, 36, 0.1) 0px 2px 12px;
}

.ReservationPriceContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.ReservationPrice{
  font-family: Bold, sans-serif;
  font-size: 23px;
  line-height: 26px;
  color: rgb(36, 36, 36);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.ReservationPriceWon{

  margin-right: 4px;
}

.ReservationPriceRuleType{

  font-size: 14px;
  line-height: 20px;
  color: rgb(163, 163, 163);
}

.GoodsListContainer{
  position: relative;
  width: 100%;
  min-height: 250px;
  height: 100%;
  max-height: 625px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
  margin-bottom: 19px;
  overflow: auto;
}

.RadioBoxContainer{
  display: flex;
    align-items: flex-start;
    gap: 6px;
    cursor: pointer;
    padding: 10px 18px 10px;
    border-bottom: 1px solid rgb(243, 245, 247);
    transition: all 0.1s ease 0s;
    width: 100%;
}

.RadioBoxOutLine{
  position: relative;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  border: 1px solid rgb(212, 219, 226);
  border-radius: 50%;
  background: rgb(255, 255, 255);
}


.RadioBoxContainer > div:first-child {
  margin-top: 4px;
  width: 60%;
}

.RadioBoxInLine{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(12px);
  height: calc(12px);
  border-radius: 50%;
  background: rgb(255, 255, 255);
}

.RadioBoxInLine.On{
  background: rgb(0, 117, 235);
}

.GoodsInfo{
  width: 100%;
}

.GoodsInfoTitleContainer{
  margin-bottom: 7px;
}

.GoodsInfoSquareChip{
  width: fit-content;
  height: 18px;
  display: inline-block;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-family: Medium, sans-serif;
  font-size: 10px;
  line-height: 10px;
  border-radius: 1px;
  padding: 3px 5px 3px 4px;
  white-space: nowrap;
  background: rgb(70, 117, 164);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(70, 117, 164);
}

.GoodsInfoTitle{

    font-size: 15px;
    line-height: 24px;
    color: rgb(61, 61, 61);
    margin-left: 4px;
}

.GoodsInfoTitleContainer > span {
  margin-right: 4px;
}

.GoodsInfoDiscountedPrice{
  font-family: Bold, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: rgb(61, 61, 61);
  padding-left: 5px;
}

.GoodsInfoDiscountedPriceRuleType{

  font-size: 14px;
  line-height: 22px;
  color: rgb(61, 61, 61);
}

.GoodsListBtnContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 10px;
}

.LikeWithReservationButton{
  min-width: 50px;
  width: 50px;
  min-height: 50px;
  height: 50px;
  border-radius: 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.LikeWithReservationButtonImg{
  width: 33px;
  animation-duration: 0.6s;
  animation-name: activateAnimation2;
}

.GoodsListReservationBtn{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  padding: 0px 15px;
  font-size: 16px;
  font-family: Medium, sans-serif;
  line-height: 27px;
  border-radius: 4px;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 117, 235);
}

.OtherSpaceContainer{
  padding: 0px 0px 150px;
  display: flex;
  flex-direction: column;
}

.SimilarSpaceConatiner{
  position: relative;
  padding: 20px 0px;
}

.SimilarSpacesBorderLine{
  position: absolute;
  top: 0px;
  left: calc(-50vw + 600px);
  width: 100vw;
  height: 1px;
  background: rgb(240, 240, 240);
}

.SideTitleSideTitle{
  font-family: Bold, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(36, 36, 36);
}

.SimilarSpaceList{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 24px;
}

.SimilarSpaceItem{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0px;
  cursor: pointer;
}

.SimilarSpaceItemImgContainer{
  position: relative;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 8px;
}

.ResizedImage{
  width: 100%;
  min-height: 215px;
  height: 215px;
  background: rgb(240, 240, 240);
}

.NavigationBtnContainer{
  display: none;
}

.NavigationNextBtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  right: 9px;
  z-index: 1010;
  filter: drop-shadow(rgba(0, 0, 0, 0.18) 0px 2px 4px);
  cursor: pointer;
  background: none;
}

.NavigationNextBtn > img {
  width: 100%;
}

.NavigationPreBtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  left: 9px;
  z-index: 1010;
  filter: drop-shadow(rgba(0, 0, 0, 0.18) 0px 2px 4px);
  cursor: pointer;
  background: none;
}

.NavigationPreBtn > img {
  width: 100%;
}

.SimilarSpaceItem:hover .NavigationBtnContainer{
  display: block;
}

.SpaceItemPagination{
  position: absolute;
  bottom: 0px;
  margin-bottom: 14px;
  z-index: 1010;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.SpaceItemPagination > p {
  border-radius: 12px;
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.8);
  width: 58px;
  padding: 3px 0px;
  color: rgb(255, 255, 255);
  text-align: center;

  font-size: 12px;
}

.SpaceItemLikeBtn{
  position: absolute;
  top: 2px;
  right: 2px;
  width: 43px;
  z-index: 1010;
  animation-duration: 0.6s;
  animation-name: activateAnimation2;
  background: none;
}

.SpaceItemLikeBtn > img {
  width: 100%;
}

.SpaceItemContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SpaceItemHostNameContainer{
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 15px;
}

.SpaceItemHostName{
  font-family: Medium, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgb(138, 138, 138);
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SpaceItemCountsContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 10px;
}

.SpaceItemCountInnerContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 2px;
}

.SpaceItemCountImg{
  width: 15px;
}

.SpaceItemCountText{

  font-size: 12px;
  line-height: 20px;
  color: rgb(138, 138, 138);
}

.SpaceItemSpaceNameContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 2px;
}

.SpaceItemSpaceName{
  font-family: Medium, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: rgb(36, 36, 36);
    gap: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SpaceItemAddress{
  width: 100%;

  font-size: 13px;
  line-height: 20px;
  text-align: left;
  color: rgb(112, 112, 112);
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SpaceItemPriceContainer{
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
}

.SpaceItemPrice{
  font-family: Bold, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(36, 36, 36);
}

.SpaceItemRuleType{

  font-size: 12px;
  line-height: 24px;
  color: rgb(36, 36, 36);
}

#map{
  width: 100%;
  height: 280px;
  border-radius: 6px;
  margin: 16px 0px;
}

.ImageModalContainer{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1050;
  touch-action: none;
}

.ImageModalContainer.none{
  display: none;
}

.ImageModalWrap{
  width: 100vh;
  height: 75vh;
  margin: 75px auto 0px;
}

.ImageModalTextContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.ImageModalLeftContainer{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 12px;
}

.ImageModalTotalPages{
  padding: 5px 27px 7px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  font-family: Medium, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: rgb(255, 255, 255);
}

.ImageModalSpaceName{
  font-family: Medium, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.ImageModalCloseBtn{
  width: 128px;
  height: 50px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  font-family: Medium, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: rgb(255, 255, 255);
  background: none;
}

.ImageModalCloseBtnImg{
  width: 18px;
}

.ImageModalSwiperContainer{
  position: relative;
}

.ImageModalImg{
  width: 100%;
}

.ImageModalPrevArrowBtn{
  position: absolute;
  left: -92px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
}

.ImageModalNextvArrowBtn{
  position: absolute;
  right: -92px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
}

.ImageModalArrowImg{
  width: 58px;
}

.calendar-wrap{
  z-index: 2;
  border-radius: 8px;
  padding: 20px 18px 18px;
  border: 1px solid rgb(239, 243, 245);
  /*border: 1px solid red;*/
  background-color: rgb(255, 255, 255);
}

.choice-box{
  width: 100%;
  height: fit-content;
  padding: 10px 10px 0;
  display: flex;
  justify-content: space-between;
}

/*모달창*/
.flex {
  display: flex;
}

.flex-between-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-align {
  display: flex;
  align-items: center;
}

.small-title {
  font-weight: bold;
  font-size: 16px;
  color: rgb(36, 36, 36);
  line-height: 22px;
  margin: 14px 0;
}

.sub-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: rgb(163, 163, 163);
}

.none {
  display: none;
}

.inquiry-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1050;
  touch-action: none;
}

.inquiry-modal-container.none{
  display: none;
}

.inquiry-modal-wrap {
  margin: 0 auto;
  width: 420px;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  padding: 20px 0;
  flex-direction: column;
}

.inquiry-cancel {
  position: absolute;
  margin-top: 12px;
  right: 30px;
  width: 25px;
}

.inquiry-guide {
  font-weight: bold;
  font-size: 12px;
  color: rgb(158, 164, 170);
  margin: 8px 0;
}

.inquiry-content-box {
  width: 320px;
  margin-top: 10px;
}

.inquiry-title-box{
}

#inquiryTitle{
  border-radius: 4px;
  border: solid 1px #dfe2e7;
  font-size: 16px;
  padding: 10px;
  width: 320px;
}

#inquiryContent {
  border-radius: 4px;
  border: solid 1px #dfe2e7;
  font-size: 16px;
  padding: 10px;
  width: 320px;
  height: 250px;
}

.letter-count {
  font-weight: 500;
  font-size: 12px;
  color: rgb(69, 75, 80);
}

.reservation-btn,
.inquiry-submit {
  margin-top: 20px;
  height: 52px;
  border-radius: 8px;
  background-color: #e7eaee;
  color: #9ea4aa;
  font-weight: bold;
  font-size: 16px;
  width: 300px;
}

.reservation-btn.on,
.inquiry-submit.on {
  background-color: #007AFF;
  color: white;
}

.RadioBox{
  display: flex;
}

.minus,
.plus {
  border-radius: 50%;
  border: 1px solid rgb(227, 227, 232);
  width: 30px;
  height: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  line-height: 10px;
}

.reservation-visitors {
  width: 28px;
  height: 38px;
  font-size: 15px;
  border: 1px solid #0b0b0b;
  border-radius: 4px;
}

.visitors {
  text-align: center;
  width: 100%;
}


.ModalBackground{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  touch-action: none;
  display: none;
}

.ModalBackground.On{
  display: block;
}

.ShareModalContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  width: 354px;
  border-radius: 20px;
}

.ShareModalHeader{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 18px 0px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.ShareModalHeaderTitle{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.96px;
}

.ShareModalCloseBtn{
  position: absolute;
  top: 21px;
  right: 18px;
}

.ShareModalCloseImg{
  width: 18px;
}

.ShareModalBottomContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px;
}

.ModalShareBtn{
  width: 100%;
  padding: 9px;
  border: 1px solid rgb(212, 219, 226);
  border-radius: 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  gap: 9px;
}

.ShareModalShareImgContainer{
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background: rgb(0, 117, 235);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.ModalShareImg{
  width: 30px;
}

.ModalShareBtnText{
  font-size: 15px;
  line-height: 40px;
  color: rgb(36, 36, 36);
}

.ModalKakaoShareBtn{
  width: 100%;
  padding: 9px;
  border: 1px solid rgb(212, 219, 226);
  border-radius: 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  gap: 9px;
}

.ShareModalKakaoImg{
  width: 40px;
}

.ModalKakaoShareBtnText{
  font-size: 15px;
  line-height: 40px;
  color: rgb(36, 36, 36);
}

.ModalShareBtn:hover {
  border: 1px solid rgb(0, 117, 235);
}

.ModalKakaoShareBtn:hover {
  border: 1px solid rgb(0, 117, 235);
}

/*상단 부분 기본정보*/
.summary {
  position: relative;
  padding-bottom: 1rem;
  font-size: 0;
}

.summary .summaryTop {
  margin-bottom: 1.9rem;
}

.summary .prdTitle {
  margin-top: 15px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 130%;
}

.summary .prdTitleBottom {
  margin-top: 0.9rem;
}

.summaryBody{
  display: flex;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -0.1rem;
  width: 0.1rem;
  height: 0.1rem;
}

.summary .prdTitleSmall {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 70rem;
  color: #666;
  font-size: 1.4rem;
  vertical-align: middle;
}

.summary .posterBox {
  display: inline-block;
  width: 20rem;
}

.summary .posterBox .posterBoxTop {
  background-image: url(//openimage.interpark.com/ticket-desktop/pages/product/noImage_logo.png);
  background-repeat: no-repeat;
  background-color: #f0f0f0;
  background-position: 50% 50%;
  position: relative;
  height: 26rem;
}


.summary .posterBox .posterBoxImage {
  display: block;
  width: 100%;
  height: 100%;
  border: 0.1rem solid #dadee3;
  box-sizing: border-box;
}

.summary .posterBox .posterBoxBottom {
  margin-top: 1.2rem;
  font-size: 0;
}

.summary .prdCast {
  float: left;
  margin-top: 0.2rem;
  font-size: 0;
}

.summary .prdCast .prdCastWrap {
  display: inline-block;
}

.summary .prdCast .prdCastBtn {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: inherit;
  line-height: 2.4rem;
  outline-style: none;
  cursor: pointer;
}

.summary .prdCast .prdCastBtn:before {
  background-image: url(//openimage.interpark.com/ticket-desktop/pages/product/icon_heart.png);
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  top: 0.2rem;
  width: 1.7rem;
  height: 1.5rem;
  padding-right: 0.6rem;
  background-position: 0 0;
  content: '';
}

.summary .prdCast .prdCastNum {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.summary .share {
  float: right;
}

.summary .share .shareList {
  font-size: 0;
}

.summary .info {
  display: inline-block;
  width: 25.5rem;
  margin-left: 30px;
  vertical-align: top;
}

.summary .info .infoItem {
  margin-top: 1.5rem;

}

.summary .info .infoItem:first-child {
  margin-top: 0;
  line-height: 2.2rem;
}

.summary .info .infoLabel {
  display: inline-block;
  width: 100px;
  padding-right:5px;
  color: #000;
  font-size: 15px;
  font-weight: normal;
  line-height: 160%;
  vertical-align: top;
  box-sizing: border-box;
}

.summary .info .infoDesc {
  display: inline-block;
  max-width: 39rem;
  vertical-align: top;
}

.summary .info .infoBtn {
  position: relative;
  color: #000;
  font-size: 15px;
  line-height: 160%;
  vertical-align: middle;
  text-align: left;
  font-weight: inherit;
}

.summary .info .infoText {
  position: relative;
  max-width: 41.5rem;
  color: #000;
  font-size: 15px;
  line-height: 160%;
}

.summary .info .infoPriceList .infoPriceItem {
  display: flex;
  gap: 0.7rem;
  margin-top: 1.3rem;
  color: #000;
  font-size: 0;
  line-height: 2rem;
  font-weight: 500;
}

.summary .info .infoPriceList .infoPriceItem:first-child{
  margin-top: 0;
}

.summary .info .infoPriceList .infoPriceItem span {
  display: inline-block;
  font-size: 15px;
  word-break: keep-all;
  vertical-align: middle;
}

.summary .info .infoPriceList .infoPriceItem .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 3rem;
  max-width: 30rem;
  color: #666;
  font-weight: 500;
}

.summary .info .infoPriceList .infoPriceItem .price {
  font-weight: 500;
}

.summary .info .infoPriceList .infoPriceItem .name + .price {
  vertical-align: top;
}