<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Spotick | 장소 관리 > 문의</title>
    <link href="/css/global-css/root.css" rel="stylesheet">
    <link href="/css/mypage/mypage.css" rel="stylesheet">
    <link href="/css/mypage/mypage-modal.css" rel="stylesheet">
    <link href="/css/global-css/post-list-card-item.css" rel="stylesheet">
    <link href="/css/global-css/chat.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2364e2b536.js"></script>
</head>

<body>

<div th:replace="~{global-templates/chat :: chat}"></div>

<div class="modal-bg">
    <div th:replace="~{global-templates/global-dialogue-modal :: global-dialogue}"></div>
    <div th:replace="~{global-templates/global-dialogue-modal :: global-selection}"></div>
    <div class="modal-place">
        <div class="modal-place-user-con">
            <div class="modal-user-icon">
                <img id="detailProfileImg">
            </div>
            <span class="modal-user-name" id="detailNickName"></span>
        </div>
        <div class="modal-place-content-container">
            <div class="modal-place-con-box">
                <div class="modal-place-title">요청 사항</div>
                <div class="modal-place-input-con">
                    <textarea class="modal-place-txarea" cols="30"
                              id="detailContent" readonly
                              rows="10"></textarea>
                </div>
                <div class="modal-place-title">답변 작성</div>
                <div class="modal-place-input-con">
                    <textarea class="modal-place-txarea" cols="30" id="response"
                              placeholder="여기에 입력하세요." rows="10"></textarea>
                </div>
                <div class="error-content" style="margin-top: 4px;"></div>
            </div>
        </div>
        <div class="modal-place-btn-wrap" style="justify-content: center;">
            <button class="modal-place-btn" id="requestBtn"
                    style="background-color: rgb(40, 184, 40);"
                    type="button">
                <span>작성 완료</span>
            </button>
        </div>
        <input id="inquiryId" type="hidden">
        <input id="placeId" type="hidden">
    </div>
</div>

<header th:replace="~{global-templates/header-footer :: header}"></header>

<main class="my-page-main" id="page-body">
    <div th:replace="~{global-templates/mypage :: mypage-menu}"></div>
    <div class="mp-content">
        <article>
            <div class="mpc-title">
                <h2>장소 관리</h2>
                <i class="fa-solid fa-angle-right"></i>
                <h2>문의</h2>
            </div>
            <div class="mpcp-wrap">
                <div class="mpcp-main">
                    <div class="mpcp-target" th:object="${placeDto}">
                        <div style="display: flex; justify-content: space-between;">
                            <div class="ItemTextContainer" style="max-width: 400px">
                                <div class="ItemHostNameContainer">
                                    <span class="ItemHostName" th:text="*{placeAddress.address}"></span>
                                    <div class="ItemCountsContainer">
                                        <div class="ItemsStarCountContainer">
                                            <img alt="후기갯수" class="ItemCountImg"
                                                 src="/imgs/star_filled_paintYellow056.a8eb6e44.svg">
                                            <span class="ItemCountText" th:text="|*{evalAvg}(*{evalCount})|"></span>
                                        </div>
                                        <div class="ItemsLikeCountContainer">
                                            <img alt="북마크갯수" class="ItemCountImg bookmark"
                                                 src="/imgs/bookmark_thin.svg">
                                            <span class="ItemCountText" th:text="*{bookmarkCount}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ItemSpaceNameContainer">
                                    <p class="ItemSpaceName" th:text="*{title}"></p>
                                </div>
                                <div class="ItemPriceContainer">
                                    <span class="ItemPrice"
                                          th:text="${#numbers.formatInteger(placeDto.price, 3, 'COMMA')} + '원'"></span>
                                </div>
                            </div>
                            <div class="mpcre-img-con" style="margin-right: 0;">
                                <img th:src="|/file/display?fileName=*{placeFileDto.uploadPath}/t_*{placeFileDto.uuid}_*{placeFileDto.fileName}|">
                            </div>
                        </div>
                    </div>
                    <div class="mpcp-list">
                        <div id="inquiriesContainer"></div>
                        <div class="mypage-loading-wrap" id="mpLoadingMark">
                            <img alt="" src="/imgs/loading.svg">
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>

<footer th:replace="~{global-templates/header-footer :: footer}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/global-js/global.js"></script>
<script src="/js/mypage/mypage.js"></script>
<script src="/js/mypage/place-inquiry.js"></script>
<script src="/js/global-js/chat.js"></script>
<script>
    document.getElementById('places').classList.add('active');
</script>

</html>