<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Spotick | 장소 관리 > 문의</title>
    <link href="/imgs/logo/favicon.png" rel="icon">
    <link href="/css/global-css/root.css" rel="stylesheet">
    <link href="/css/mypage/mypage.css" rel="stylesheet">
    <link href="/css/mypage/mypage-modal.css" rel="stylesheet">
    <link href="/css/global-css/post-list-card-item.css" rel="stylesheet">
    <link href="/css/global-css/chat.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2364e2b536.js"></script>
</head>

<body>
<div>
    <div th:replace="~{global-templates/chat :: chat}"></div>

    <div class="modal-bg" id="modal">
        <div th:replace="~{global-templates/new-global-dialogue-modal :: global-dialogue}"></div>
        <div th:replace="~{global-templates/new-global-dialogue-modal :: global-selection}"></div>
        <div class="modal-place" id="placeModal"></div>
    </div>

    <header th:replace="~{global-templates/header-footer :: header}"></header>

    <main class="my-page-main" id="page-body">
        <div th:replace="~{global-templates/mypage :: mypage-menu}"></div>
        <div class="mp-content">
            <article>
                <div class="mpc-title">
                    <div class="flex items-center">
                        <h2>장소 관리</h2>
                        <i class="fa-solid fa-angle-right"></i>
                        <h2>문의</h2>
                    </div>
                </div>
                <div class="mpcp-wrap">
                    <div class="mpcp-main">
                        <a class="mpcp-target" th:href="@{/place/{placeId}(placeId = *{id})}" th:object="${placeDto}">
                            <div style="display: flex; justify-content: space-between;">
                                <div class="ItemTextContainer" style="max-width: 400px">
                                    <div class="ItemHostNameContainer">
                                        <span class="ItemHostName" th:text="*{placeAddress.address}"></span>
                                        <div class="ItemCountsContainer">
                                            <div class="ItemsStarCountContainer">
                                                <img alt="후기갯수" class="ItemCountImg"
                                                     src="/imgs/star_filled_paintYellow056.a8eb6e44.svg">
                                                <span class="ItemCountText" th:text="|*{evalAvg}(*{evalCount})|"></span>
                                            </div>
                                            <div class="ItemsLikeCountContainer">
                                                <img alt="북마크갯수" class="ItemCountImg bookmark"
                                                     src="/imgs/bookmark_thin.svg">
                                                <span class="ItemCountText" th:text="*{bookmarkCount}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ItemSpaceNameContainer">
                                        <p class="ItemSpaceName" th:text="*{title}"></p>
                                    </div>
                                    <div class="ItemPriceContainer">
                                    <span class="ItemPrice"
                                          th:text="${#numbers.formatInteger(placeDto.price, 3, 'COMMA')} + '원'"></span>
                                    </div>
                                </div>
                                <div class="mpcre-img-con" style="margin-right: 0;">
                                    <img th:src="|/file/display?fileName=*{placeFileDto.uploadPath}/t_*{placeFileDto.uuid}_*{placeFileDto.fileName}|" th:alt="*{title}">
                                </div>
                            </div>
                        </a>
                        <div class="mpcp-list">
                            <div id="inquiriesContainer"></div>
                            <div class="loading-wrap" id="mpLoadingMark">
                                <img alt="" src="/imgs/loading.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </main>

    <footer th:replace="~{global-templates/header-footer :: footer}"></footer>
</div>
</body>
<script th:inline="javascript">
    document.getElementById('places').classList.add('active');

    const pId = [[${placeDto.id}]];
</script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/global-js/global.js}" type="module"></script>
<script th:src="@{/js/global-js/chat.js}" type="module"></script>
<script th:src="@{/js/mypage/place-inquiry.js}" type="module"></script>

</html>