<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/global-css/root.css}">
    <link rel="stylesheet" th:href="@{/css/user/join.css}"/>
</head>
<body>

<header th:replace="~{global-templates/header-footer :: header}"></header>
<div class="body flex-align-center">
    <div class="main-container">

        <form th:action="@{/user/join}" method="post" class="join-wrap">
            <div class="email-box">
                <div class="input-guide">
                    <p>이메일</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력" >
                    <p class="email-fail invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input id="email" type="email" name="email" placeholder="이메일을 입력해주세요" onchange="isValidEmail()" required >
                </div>
            </div>

            <div class="password-box">
                <div class="input-guide">
                    <p>비밀번호</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="password-fail invalid-msg none">유효하지 않은 비밀번호 형식입니다</p>
                </div>
                <div class="input-box">
                    <input id="password" type="password" name="password" placeholder="영문/숫자 조합8~20자로 입력해주세요" onchange="isValidPassword()" required>
                </div>
            </div>

            <div class="nick-name-box">
                <div class="input-guide">
                    <p>닉네임</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="nick-name-fail invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input id="nick-name" name="nickName" type="text"  placeholder="닉네임을 입력해주세요" onchange="isValidNickName()" required>
                </div>
            </div>

            <div class="tel-box">
                <div class="input-guide">
                    <p>전화번호</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="tel-fail invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input id="tel" name="tel" type="text" onchange="isValidTelNumber()" placeholder="전화번호를 입력해주세요"  required>
                </div>
            </div>

            <div class="agreement">
                <div class="all-check">
                    <img src="//s3.hourplace.co.kr/web/images/icon/controls_round_check.svg" alt="">
                    <p>전체 동의하기</p>
                </div>

                <div class="check required">
                    <img src="https://s3.hourplace.co.kr/web/images/icon/check_g.svg" alt="">
                    <p>[필수] 스포틱 서비스 이용약관 동의</p>
                </div>

                <div class="check required">
                    <img src="https://s3.hourplace.co.kr/web/images/icon/check_g.svg" alt="">
                    <p>[필수] 본인 확인 서비스 이용약관 동의</p>
                </div>
                <div class="check">
                    <img src="https://s3.hourplace.co.kr/web/images/icon/check_g.svg" alt="">
                    <p>[선택] 마케팅 정보 수신 동의</p>
                </div>

            </div>

            <div class="submit-box flex-align-center">
                <div class="submit-btn flex-align-center">
                    회원가입
                </div>
            </div>

        </form>
    </div>


</div>
<footer th:replace="~{global-templates/header-footer :: footer}"></footer>

<script src="https://kit.fontawesome.com/c6992f5b12.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/global-js/global.js}"></script>
<script th:src="@{/js/global-js/loading.js}"></script>
<script th:src="@{/js/user/join.js}"></script>
</body>
</html>