* {
    margin: 0;
    padding: 0;
}

.admin-main {
    margin: auto;
    display: flex;
    justify-content: center;
}

/* 관리자 프로필 */
.admin-app {
    display: flex;
    justify-content: space-around;
    width: 1050px;
    flex-wrap: wrap;
}

.admin-pfp {
    display: flex;
    margin-bottom: 50px;
}

.admin-pfp-img-upload > label {
    position: relative;
    cursor: pointer;
}

.admin-pfp-img-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    /* margin-top: 27px; */
    margin-top: 40px;
}

.admin-pfp-img-icon > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.admin-pfp-img-upload > input {
    display: none;
    position: absolute;
    overflow: hidden;
}

.admin-name-email {
    margin-left: 10px;
    margin-top: 42px;
}

.admin-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.admin-email-box {
    display: flex;
}

.admin-email {
    font-size: 14px;
    color: rgb(118, 125, 130);
    font-weight: 500;
}
/* 관리자 프로필 */

/* 관리자 사이드 메뉴 */
.admin-aside-menu {
    margin-right: 20px;
}

.admin-side-menu {
    margin-left: 25px;
}

.admin-management {
    margin-bottom: 25px;
}

.admin-side-menu > a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.admin-side-menu > a:hover {
    font-weight: 700;
}

.admin-name-email {
    margin-left: 10px;
    margin-top: 45px;
}
/* 관리자 사이드 메뉴 */

/* 관리자 카테고리 및 회원 정보 검색 및 테이블 */
.admin-category {
    margin-bottom: 30px;
    width: 850px;
}

/* 관리자 카테고리 */
.category {
    margin-bottom: 20px;
}

.admin-small-category-container {
    display: flex;
}

.admin-big-category > h2 {
    margin-bottom: 20px;
}

.admin-small-category1 {
    width: 100px;
    margin-right: 10px;
    border-bottom: 2px solid #595f63;
}

.admin-small-category1 > a {
    text-decoration: none;
    color: black;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-small-category2 {
    width: 100px;
    margin-right: 10px;
    /* border-bottom: 2px solid #595f63; */
}

.admin-small-category2 > a {
    text-decoration: none;
    color: black;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-small-category3 {
    width: 100px;
    margin-right: 10px;
    /* border-bottom: 2px solid #595f63; */
}

.admin-small-category3 > a {
    text-decoration: none;
    color: black;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-small-category1 > a:hover,
.admin-small-category2 > a:hover,
.admin-small-category3 > a:hover {
    background-color: rgba(198, 198, 198, 0.251);
    border-radius: 5px;
}

/* 관리자 카테고리 */

/* 회원 정보 검색 및 테이블  */
.user-search {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.user-search > span {
    font-size: 15px;
    display: block;
    margin-top: 4px;
}

.user-search-email,
.user-search-nickname {
    width: 90px;
    height: 25px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.select-place-ticket {
    width: 80px;
    height: 30px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.board-status-choice {
    width: 80px;
    height: 30px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-btn {
    border: none;
    background-color: #cfe6ff;
    border-radius: 5px;
    padding: 4px 8px;
    color: #007aff;
    font-weight: bold;
    width: 80px;
    cursor: pointer;
}

.board-search-table {
    width: 100%;
    height: 300px;
}

.table-box {
    height: 400px;
    border-radius: 5px;
    border: 1px solid rgba(111, 114, 114, 0.24);
    overflow: scroll;
    padding-left: 10px;
}

.board-search-table {
    border-spacing: 0;
    padding: 5px 5px;
    color: gray;
    font-size: 12px;
    height: 150px;
    border: none;
}

thead {
    align-items: center;
}

thead tr {
    height: 40px;
}

td {
    border: none;
    border-bottom: 1px solid rgba(111, 114, 114, 0.24);
}

tbody tr {
    border: none;
    height: 60px;
}

.Y {
    width: 45px;
    background-color: #eaf4ff;
    color: #007aff;
    border: none;
    border-radius: 5px;
    padding: 6px 11px;
    font-weight: bold;
}

.B {
    width: 45px;
    background-color: rgb(255, 237, 237);
    color: red;
    border: none;
    border-radius: 5px;
    padding: 6px 11px;
    font-weight: bold;
}

#board-table-category-check,
#board-checking {
    cursor: pointer;
}

/* 회원 정보 검색 및 테이블  */

.board-status-btn {
    margin-left: 930px;
    margin-top: 10px;
}

.board-status-btn > button {
    background-color: #eaf4ff;
    color: #007aff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
}

/* 테이블 스크롤 바 */
.table-box::-webkit-scrollbar {
    width: 7px;
}

.table-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}

.table-box::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
}

.table-box::-webkit-scrollbar-track {
    background: #fff;
}
/* 테이블 스크롤 바 */

/* datepicker */
#datepicker {
    width: 100px;
}