/* 장소 관련 모달 */
.modal-place {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(96, 96, 96, 0.22) 0 2px 18px 0;
    border: 1px solid rgb(239, 243, 245);
    padding: 40px 30px;
    overflow: hidden;
}

.modal-place.show {
    display: block;
}

.modal-place-user-con {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin-bottom: 20px;
}

.modal-user-icon {
    overflow: hidden;
    min-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 20px;
}

.modal-user-icon img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.modal-user-name {
    font-size: 1.2rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 600;
}

.modal-place-content-container {
    display: flex;
    width: 100%;
    gap: 8px;
}

.modal-place-con-box {
    border: 1px solid #b4b4b4;
    border-radius: 8px;
    width: 100%;
    padding: 6px;
}

.modal-place-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
}

.modal-place-input-con {
    display: flex;
    align-items: center;
    border: 1px solid #dfe2e7;
    background-color: #f7f8f9;
    border-radius: 4px;
    padding: 4px 8px;
}

.modal-place-input-con input {
    text-align: right;
    width: 100%;
    cursor: default;
    font-size: 16px;
}

.modal-place-btn-wrap {
    display: flex;
    justify-content: end;
    margin-top: 12px;
}

.modal-place-btn {
    color: #fff;
    border-radius: 10px;
    min-width: 80px;
    height: 30px;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}

.modal-place-txarea {
    width: 600px;
    height: 200px;
    overflow-y: auto;
}

.mpc-inquiry-title {
    text-align: left !important;
    font-size: 16px;
}

/* 문의 */
.modal-inquiry {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(96, 96, 96, 0.22) 0 2px 18px 0;
    border: 1px solid rgb(239, 243, 245);
    padding: 40px 30px;
    overflow: hidden;
}

.modal-inquiry.show {
    display: block;
}


.mypage-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(96, 96, 96, 0.22) 0 2px 18px 0;
}

.mypage-modal.show {
    display: block;
}

.modal-row {
    position: relative;
    display: flex;
    flex-direction: row;
}

.default-profile-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    margin-right: 48px;
    background-color: #b6b6b6;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}

.default-profile-con:last-child {
    margin-right: 0;
}

.modal-input-container {
    position: relative;
    width: 100%;
    height: 52px;
    border-radius: 4px;
    border: 1px solid #dfe2e7;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 14px;
    padding-left: 14px;
}

.modal-input-container input {
    width: calc(100% - 30px);
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    border-width: 0;
    caret-color: #3c82fa;
}

.modal-input-container.disable {
    border: 1px solid #dfe2e7;
    background-color: #f7f8f9;
}

.modal-input-container.disable input {
    background-color: #f7f8f9;
    color: #9ea4aa;
    pointer-events: none;
}

.modal-input-delete {
    position: absolute;
    right: 0;
    width: 44px;
    height: 44px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-input-delete.show {
    display: flex;
}

.modal-input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 7px;
    width: 109px;
    height: 38px;
    border-radius: 4px;
    background: rgb(38, 40, 43);
    cursor: pointer;
}

.modal-input-button:disabled {
    background: rgb(231, 234, 238);
    cursor: not-allowed;
}

.modal-input-button span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

.modal-input-button.disable span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgb(158, 164, 170);
}

.modal-timer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 14px;
    height: 44px;
}

.modal-timer-container p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: rgb(158, 164, 170);
}

.modal-alert-text {
    margin-top: 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgb(255, 75, 62);
}

.modal-confirm-btn {
    height: 52px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3c82fa;
    cursor: pointer;
    margin-top: 40px;
    width: 132px;
    color: #fff;
}

.modal-confirm-btn:disabled {
    cursor: not-allowed;
    background-color: #e7eaee;
    color: #9ea4aa;
}

.modal-confirm-btn p {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: -.1px;
    text-align: center;
}

/* 티켓 모달 */
.modal-ticket {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(96, 96, 96, 0.22) 0 2px 18px 0;
    border: 1px solid rgb(239, 243, 245);
    padding: 40px 30px;
    overflow: hidden;
}

.modal-ticket.show {
    display: block;
}