<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="root.css">
    <script src="https://kit.fontawesome.com/2364e2b536.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="page-header">
        <div class="header-content">
            <div class="header-grid h-content-container">
                <div class="hc-main">
                    <button type="button" class="hc-logo">
                        <img src="https://shareit.kr/_next/static/media/logoShareit_blackCombi.669780dc.svg" alt="로고">
                    </button>
                    <div class="hc-types-selector">
                        <button type="button" class="hc-content-type" onclick="toggleContent(0)">장소</button>
                        <button type="button" class="hc-content-type" onclick="toggleContent(1)">타캣팅</button>
                        <div id="currentContent" class="hc-current-type type1">장소</div>
                    </div>
                </div>
                <div class="hc-selections">
                    <div class="hc-contents-list">
                        <button class="hc-content">
                            <p class="hc-content-font">홍보 게시판</p>
                        </button>
                    </div>
                    <div id="searchBarOpen" class="hc-content-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div id="searchBar" class="h-search-bar-container hide">
                        <div id="searchBarClose" class="hc-content-icon" style="margin:0">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input id="searchInput" type="text">
                        <button id="searchInputDelete" class="hc-search-bar-erase hide">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="hc-content-icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <hr class="hc-divider">
                    <div class="hc-beforelogin">
                        <div class="hc-contents-list">
                            <button class="hc-content">
                                <p class="hc-content-font">로그인</p>
                            </button>
                        </div>
                    </div>
                    <div class="hc-afterlogin">
                        <div class="hc-contents-list">
                            <button class="hc-content">
                                <p class="hc-content-font-small">장소 등록</p>
                            </button>
                        </div>
                        <div class="h-user-icon" onclick="toggleUsermenu()">
                            <img
                                src="https://img.hourplace.co.kr/image/user/109990/2023/12/05/79a6f8ac-6b84-4977-a2da-baa111bcd54d?s=2000x2000&amp;amp;t=inside&amp;amp;q=80&amp;amp;f=jpeg&amp;amp;">
                        </div>
                        <div class="hc-content-icon" onclick="toggleNotification()">
                            <i class="fa-regular fa-bell"></i>
                        </div>
                        <div class="hc-content-icon">
                            <i class="fa-regular fa-bookmark"></i>
                        </div>
                    </div>
                </div>
                <div class="hd-usermenu">
                    <div class="hd-user-name">testuser111111111111111111111111</div>
                    <hr class="hd-divider">
                    <a href="#" class="hd-content">
                        <p>개인정보 수정</p>
                    </a>
                    <a href="#" class="hd-content">
                        <p>북마크</p>
                    </a>
                    <a href="#" class="hd-content">
                        <p>예약내역</p>
                    </a>
                    <a href="#" class="hd-content">
                        <p>후기관리</p>
                    </a>
                    <hr class="hd-divider">
                    <a href="#" class="hd-content">
                        <p>장소 관리</p>
                    </a>
                    <hr class="hd-divider">
                    <a href="#" class="hd-content">
                        <p>고객센터</p>
                    </a>
                    <hr class="hd-divider">
                    <a href="#" class="hd-content">
                        <p>로그아웃</p>
                    </a>
                </div>
                <div class="hd-notification">
                    <div class="hdn-item">
                        <div style="display: flex;">
                            <div style="min-width: 40px;">
                                <img class="hdn-icon"
                                    src="https://img.hourplace.co.kr/image/user/109990/2023/12/05/79a6f8ac-6b84-4977-a2da-baa111bcd54d?s=2000x2000&amp;amp;t=inside&amp;amp;q=80&amp;amp;f=jpeg&amp;amp;">
                            </div>
                            <div style="width: 90%;">
                                <div style="display: flex; justify-content: space-between;">
                                    <div class="hdn-title">알림 제목</div>
                                    <div class="hdn-date">~일전</div>
                                </div>
                                <div class="hdn-content">알림 내용 입니다.알림 내용 입니다.알림 내용 입니다.알림 내용 입니다.알림 내용 입니다.</div>
                            </div>
                        </div>
                    </div>
                    <div class="hdn-item">
                        <div style="display: flex;">
                            <div style="min-width: 40px;">
                                <img class="hdn-icon"
                                    src="https://img.hourplace.co.kr/image/user/109990/2023/12/05/79a6f8ac-6b84-4977-a2da-baa111bcd54d?s=2000x2000&amp;amp;t=inside&amp;amp;q=80&amp;amp;f=jpeg&amp;amp;">
                            </div>
                            <div style="width: 90%;">
                                <div style="display: flex; justify-content: space-between;">
                                    <div class="hdn-title">알림 제목</div>
                                    <div class="hdn-date">~일전</div>
                                </div>
                                <div class="hdn-content">알림 내용 입니다.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-grid"></div>
        </div>
    </header>
</body>
<script src="header.js"></script>

</html>