.PlaceImagesContainer .swiper-slide {
    width: 100% !important;
}

.Swiper-Img {
    width: 100% !important;
}

.CategoryContentsContainer .swiper-slide {
    width: 32.3% !important;
}

.CategoryContentsContainer .swiper-slide:not(:last-child) {
    margin-right: 18px;
}

.flex-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
}