* {
    padding: 0;
    margin: 0;
}

*, :after, :before {
    box-sizing: border-box;
    outline: none;
}

body, html {
    font-size: 15px;
    width: 100%;
    height: 100%;
    color: #232323;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, pre, q, ruby, s, samp, section, small, strike, sub, summary, sup, table, time, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}

a, a:hover {
    text-decoration: none;
}

a {
    color: #000;
}

a, button, label {
    cursor: pointer;
}

img {
    vertical-align: top;
}



.ReferenceHallDetailContainer{
    padding-bottom: 36px;
}

.ReferenceHallDetailTitleImgContainer{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.TitleImg{
    margin-top: 95px;
    width: 100% !important;
}

.ContentContainer{
    position: relative;
}

.SideMenuContainer{
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 3%;
    top: 20%;
    width: fit-content;
    left: 90%;
    z-index: 1030;
}

.SideMenuBookMarkContainer{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.SideBookMark{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-top: 22px;
    margin-bottom: 0px;
    border-radius: 50%;
    border: 1px solid rgb(212, 219, 226);
    cursor: pointer;
}

.SideBookMark img{
    width: 60px;
    height: 60px;
    margin: 0;
    cursor: pointer;
}

.none {
    display: none;
}

.BookMarkCount{
    font-size: 15px;
    line-height: 30px;
    color: rgb(112, 112, 112);
}

.SideMenuLink{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 1px solid rgb(212, 219, 226);
    cursor: pointer;
}

.MainContentContainer{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.MainContentContainerHeader{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.MainContentContainerHeaderTitle{
    margin-top: -120px;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.04em;
    color: rgb(36, 36, 36);
}

.MainContentContainerHeaderSubTitle{
    margin-top: 16px;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.04em;
    color: rgb(36, 36, 36);
}

.MainContentContainerHeaderDate{
    margin-top: 9px;
    font-size: 16px;
    line-height: 18px;
    color: rgb(189, 189, 189);
}

.MainContentContainerHeaderWriterContainer{
    display: flex;
    margin-top: 29px;
}

.master-action-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 45px;
    padding: 0 15px;
    font-size: 15px;
    border-radius: 4px;
    transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
}

.master-action-btn:first-child {
    margin-right: 10px;
}

.master-action-btn.grey {
    color: #848484;
    background-color: rgb(255, 255, 255);
    border: 1px solid #848484;
}

.master-action-btn.blue {
    color: #007AFF;
    background-color: rgb(255, 255, 255);
    border: 1px solid #007AFF;
}

.master-action-btn.grey:hover {
    background-color: #ff003b;
    color: white;
}

.master-action-btn.blue:hover {
    background-color: #007AFF;
    color: white;
}

.WriterImg{
    width: 26px;
    height: 26px;
    margin-right: 8px;
    border-radius: 50%;
}

.WriterNickName{
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: rgb(87, 87, 87);
}

.MainContentContainerHeaderText{
    margin-top: 32px;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.04em;
    color: rgb(61, 61, 61);
    white-space: pre-wrap;
}

.HeaderHrLine{
    width: 100%;
    height: 1px;
    background-color: rgb(214, 214, 214);
}

.PromotionContentContainer{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.PromotionHeaderText{
    margin-top: 85px;
    width: fit-content;
    height: 43px;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 0px 18px;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: -0.04em;
    color: rgb(0, 0, 0);
}

.PlaceExpositionContainer{
    margin-top: 57px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: rgba(94, 117, 141, 0.2) 0px 2px 6px;
    border-radius: 4px;
    margin-bottom: 100px;
}

.PlaceImagesContainer{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.FavoriteButton{
    width: 54px;
    height: 54px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/image/btn-large-heart-white.svg);
    background-size: 100%;
    z-index: 1010;
    cursor: pointer;
}

.PlaceExpositionTextArea{
    display: flex;
    flex-direction: column;
    padding: 31px 40px;
}

.PlaceExpositionTitleContainer{
    display: flex;
}

.PlaceExpositionTitle{
    font-size: 25px;
    line-height: 28px;
    color: rgb(61, 61, 61);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.PlaceExpositionTitleIcon{
    width: 20px;
    height: 20px;
}

.PlaceAddressContainer{
    margin-top: 18px;
    display: flex;
}

.SpaceHostImage{
    width: 26px;
    height: 26px;
    margin-right: 9px;
    border-radius: 50%;
}

.SpaceHostName{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: rgb(138, 138, 138);
}

.SpaceHostNameImage{
    width: 18px;
    height: 18px;
}

.SpaceSpecBox{
    display: flex;
    flex-direction: column;
    margin-top: 31px;
}

.SpaceSpecItem{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.SpaceSpecItemLabel{
    font-size: 20px;
    line-height: 30px;
    color: rgb(61, 61, 61);
}

.SpaceSpecItemContent{
    font-size: 20px;
    line-height: 30px;
    color: rgb(138, 138, 138);
    white-space: pre-wrap;
}

.SpaceSpecLastItem{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: unset;
}

.TemplateContainer{
    margin-bottom: 80px;
}

.TemplateContent{
    font-size: 18px;
    color: rgb(61, 61, 61);
    line-height: 32px;
    letter-spacing: -0.04em;
    white-space: pre-wrap;
    margin: 30px 0px 18px;
}

.TemplateContentImage{
    margin: 26px 0px 8px;
    width: 100% !important;
}

.CategoryContentsContainer{
    max-width: 1200px;
    border-top: 8px solid rgb(240, 240, 240);
    margin: 0px auto;
    padding: 55px 0px;
}

#moreContentsBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.CategoryContentsText{
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}

.CategoryContentItem{
    border: 1px solid rgb(212, 219, 226);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.CategoryContentItem > p {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.04em;
    padding: 15px 17px 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CategoryContentItemImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.CategoryContentsBtnContainer{
    margin-top: 55px;
}

.Cleia{
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    height: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0px 30px 2px;
}

.OtherBtn{
    background-color: rgb(255, 255, 255);
    color: rgb(94, 102, 141);
    border: 1px solid rgb(212, 219, 226);
}

.ModalBackground{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    touch-action: none;
    display: none;
}

.ModalBackground.On{
    display: block;
}

.ShareModalContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    width: 354px;
    border-radius: 20px;
}

.ShareModalHeader{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 18px 0px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.ShareModalHeaderTitle{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.96px;
}

.ShareModalCloseBtn{
    position: absolute;
    top: 21px;
    right: 18px;
}

.ShareModalCloseImg{
    width: 18px;
}

.ShareModalBottomContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px;
}

.ModalShareBtn{
    width: 100%;
    padding: 9px;
    border: 1px solid rgb(212, 219, 226);
    border-radius: 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 9px;
}

.ShareModalShareImgContainer{
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background: rgb(0, 117, 235);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.ModalShareImg{
    width: 30px;
}

.ModalShareBtnText{
    font-size: 15px;
    line-height: 40px;
    color: rgb(36, 36, 36);
}

.ModalKakaoShareBtn{
    width: 100%;
    padding: 9px;
    border: 1px solid rgb(212, 219, 226);
    border-radius: 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 9px;
}

.ShareModalKakaoImg{
    width: 40px;
}

.ModalKakaoShareBtnText{
    font-size: 15px;
    line-height: 40px;
    color: rgb(36, 36, 36);
}

.ModalShareBtn:hover {
    border: 1px solid rgb(0, 117, 235);
}

.ModalKakaoShareBtn:hover {
 border: 1px solid rgb(0, 117, 235);
}