<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장소 등록</title>
    <link href="/imgs/logo/favicon.png" rel="icon">
    <link rel="stylesheet" th:href="@{/css/global-css/root.css}">
    <link rel="stylesheet" th:href="@{/css/place/register.css}"/>
</head>
<body>

<header th:replace="~{global-templates/header-footer :: header}"></header>

<div class="body">
    <div class="place-register-container">
        <form class="register-form" enctype="multipart/form-data" method="post"
              onsubmit="disableSubmitBtn()" th:action="@{/place/edit/{placeId}(placeId=${placeEditDto.placeId})}"
              th:object="${placeEditDto}">
            <div class="guide-title-box">
                <p>장소 정보 수정</p>
            </div>

            <div class="notification-box">
                <span>장소 정보 수정 시 관리자의 승인이후 변경됩니다.</span>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 이름</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:if="${placeNameError}" th:text="${placeNameError}"></p>
                </div>
                <div class="input-box">
                    <input placeholder="장소를 대표하는 이름을 입력해 주세요" required th:field="*{placeName}" type="text">
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 소제목</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:if="${placeSubTitleError}" th:text="${placeSubTitleError}"></p>
                </div>
                <div class="input-box">
                    <input placeholder="장소를 짧게 나타내는 소제목을 입력해주세요" required th:field="*{placeSubTitle}"
                           type="text">
                </div>
            </div>


            <div class="map-box">
                <div class="input-guide flex">
                    <p class="input-title">위치 검색</p>
                    <p class="guide-msg">장소를 검색하신 후 클릭하여 핀을 찍어주세요</p>
                </div>
                <p class="invalid-msg" th:if="${placeLatError}" th:text="${placeLatError}"></p>
                <p class="invalid-msg" th:if="${placeLngError}" th:text="${placeLngError}"></p>
                <div class="search-wrap">
                    <div class="input-box search-box">
                        <input id="search" placeholder="장소를 검색해주세요" type="text">
                    </div>

                    <div class="flex-align-center">
                        <button class="search-btn" type="button">
                            <i class="fa-solid fa-magnifying-glass" style="color: #343434;"></i>
                        </button>
                    </div>
                </div>
                <div id="map"></div>
                <input name="placeLat" th:field="*{placeLat}" type="hidden">
                <input name="placeLng" th:field="*{placeLng}" type="hidden">
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 주소</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:if="${placeAddressError}" th:text="${placeAddressError}"></p>
                    <p class="invalid-msg" th:if="${placeAddressDetailError}" th:text="${placeAddressDetailError}"></p>
                </div>
                <div class="input-box">
                    <input placeholder="장소 주소를 입력해 주세요" required
                           th:field="*{placeAddress}"
                           type="text">
                </div>
                <div class="input-box">
                    <input placeholder="장소의 상세 주소를 입력해 주세요" required
                           th:field="*{placeAddressDetail}" type="text">
                </div>
            </div>

            <p class="input-title" style="margin-bottom: 8px">등록된 사진들</p>
            <p class="invalid-msg" th:if="${fileError}" th:text="${fileError}"></p>
            <div class="img-wrap" id="savedImg">
                <div class="file-label flex-align-center" style="cursor:default;">
                    <i class="fa-regular fa-image"></i>
                    <p>등록된 사진들</p>
                </div>
                <div class="imgSlide-btn-wrap" id="savedBtnWrap">
                    <button class="imgSlide-btn left" id="savedLeft" type="button">
                        <img src="/imgs/round_arrow_left_gray024.707193e8.svg">
                    </button>
                    <button class="imgSlide-btn right" id="savedRight" type="button">
                        <img src="/imgs/round_arrow_right_gray024.7f7e18a3.svg">
                    </button>
                </div>
                <ul class="imgSlide-wrap savedImgContainer" id="savedImgs"></ul>
                <div id="saveList"></div>
            </div>
            <div class="imgSlide-pagination-wrap" id="savedImgPagination"></div>

            <p class="input-title" style="margin-bottom: 8px">추가할 사진들</p>
            <div class="img-wrap">
                <input accept="image/*" id="placeFiles" multiple th:field="*{placeNewFiles}" type="file">
                <label class="file-label flex-align-center" for="placeFiles">
                    <i class="fa-regular fa-image"></i>
                    <p>장소 사진을 넣어주세요</p>
                </label>
                <div class="file-container none">
                    <ul class="file-wrap">
                    </ul>

                    <div class="img-button-box">
                        <button class="prev" type="button">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </button>
                        <div></div>
                        <button class="next" type="button">
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 설명</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:if="${placeInfoError}" th:text="${placeInfoError}"></p>
                </div>
                <label class="input-box textarea-box" th:for="placeInfo">
                    <textarea placeholder="장소에 대해서 자세하게 설명해주세요"
                              required th:field="*{placeInfo}"></textarea>
                </label>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 이용규칙</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:if="${placeRuleError}" th:text="${placeRuleError}"></p>
                </div>
                <label class="input-box textarea-box" th:for="placeRule">
                    <textarea placeholder="장소 이용규칙에 대해서 적어주세요"
                              required th:field="*{placeRule}"></textarea>
                </label>
            </div>

            <div class="price-people-container">
                <div class="input-wrap hour-price-wrap">
                    <div class="input-guide flex">
                        <p class="input-title price-title">시간당 대여 금액</p>
                        <img alt="필수입력" src="/imgs/invalid.svg">
                        <p class="invalid-msg" th:if="${placeDefaultPriceError}" th:text="${placeDefaultPriceError}"></p>
                    </div>
                    <div class="input-box">
                        <input min="0" placeholder="금액을 입력해주세요" required
                               th:field="*{placeDefaultPrice}"
                               type="number">
                        <p class="unit">원</p>
                    </div>
                </div>
                <div class="input-wrap hour-price-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">할증금액</p>
                        <img alt="필수입력" src="/imgs/invalid.svg">
                        <p class="guide-msg">기본 인원을 초과하면 해당 금액만큼 할증이 붙어요</p>
                        <p class="invalid-msg" th:if="${placeSurchargeError}" th:text="${placeSurchargeError}"></p>
                    </div>
                    <div class="input-box">
                        <input min="1" placeholder="할증 금액을 입력해주세요" th:field="*{placeSurcharge}"
                               type="number">
                        <p class="unit">원</p>
                    </div>
                </div>
            </div>

            <div class="input-wrap default-people-container">
                <div class="input-guide flex">
                    <p class="input-title">기본 인원</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:if="${placeDefaultPeopleError}" th:text="${placeDefaultPeopleError}"></p>
                </div>
                <div class="input-box">
                    <input min="1" placeholder="장소의 기본 이용인원을 적어주세요" required
                           th:field="*{placeDefaultPeople}" type="number">
                    <p class="unit">명</p>
                </div>
            </div>

            <div class="guide-title-box">
                <p>호스트 정보</p>
            </div>

            <div class="price-people-container">
                <div class="input-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">예금주</p>
                        <img alt="필수입력" src="/imgs/invalid.svg">
                        <p class="invalid-msg" th:if="${accountHolderError}" th:text="${accountHolderError}"></p>
                    </div>
                    <div class="input-box">
                        <input placeholder="예금주를 입력해주세요" required
                               th:field="*{accountHolder}"
                               type="text">
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">은행명</p>
                        <img alt="필수입력" src="/imgs/invalid.svg">
                        <p class="invalid-msg"></p>
                    </div>
                    <div class="input-box select-box">
                        <select class="select" th:field="*{bankName}">
                            <option selected value="국민">국민</option>
                            <option value="우리">우리</option>
                            <option value="농협">농협</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">계좌번호</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:if="${accountNumberError}" th:text="${accountNumberError}"></p>
                </div>
                <div class="input-box">
                    <input placeholder="계좌번호를 입력해주세요" required th:field="*{accountNumber}"
                           type="text">
                </div>
            </div>
            <div class="flex-center start">
                <button class="cancel flex-align-center" id="hrefBack" type="button">취소</button>
                <button class="submit-btn flex-align-center on" id="submit">신청하기</button>
            </div>
        </form>
    </div>
</div>


<footer th:replace="~{global-templates/header-footer :: footer}"></footer>

<script crossorigin="anonymous" src="https://kit.fontawesome.com/c6992f5b12.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dc12d7c2624483dc7c019a0a91b727f&libraries=services"
        type="text/javascript"></script>
<script th:src="@{/js/global-js/global.js}"></script>
<script th:src="@{/js/global-js/loading.js}"></script>
<script th:src="@{/js/global-js/img-slide.js}"></script>
<script th:src="@{/js/place/register/kakaoMapApi.js}"></script>
<script th:src="@{/js/place/register/register.js}"></script>
<script th:src="@{/js/place/register/edit.js}"></script>
<script th:inline="javascript">
    $(function () {
        // 화면 첫 접근 시 맵 마커 생성
        const DEFAULT_LAT = $('#placeLat').val();
        const DEFAULT_LNG = $('#placeLng').val();
        resetMapAndMarkerByLatLng(DEFAULT_LAT, DEFAULT_LNG);

        const savedFileDtos = [[${placeEditDto.placeSavedFileDtos}]];
        imgSlideService.setImgSlides(savedFileDtos, savedImgs);

        let index = 0;
        savedFileDtos.forEach(file => {
            let hiddenInput = $('<input>').attr({
                type: 'hidden',
                index: index,
                name: 'saveFileIdList',
                value: file.placeFileId
            });

            $('#saveList').append(hiddenInput);
            index++;
        })
    })
</script>
</body>
</html>