<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장소 등록</title>
    <link th:href="@{/imgs/logo/favicon.png}" rel="icon">
    <link rel="stylesheet" th:href="@{/css/global-css/root.css}">
    <link rel="stylesheet" th:href="@{/css/place/register.css}"/>
</head>
<body>

<header th:replace="~{global-templates/header-footer :: header}"></header>

<div class="body">
    <div class="place-register-container">
        <form th:action="@{/place/register}" method="post" onsubmit="disableSubmitBtn()"
              class="register-form" enctype="multipart/form-data" th:object="${placeRegisterDto}">
            <div class="guide-title-box">
                <p>장소 등록 신청</p>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 이름</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg" th:if="${#fields.hasErrors()}" th:errors="*{placeName}"></p>
                </div>
                <div class="input-box">
                    <input type="text" th:field="*{placeName}" placeholder="장소를 대표하는 이름을 입력해 주세요" required>
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 소제목</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg" th:if="${#fields.hasErrors()}" th:errors="*{placeSubTitle}"></p>
                </div>
                <div class="input-box">
                    <input type="text" th:field="*{placeSubTitle}" placeholder="장소를 짧게 나타내는 소제목을 입력해주세요"
                           required>
                </div>
            </div>


            <div class="map-box">
                <div class="input-guide flex">
                    <p class="input-title">위치 검색</p>
                    <p class="guide-msg">장소를 검색하신 후 클릭하여 핀을 찍어주세요</p>
                </div>
                <p class="invalid-msg" th:if="${#fields.hasErrors()}" th:errors="*{placeLat}"></p>
                <div class="search-wrap">
                    <div class="input-box search-box">
                        <input id="search" type="text" placeholder="장소를 검색해주세요">
                    </div>

                    <div class="flex-align-center">
                        <button type="button" class="search-btn">
                            <i class="fa-solid fa-magnifying-glass" style="color: #343434;"></i>
                        </button>
                    </div>
                </div>
                <div id="map"></div>
                <input th:field="*{placeLat}" type="hidden" name="placeLat">
                <input th:field="*{placeLng}" type="hidden" name="placeLng">
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 주소</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg" th:if="${#fields.hasErrors()}" th:errors="*{placeAddressDetail}"></p>
                </div>
                <div class="input-box">
                    <input type="text" th:field="*{placeAddress}" placeholder="장소 주소를 입력해 주세요" required>
                </div>
                <div class="input-box">
                    <input type="text" th:field="*{placeAddressDetail}"
                           placeholder="장소의 상세 주소를 입력해 주세요" required>
                </div>
            </div>

            <p class="invalid-msg" th:if="${#fields.hasErrors()}" th:errors="*{placeFiles}"></p>
            <div class="img-wrap">
                <input type="file" th:field="*{placeFiles}" accept="image/*" multiple>
                <label for="placeFiles" class="file-label flex-align-center">
                    <i class="fa-regular fa-image"></i>
                    <p>장소 사진을 넣어주세요</p>
                </label>
                <div class="file-container none">
                    <ul class="file-wrap">
                    </ul>

                    <div class="img-button-box">
                        <button type="button" class="prev">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </button>
                        <div></div>
                        <button type="button" class="next">
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </button>
                    </div>
                </div>

            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 설명</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg" th:if="${#fields.hasErrors()}" th:errors="*{placeInfo}"></p>
                </div>
                <label for="placeInfo" class="input-box textarea-box">
                    <textarea th:field="*{placeInfo}"
                              placeholder="장소에 대해서 자세하게 설명해주세요" required></textarea>
                </label>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">장소 이용규칙</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg" th:if="${#fields.hasErrors()}" th:errors="*{placeRule}"></p>
                </div>
                <label for="placeRule" class="input-box textarea-box">
                    <textarea th:field="*{placeRule}"
                              placeholder="장소 이용규칙에 대해서 적어주세요" required>- 대여 시간보다 적게 사용 하더라도 대관비는 환불되지 않습니다.

                        - 기물 파손 및 청소 등의 사유로 보증금을 호스트에게 입금하여야 합니다.

                        - 사용자 인원이나 사용 시간이 추가될 경우, 현장에서 추가 과금이 진행됩니다.

                        - 입실은 정시, 퇴실은 5분 전에 준비해서 예약 시간 안에 이용

                        - 시설 훼손 및 기물 파손 시 손해액을 호스트에게 배상하여야 합니다.
                        (CCTV는 방범/분실/기물파손/인원확인 등의 이유로 녹화됨)

                        - 이용 후, 쓰레기(일반/재활용/음식물) 분리수거를 꼭 진행해주세요. 미 진행 시, 추가요금이 청구될 수 있습니다.</textarea>
                </label>
            </div>

            <div class="price-people-container">
                <div class="input-wrap hour-price-wrap">
                    <div class="input-guide flex">
                        <p class="input-title price-title">시간당 대여 금액</p>
                        <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                        <p class="invalid-msg" th:if="${#fields.hasErrors()}" th:errors="*{placeDefaultPrice}"></p>
                    </div>
                    <div class="input-box">
                        <input th:field="*{placeDefaultPrice}" min="0" type="number"
                               placeholder="금액을 입력해주세요"
                               required>
                        <p class="unit">원</p>
                    </div>
                </div>
                <div class="input-wrap hour-price-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">할증금액</p>
                        <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                        <p class="guide-msg">기본 인원을 초과하면 해당 금액만큼 할증이 붙어요</p>
                        <p class="invalid-msg" th:if="${#fields.hasErrors()}" th:errors="*{placeSurcharge}"></p>
                    </div>
                    <div class="input-box">
                        <input th:field="*{placeSurcharge}" min="1" type="number"
                               placeholder="할증 금액을 입력해주세요">
                        <p class="unit">원</p>
                    </div>
                </div>
            </div>

            <div class="input-wrap default-people-container">
                <div class="input-guide flex">
                    <p class="input-title">기본 인원</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg" th:if="${#fields.hasErrors()}" th:errors="*{placeDefaultPeople}"></p>
                </div>
                <div class="input-box">
                    <input th:field="*{placeDefaultPeople}" min="1" type="number"
                           placeholder="장소의 기본 이용인원을 적어주세요" required>
                    <p class="unit">명</p>
                </div>
            </div>

            <div class="guide-title-box">
                <p>호스트 정보</p>
            </div>

            <div class="price-people-container">
                <div class="input-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">예금주</p>
                        <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                        <p class="invalid-msg" th:if="${#fields.hasErrors()}" th:errors="*{accountHolder}"></p>
                    </div>
                    <div class="input-box">
                        <input th:field="*{accountHolder}" type="text"
                               placeholder="예금주를 입력해주세요"
                               required>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">은행명</p>
                        <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                        <p class="invalid-msg"></p>
                    </div>
                    <div class="input-box select-box">
                        <select class="select" th:field="*{bankName}">
                            <option selected value="국민">국민</option>
                            <option value="우리">우리</option>
                            <option value="농협">농협</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">계좌번호</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg" th:if="${#fields.hasErrors()}" th:errors="*{accountNumber}"></p>
                </div>
                <div class="input-box">
                    <input th:field="*{accountNumber}" type="text"  placeholder="계좌번호를 입력해주세요"
                           required>
                </div>
            </div>
            <div class="flex-center start">
                <a th:href="@{/place/list}" class="cancel flex-align-center">취소</a>
                <button id="submit" class="submit-btn flex-align-center on">신청하기</button>
            </div>
        </form>
    </div>
</div>


<footer th:replace="~{global-templates/header-footer :: footer}"></footer>

<script src="https://kit.fontawesome.com/c6992f5b12.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dc12d7c2624483dc7c019a0a91b727f&libraries=services"></script>
<script th:src="@{/js/global-js/global.js}"></script>
<script th:src="@{/js/global-js/loading.js}"></script>
<script th:src="@{/js/place/register/register.js}"></script>
<script th:src="@{/js/place/register/kakaoMapApi.js}"></script>
</body>
</html>