<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${place.placeTitle}"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link rel="icon" th:href="@{/imgs/logo/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/global-css/datepicker.css}">
    <link rel="stylesheet" th:href="@{/css/global-css/root.css}">
    <link rel="stylesheet" th:href="@{/css/place/reserve.css}"/>
</head>
<body>

<header th:replace="~{global-templates/header-footer :: header}"></header>

<script th:if="${invalidReservation}">
    alert('해당시간에는 이미 예약이 되어있습니다.')
</script>

<div class="global-container flex-center">

    <div class="reservation-container">
        <form id="reservationForm" method="post" th:action="@{/place/reserve/register}"
              th:object="${placeReserveRegisterDto}">

            <!--예약할 장소 번호-->
            <input th:field="*{placeId}" type="hidden">
            <!--체크인 시간-->
            <input th:field="*{reservationCheckIn}" type="hidden">
            <!--체크아웃 시간-->
            <input th:field="*{reservationCheckOut}" type="hidden">

            <!--            장소 기본인원-->
            <input id="placeDefaultPeople" th:value="${place.placeDefaultPeople}" type="hidden">
            <!--            장소 시간당 기본요금-->
            <input id="placePrice" th:value="${place.placePrice}" type="hidden">
            <!--            장소 추가요금-->
            <input id="placeSurcharge" th:value="${place.placeSurcharge}" type="hidden">

            <p class="reserve-receipt">예약접수</p>

            <div class="place-info-wrap flex-column">
                <p class="section-title">선택한 공간</p>
                <div class="place-info-box flex-align">
                    <div class="place-img-box">
                        <img alt="장소 기본이미지"
                             th:src="@{/file/display(fileName=${place.placeFileDto.uploadPath+'/t_'+place.placeFileDto.uuid+'_'+place.placeFileDto.fileName})}">
                    </div>
                    <div class="place-info">
                        <p class="place-number">장소 번호 <span th:text="${place.placeId}"></span></p>
                        <p class="place-name" th:text="${place.placeTitle}"></p>
                        <p class="sub-title" th:text="${place.placeSubTitle}"></p>
                    </div>
                </div>
            </div>
            <div class="reserve-date-container">
                <p class="section-title">날짜 선택</p>

                <div class="calendar-wrap">
                    <div class="choice-box">
                        <div class="calendar-box">
                            <input id="reservationDate" type="hidden">
                            <div id="datepicker"></div>
                        </div>
                        <div class="time-choice-wrap flex-column">
                            <div>
                                <p class="time-guide">시작 시간</p>
                                <select class="checkInOut" id="checkIn" onchange="setCheckOutTimes()">
                                </select>
                            </div>
                            <div>
                                <p class="time-guide">종료 시간</p>
                                <select class="checkInOut" id="checkOut">
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="select-people-wrap">
                <div class="flex-align">
                    <p class="section-title">인원 선택</p>
                    <span class="selected-count"></span>
                </div>
                <div class="select-wrap flex-align-center">
                    <div class="people-select-box">
                        <button class="minus flex-align-center" type="button">
                            <img alt="" src="https://shareit.kr/_next/static/media/btn-minus-bluegray.2b4551aa.svg">
                        </button>
                        <div class="reservation-visitors flex-align-center">
                            <input class="visitors" max="99" min="1" th:field="*{reservationVisitors}" type="number">
                        </div>
                        <button class="plus flex-align-center" type="button">
                            <img alt="" src="https://shareit.kr/_next/static/media/btn-plus-bluegray.d442947d.svg">
                        </button>
                    </div>
                </div>
                <div class="visitor-ctr-wrap flex-align-center">
                    <div class="visitor-ctr-box">
                        <button type="button" value="5">+5</button>
                        <button type="button" value="10">+10</button>
                        <button type="button" value="30">+30</button>
                        <button type="button" value="50">+50</button>
                    </div>

                </div>
            </div>

            <div class="reservation-content-container">
                <div class="flex-align">
                    <p class="section-title">호스트 전달내용</p>
                    <span class="note">• 개인 연락처 전달 불가</span>
                </div>

                <div class="reservation-content-wrap">
                    <textarea placeholder="호스트에게 전달하고 싶은 내용을 적어주세요"
                              th:field="*{reservationContent}"></textarea>
                </div>
            </div>

            <div class="payment-container">
                <p class="section-title">결제 정보</p>

                <div class="payment-wrap">
                    <section class="total-reserve-amount-box">
                        <p class="info-title">대여 총 금액</p>
                        <div class="flex-column">
                            <p class="amount"><span class="reservation-amount">0</span>원</p>
                            <p class="payment-guide"></p>
                        </div>
                    </section>
                    <section class="people-amount-box">
                        <!--                        <p class="info-title">인원 추가 금액</p>-->
                        <!--                        <div class="flex-column">-->
                        <!--                            <p class="amount">+ <span>5500</span> 원</p>-->
                        <!--                            <p class="payment-guide">4명</p>-->
                        <!--                        </div>-->
                    </section>
                    <section class="total-amount-box flex-between-align">
                        <p>총 금액</p>
                        <p class="total-amount">170,000원</p>
                        <input th:field="*{reservationAmount}" type="hidden">
                    </section>

                </div>

            </div>

            <div class="flex-align-center">
                <button class="payment-btn" type="button">예약</button>
            </div>

        </form>
    </div>


</div>

<footer th:replace="~{global-templates/header-footer :: footer}"></footer>

<script crossorigin="anonymous" src="https://kit.fontawesome.com/c6992f5b12.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<!-- 달력-->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="/js/global-js/global.js" type="module"></script>
<script th:src="@{/js/global-js/loading.js}"></script>
<script th:src="@{/js/place/reserve/calendar.js}"></script>
<script th:src="@{/js/place/reserve/reserve.js}"></script>
</body>
</html>
