<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <link href="../../../static/css/global-css/root.css" rel="stylesheet">
    <link href="../../../static/css/mypage/mypage.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2364e2b536.js"></script>
</head>

<body>
<main id="my-page-main">
    <div class="mp-left-menu">
        <section>
            <div class="mplm-section-title">계정관리</div>
            <ul>
                <li class="mplm-nav-item">
                    <a href="#">개인정보 수정</a>
                </li>
            </ul>
        </section>
        <section>
            <div class="mplm-section-title">My활동</div>
            <ul>
                <li class="mplm-nav-item active">
                    <a href="#">북마크</a>
                </li>
                <li class="mplm-nav-item">
                    <a href="#">예약내역</a>
                </li>
                <li class="mplm-nav-item">
                    <a href="#">문의 내역</a>
                </li>
                <li class="mplm-nav-item">
                    <a href="#">후기관리</a>
                </li>
            </ul>
        </section>
        <section>
            <div class="mplm-section-title">장소 관리</div>
            <ul>
                <li class="mplm-nav-item">
                    <a href="#">장소 관리</a>
                </li>
            </ul>
        </section>
    </div>
    <div class="mp-content">
        <article>
            <div class="mpc-title">
                <h2>북마크</h2>
            </div>
            <div class="mpc-cards-wrap">
                <article>
                    <div class="mpc-card">
                        <a href="#">
                            <div class="mpc-card-img-con">
                                <img
                                        src="//img.hourplace.co.kr/place/user/47919/2022/05/29/74f9815f-fc9d-4dec-8037-41861f43cae9?s=550x364&amp;t=cover&amp;q=80">
                            </div>
                        </a>
                        <div class="mpc-card-content">
                            <div class="mpccc-row" style="justify-content: space-between">
                                <p class="mpccc-top-font" href="#">
                                    <a href="#">서울</a>
                                    <span style="margin: 0 2px;">·</span>
                                    <a href="#">방배동 </a>
                                </p>
                                <div class="mpccc-top-boxes">
                                    <div class="mpccc-box">
                                        <img src="//s3.hourplace.co.kr/web/images/icon/person.svg">
                                        <p>3</p>
                                    </div>
                                    <div class="mpccc-box">
                                        <img src="../../../static/imgs/bookmark-ol.svg">
                                        <p>3</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mpccc-row">
                                <a class="mpccc-title-font general-ellipsis-1" href="#">
                                    제목 테스트 제목 테스트 제목 테스트 제목 테스트 제목 테스트
                                </a>
                            </div>
                            <div class="mpccc-row" style="margin-top: 10px;">
                                <p class="mpccc-price">16,500원</p>
                                <div class="mpccc-eval">
                                    <img src="../../../imgs/gold_star.svg">
                                    <p class="mpccc-eval-num"> 5.0 </p>
                                    <a class="mpccc-review-count" href="#">리뷰
                                        <span>149</span>
                                    </a>
                                </div>
                                <div class="mpccc-bookmark" onclick="toggleBookmark(this)">
                                    <img>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="mpc-card">
                        <a href="#">
                            <div class="mpc-card-img-con">
                                <img
                                        src="//img.hourplace.co.kr/place/user/47919/2022/05/29/74f9815f-fc9d-4dec-8037-41861f43cae9?s=550x364&amp;t=cover&amp;q=80">
                            </div>
                        </a>
                        <div class="mpc-card-content">
                            <div class="mpccc-row" style="justify-content: space-between">
                                <p class="mpccc-top-font" href="#">
                                    <a href="#">서울</a>
                                    <span style="margin: 0 2px;">·</span>
                                    <a href="#">방배동 </a>
                                </p>
                                <div class="mpccc-top-boxes">
                                    <div class="mpccc-box">
                                        <img src="//s3.hourplace.co.kr/web/images/icon/person.svg">
                                        <p>3</p>
                                    </div>
                                    <div class="mpccc-box">
                                        <img src="../../../static/imgs/bookmark-ol.svg">
                                        <p>3</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mpccc-row">
                                <a class="mpccc-title-font general-ellipsis-1" href="#">
                                    제목 테스트 제목 테스트 제목 테스트 제목 테스트 제목 테스트
                                </a>
                            </div>
                            <div class="mpccc-row" style="margin-top: 10px;">
                                <p class="mpccc-price">16,500원</p>
                                <div class="mpccc-eval">
                                    <img src="../../../imgs/gold_star.svg">
                                    <p class="mpccc-eval-num"> 5.0 </p>
                                    <a class="mpccc-review-count" href="#">리뷰
                                        <span>149</span>
                                    </a>
                                </div>
                                <div class="mpccc-bookmark" onclick="toggleBookmark(this)">
                                    <img>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="mpc-card">
                        <a href="#">
                            <div class="mpc-card-img-con">
                                <img
                                        src="//img.hourplace.co.kr/place/user/47919/2022/05/29/74f9815f-fc9d-4dec-8037-41861f43cae9?s=550x364&amp;t=cover&amp;q=80">
                            </div>
                        </a>
                        <div class="mpc-card-content">
                            <div class="mpccc-row" style="justify-content: space-between">
                                <p class="mpccc-top-font" href="#">
                                    <a href="#">서울</a>
                                    <span style="margin: 0 2px;">·</span>
                                    <a href="#">방배동 </a>
                                </p>
                                <div class="mpccc-top-boxes">
                                    <div class="mpccc-box">
                                        <img src="//s3.hourplace.co.kr/web/images/icon/person.svg">
                                        <p>3</p>
                                    </div>
                                    <div class="mpccc-box">
                                        <img src="../../../static/imgs/bookmark-ol.svg">
                                        <p>3</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mpccc-row">
                                <a class="mpccc-title-font general-ellipsis-1" href="#">
                                    제목 테스트 제목 테스트 제목 테스트 제목 테스트 제목 테스트
                                </a>
                            </div>
                            <div class="mpccc-row" style="margin-top: 10px;">
                                <p class="mpccc-price">16,500원</p>
                                <div class="mpccc-eval">
                                    <img src="../../../imgs/gold_star.svg">
                                    <p class="mpccc-eval-num"> 5.0 </p>
                                    <a class="mpccc-review-count" href="#">리뷰
                                        <span>149</span>
                                    </a>
                                </div>
                                <div class="mpccc-bookmark" onclick="toggleBookmark(this)">
                                    <img>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </article>
    </div>
</main>
</body>
<script src="../../../static/js/mypage/bookmarks.js"></script>

</html>