<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>티켓팅 등록</title>
    <link href="/imgs/logo/favicon.png" rel="icon">
    <link href="/css/global-css/root.css" rel="stylesheet">
    <link href="/css/ticket/ticket-register.css" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link href="/css/ticket/register-datepicker.css" rel="stylesheet">

</head>
<body>
<div th:replace="~{/global-templates/header-footer :: header}"></div>

<div class="header-back"></div>
<div class="body">
    <div class="place-register-container">
        <form class="register-form" enctype="multipart/form-data" method="post" th:action="@{/ticket/register}"
              th:object="${ticketRegisterDto}">
            <div class="guide-title-box">
                <p>티켓팅 등록 신청</p>
            </div>

            <div class="notification-box">
                <span>티켓팅 신청 및 수정은 티켓팅 시작날짜로부터<br>최소 일주일의 시간이 있어야 가능합니다.<br>또한, 특정 필드는 신청한 뒤로부터 수정이 불가할 수 있으니 상세히 확인하시기 바랍니다.</span>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">티켓팅 이름</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:errors="*{title}" th:if="${#fields.hasErrors()}"></p>
                </div>
                <div class="input-box">
                    <input placeholder="행사를 대표하는 이름을 입력해 주세요" required th:field="*{title}" type="text">
                </div>
            </div>

            <div class="map-box">
                <div class="input-guide flex">
                    <p class="input-title">위치 검색</p>
                    <p class="guide-msg">장소를 검색하신 후 클릭하여 핀을 찍어주세요</p>
                </div>
                <p class="invalid-msg" th:errors="*{placeLat}" th:if="${#fields.hasErrors()}"></p>
                <div class="search-wrap">
                    <div class="input-box search-box">
                        <input id="search" placeholder="장소를 검색해주세요" type="text">
                    </div>

                    <div class="flex-align-center">
                        <button class="search-btn" type="button">
                            <i class="fa-solid fa-magnifying-glass" style="color: #343434;"></i>
                        </button>
                    </div>
                </div>
                <div id="map"></div>
                <input id="placeLat" name="placeLat" th:field="*{placeLat}" type="hidden">
                <input id="placeLng" name="placeLng" th:field="*{placeLng}" type="hidden">
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">행사 장소 주소</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:errors="*{placeAddressDetail}" th:if="${#fields.hasErrors()}"></p>
                </div>
                <div class="input-box">
                    <input name="placeAddress" placeholder="행사 장소 주소를 입력해 주세요" required th:field="*{placeAddress}"
                           type="text">
                </div>
                <div class="input-box">
                    <input name="placeAddressDetail" placeholder="장소의 상세 주소를 입력해 주세요" required
                           th:field="*{placeAddressDetail}" type="text">
                </div>
            </div>

            <div class="img-wrap">
                <input accept="image/*" th:field="*{ticketFile}" type="file">
                <label class="file-label flex-align-center" th:for="ticketFile">
                    <i class="fa-regular fa-image"></i>
                    <p>해당 이벤트를 대표할 사진을 선택해주세요.</p>
                </label>
                <div class="file-container none">
                    <ul class="file-wrap"></ul>

                    <div class="img-button-box">
                        <button class="prev" type="button">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </button>
                        <div></div>
                        <button class="next" type="button">
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">행사 설명</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:errors="*{content}" th:if="${#fields.hasErrors()}"></p>
                </div>
                <label class="input-box textarea-box" th:for="content">
                    <textarea placeholder="행사에 대해서 자세하게 설명해주세요"
                              required th:field="*{content}"></textarea>
                </label>
            </div>
            <div class="space-evenly">
                <div class="input-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">관람 연령</p>
                        <img alt="필수입력" src="/imgs/invalid.svg">
                    </div>
                    <div class="input-box category-box">
                        <select class="select" th:field="*{ticketRatingType}">
                            <option th:each="enumValue : ${T(com.app.spotick.domain.type.ticket.TicketRatingType).values()}"
                                    th:text="${enumValue.displayName}" th:value="${enumValue}"></option>
                        </select>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">행사 카테고리</p>
                        <img alt="필수입력" src="/imgs/invalid.svg">
                    </div>
                    <div class="input-box category-box">
                        <select class="select" th:field="*{category}">
                            <option th:each="enumValue : ${T(com.app.spotick.domain.type.ticket.TicketCategory).values()}"
                                    th:text="${enumValue.displayName}" th:value="${enumValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div style="position: relative">
                <div class="input-guide flex">
                    <p class="input-title price-title">행사 기간</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:errors="*{endDate}" th:if="${#fields.hasErrors()}"></p>
                </div>

                <div class="date-container">
                    <p class="date-header-text">시작 날짜 / 마지막 날짜</p>
                    <input id="reservationDate" type="hidden">
                    <div class="date-wrap">
                        <div id="datepicker1"></div>
                        <input th:field="*{startDate}" type="hidden">
                        <div id="datepicker2"></div>
                        <input th:field="*{endDate}" type="hidden">
                    </div>
                    <div class="calendar-ctr-box"></div>
                    <p class="calendar-text">선택된 날짜 : <span id="date-info"></span></p>
                </div>
            </div>

            <div class="price-people-container no-flex" style="width: 100%">
                <div class="input-wrap hour-price-wrap width">
                    <div class="input-guide flex">
                        <p class="input-title price-title">등급 별 금액</p>
                        <img alt="필수입력" src="/imgs/invalid.svg">
                    </div>
                    <div class="price-input-container">
                        <div class="price-input-box">
                            <div class="input-box">
                                <input class="placeDefaultPrice ticket-class" name="ticketGrades[0].gradeName"
                                       placeholder="등급을 입력해주세요"
                                       required
                                       type="text">
                            </div>
                            <div class="input-box">
                                <input class="placeDefaultPrice ticket-price" name="ticketGrades[0].price"
                                       placeholder="금액을 입력해주세요"
                                       required
                                       type="number">
                                <p class="unit">원</p>
                            </div>
                            <div class="input-box">
                                <input class="placeDefaultPrice ticket-headcount"
                                       name="ticketGrades[0].maxPeople"
                                       placeholder="최대 인원을 입력해주세요"
                                       required
                                       type="number">
                                <p class="unit">명</p>
                            </div>
                        </div>
                    </div>
                    <button class="price-add-button" disabled type="button">추가</button>
                </div>
            </div>

            <div class="guide-title-box">
                <p>호스트 정보</p>
            </div>

            <div class="price-people-container">
                <div class="input-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">예금주</p>
                        <img alt="필수입력" src="/imgs/invalid.svg">
                        <p class="invalid-msg"></p>
                    </div>
                    <div class="input-box">
                        <input placeholder="예금주를 입력해주세요" required th:field="*{accountHolder}" type="text">
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">은행명</p>
                        <img alt="필수입력" src="/imgs/invalid.svg">
                        <p class="invalid-msg"></p>
                    </div>
                    <div class="input-box select-box">
                        <select class="select" th:field="*{bankName}">
                            <option value="국민">국민</option>
                            <option value="우리">우리</option>
                            <option value="농협">농협</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">계좌번호</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input placeholder="계좌번호를 입력해주세요" required th:field="*{accountNumber}"
                           type="text">
                </div>
            </div>
            <div class="flex-center start">
                <button class="cancel" type="button">취소</button>
                <button class="submit-btn on flex-align-center">신청하기</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{/global-templates/header-footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/c6992f5b12.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dc12d7c2624483dc7c019a0a91b727f&libraries=services"
        type="text/javascript"></script>
<!-- datepicker js-->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script th:src="@{/js/global-js/global.js}" type="module"></script>
<script src="/js/ticket/register/calendar.js"></script>
<script src="/js/ticket/register/register.js"></script>
<script src="/js/ticket/register/kakaoMapApi.js"></script>
</html>