<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>티켓팅 등록</title>
    <link rel="stylesheet" href="../../static/css/global-css/root.css">
    <!--    <link rel="stylesheet" href="../../static/css/global-css/datepicker.css">-->
    <link rel="stylesheet" href="../../static/css/ticket/ticket-register.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../static/css/ticket/register-datepicker.css">

</head>
<body>
<div class="header"></div>

<div class="body">
    <div class="place-register-container">
        <form action="" method="post" class="register-form" enctype="multipart/form-data">
            <div class="guide-title-box">
                <p>티켓팅 등록 신청</p>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">행사 이름</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input id="placeName" type="text" name="placeName" placeholder="행사를 대표하는 이름을 입력해 주세요" required>
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">행사 소제목</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input id="placeSubTitle" type="text" name="placeSubTitle" placeholder="행사를 짧게 나타내는 소제목을 입력해주세요"
                           required>
                </div>
            </div>


            <div class="map-box">
                <div class="input-guide flex">
                    <p class="input-title">위치 검색</p>
                    <p class="guide-msg">장소를 검색하신 후 클릭하여 핀을 찍어주세요</p>
                </div>
                <div class="search-wrap">
                    <div class="input-box search-box">
                        <input id="search" type="text" placeholder="장소를 검색해주세요" required>
                    </div>

                    <div class="flex-align-center">
                        <button type="button" class="search-btn">
                            <i class="fa-solid fa-magnifying-glass" style="color: #343434;"></i>
                        </button>
                    </div>
                </div>
                <div id="map"></div>
                <input id="placeLat" type="hidden" name="placeLat">
                <input id="placeLng" type="hidden" name="placeLng">
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">행사 장소 주소</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input id="placeAddress" type="text" name="placeAddress" placeholder="행사 장소 주소를 입력해 주세요" required>
                </div>
                <div class="input-box">
                    <input id="placeAddressDetail" type="text" name="placeAddressDetail"
                           placeholder="장소의 상세 주소를 입력해 주세요" required>
                </div>
            </div>

            <div class="img-wrap">
                <input type="file" id="placeFile" accept="image/*" name="placeFile" multiple>
                <label for="placeFile" class="file-label flex-align-center">
                    <i class="fa-regular fa-image"></i>
                    <p>행사 사진 또는 장소 사진을 넣어주세요</p>
                </label>
                <div class="file-container none">
                    <ul class="file-wrap">
                    </ul>

                    <div class="img-button-box">
                        <button type="button" class="prev">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </button>
                        <div></div>
                        <button type="button" class="next">
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </button>
                    </div>
                </div>

            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">행사 설명</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg"></p>
                </div>
                <label for="placeInfo" class="input-box textarea-box">
                    <textarea id="placeInfo" name="placeInfo"
                              placeholder="행사에 대해서 자세하게 설명해주세요" required></textarea>
                </label>
            </div>
            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">행사 카테고리</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg"></p>
                </div>
                <div class="input-box category-box">
                    <select class="select" name="category" id="category">
                        <option value="뮤지컬">뮤지컬</option>
                        <option value="콘서트">콘서트</option>
                        <option value="클래식/무용">클래식/무용</option>
                        <option value="스포츠">스포츠</option>
                        <option value="전시/행사">전시/행사</option>
                        <option value="기타">기타</option>
                    </select>
                </div>
            </div>
            <div style="position: relative">
                <div class="input-guide flex">
                    <p class="input-title price-title">행사 기간</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg"></p>
                    <p class="date-header-text">시작 날짜 / 마지막 날짜</p>
                </div>

                <input id="reservationDate" class="placeDefaultPrice" type="hidden">
                <div id="datepicker1"></div>
                <input type="hidden" name="datepicker1">
                <div id="datepicker2"></div>
                <input type="hidden" name="datepicker2">
                <div class="calendar-ctr-box"></div>
                <p class="calendar-text">선택된 날짜 : <span id="date-info"></span></p>
            </div>

            <div class="price-people-container no-flex" style="width: 100%">
                <div class="input-wrap hour-price-wrap width">
                    <div class="input-guide flex">
                        <p class="input-title price-title">등급 별 금액</p>
                        <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                        <p class="invalid-msg"></p>
                    </div>
                    <div class="price-input-container">
                        <div class="price-input-box">
                            <div class="input-box">
                                <input class="placeDefaultPrice ticket-class" min="0" type="text" name="placeDefaultPrice"
                                       placeholder="등급을 입력해주세요"
                                       required>
                            </div>
                            <div class="input-box">
                                <input class="placeDefaultPrice ticket-price" min="0" type="number" name="placeDefaultPrice"
                                       placeholder="금액을 입력해주세요"
                                       required>
                                <p class="unit">원</p>
                            </div>
                            <div class="input-box">
                                <input class="placeDefaultPrice ticket-headcount" min="0" type="number" name="placeDefaultPrice"
                                       placeholder="최대 인원을 입력해주세요"
                                       required>
                                <p class="unit">명</p>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="price-add-button" disabled>추가</button>
                </div>
                <div class="input-wrap hour-price-wrap width headcount-input-box-container">
                    <div class="input-guide flex">
                        <p class="input-title">등록된 티켓</p>
                    </div>
                    <p class="headcount-input-box-none On">아직 등록된 티켓이 없어요.</p>
                    <!--                    <div class="headcount-input-box">-->
                    <!--                        <div class="input-box">-->
                    <!--                            <input class="placeDefaultPrice ticket-class" min="0" type="text" name="placeDefaultPrice"-->
                    <!--                                   placeholder="등급을 입력해주세요"-->
                    <!--                                   required>-->
                    <!--                        </div>-->
                    <!--                        <button type="button" class="delete-button">x</button>-->
                    <!--                        <div class="input-box">-->
                    <!--                            <input class="placeDefaultPrice ticket-price" min="0" type="number" name="placeDefaultPrice"-->
                    <!--                                   placeholder="금액을 입력해주세요"-->
                    <!--                                   required>-->
                    <!--                            <p class="unit">원</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="input-box">-->
                    <!--                            <input class="placeDefaultPrice ticket-headcount" min="0" type="number" name="placeDefaultPrice"-->
                    <!--                                   placeholder="최대 인원을 입력해주세요"-->
                    <!--                                   required>-->
                    <!--                            <p class="unit">원</p>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>

            <div class="guide-title-box">
                <p>호스트 정보</p>
            </div>

            <div class="price-people-container">
                <div class="input-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">예금주</p>
                        <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                        <p class="invalid-msg"></p>
                    </div>
                    <div class="input-box">
                        <input id="accountHolder" type="text" name="accountHolder"
                               placeholder="예금주를 입력해주세요"
                               required>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="input-guide flex">
                        <p class="input-title">은행명</p>
                        <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                        <p class="invalid-msg"></p>
                    </div>
                    <div class="input-box select-box">
                        <select class="select" name="bankName" id="bankName">
                            <option value="국민">국민</option>
                            <option value="우리">우리</option>
                            <option value="농협">농협</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">계좌번호</p>
                    <img src="//s3.hourplace.co.kr/web/images/icon/invalid.svg" alt="필수입력">
                    <p class="invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input id="accountNumber" type="text" name="accountNumber" placeholder="계좌번호를 입력해주세요"
                           required>
                </div>
            </div>
            <div class="flex-center start">
                <button type="button" class="cancel">취소</button>
                <button type="button" class="submit-btn flex-align-center">신청하기</button>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<!-- datepicker js-->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="../../static/js/ticket/register/calendar.js"></script>

<script src="https://kit.fontawesome.com/c6992f5b12.js" crossorigin="anonymous"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dc12d7c2624483dc7c019a0a91b727f&libraries=services"></script>
<script src="../../static/js/ticket/register/register.js"></script>
<script src="../../static/js/ticket/register/kakaoMapApi.js"></script>
</body>
</html>