.swiper{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  touch-action: pan-y;
}

.swiper-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide{
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

/*.swiper-backface-hidden*/
.swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ListCategoryContainer .swiper-slide {
  width: fit-content !important;
  margin-right: 10px;
}
.ReferenceHallContentListContainer .swiper-slide{
  width: 396.412px !important;
  margin-right: 18px !important;
}

.ReferenceHallContentImg{
  width: 360px;
}
