<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/global-css/root.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <link rel="stylesheet" href="list.css">
    <link rel="stylesheet" href="list-swiper.css">

    <title>홍보 리스트</title>
</head>
<body>
    <div class="PageContainer">
        <div class="MainContainer">
            <div class="ReferenceHallContentListContainer">
                <div class="ReferenceHallContentList">
                    <div class="ReferenceHallContentListTitle">주목할 만한 컨텐츠</div>
                    <!--웹사이즈-->
                    <div class="">
                        <div class="swiper top-swiper">
                            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                <div class="swiper-slide swiper-slide-active" >
                                    <div class="ReferenceHallContent ContentWrapper">
                                        <a href="">
                                            <img src="https://img.shareit.kr///spacelog/img/2023-11-29//b31702bd-1ad2-4332-900e-9e420f9a9ce2_640.png" alt="주목할 만한 이미지" class="ReferenceHallContentImg">
                                        </a>
                                        <div class="ReferenceHallContentTitle">태연 앨범 발매 기념 팝업스토어</div>
                                        <div class="ReferenceHallContentText">Letter ‘To. X’ Concept Room</div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-next" >
                                    <div class="ReferenceHallContent ContentWrapper">
                                        <a href="">
                                            <img src="https://img.shareit.kr///spacelog/img/2023-11-02//2c9bedbb-adba-418d-addb-4707b3d704ac_640.png" alt="주목할 만한 이미지" class="ReferenceHallContentImg">
                                        </a>
                                        <div class="ReferenceHallContentTitle">서울숲에 부는 겨울바람, 헬로우 팝업 스토어</div>
                                        <div class="ReferenceHallContentText">핫한 서울숲에 쿨하고 멋진 스노어 보더들의 모임이 열렸다는 소식이다. 뚝섬역과도 가까운 이곳 ‘팝타운’에서 헬로우의 팝업 스토어가 열렸다. 접근성이 좋고 유동 인구가 많은 서울숲의 초입에 갈색 벽돌의 건물과 아치형 입구가 지나가는 눈길을 끌어당긴다.</div>
                                    </div>
                                </div>
                                <div class="swiper-slide" >
                                    <div class="ReferenceHallContent ContentWrapper">
                                        <a href="">
                                            <img src="https://img.shareit.kr///spacelog/img/2023-05-04//326a66eb-f2ac-4e82-8111-89f1b1fdf419_640.jpg" alt="주목할 만한 이미지" class="ReferenceHallContentImg">
                                        </a>
                                        <div class="ReferenceHallContentTitle">어른이들을 위한 달콤한 팝업 스토어</div>
                                        <div class="ReferenceHallContentText">어릴 적 엄마한테 사달라고 조르던 달콤한 구슬 아이스크림. 이제 내 마음대로 사먹을 수 있는데 어디서 팔지? 어른이들을 위한 달콤한 팝업 스토어</div>
                                    </div>
                                </div>
                                <div class="swiper-slide" >
                                    <div class="ReferenceHallContent ContentWrapper">
                                        <a href="">
                                            <img src="https://img.shareit.kr///spacelog/img/2023-07-14//3cf27842-4097-4ea5-9096-66504f38b189_640.png" alt="주목할 만한 이미지" class="ReferenceHallContentImg">
                                        </a>
                                        <div class="ReferenceHallContentTitle">국내 스트릿 브랜드 수주회</div>
                                        <div class="ReferenceHallContentText">thisisneverthat X yeseyesee</div>
                                    </div>
                                </div>
                                <div class="swiper-slide" >
                                    <div class="ReferenceHallContent ContentWrapper">
                                        <a href="">
                                            <img src="https://img.shareit.kr///spacelog/img/2023-09-26//5b279303-917b-4a80-ab16-788a03d4f1b4_640.png" alt="주목할 만한 이미지" class="ReferenceHallContentImg">
                                        </a>
                                        <div class="ReferenceHallContentTitle">제주 해안가에서 쓰레기를 줍는 이유</div>
                                        <div class="ReferenceHallContentText">공간을 책임지는 사람들.</div>
                                    </div>
                                </div>
                                <div class="swiper-slide" >
                                    <div class="ReferenceHallContent ContentWrapper"><a href="">
                                        <img src="https://img.shareit.kr///spacelog/img/2023-06-22//6fc1a8b5-46d4-4a8f-a6e9-aa0d00ca8f1e_640.png" alt="주목할 만한 이미지" class="ReferenceHallContentImg">
                                    </a>
                                        <div class="ReferenceHallContentTitle">팬들의 상상을 현실로 만든 포토월</div>
                                        <div class="ReferenceHallContentText">프랑스 아티스트 FKJ의 팬들을 위한 공간</div>
                                    </div>
                                </div>
                                <div class="swiper-slide" >
                                    <div class="ReferenceHallContent ContentWrapper">
                                        <a href="">
                                            <img src="https://img.shareit.kr///spacelog/img/2023-03-14//ec677612-fcd4-4487-9186-07a02195d4c3_640.png" alt="주목할 만한 이미지" class="ReferenceHallContentImg">
                                        </a>
                                        <div class="ReferenceHallContentTitle">원하는 대로 공간을 연출한다면_도시정전 3부</div>
                                        <div class="ReferenceHallContentText">공간연출자는 계속해서 상상합니다. 현재 공간을 어떻게 변화시킬지 혹은 다른 공간이 생긴다면 어떻게 할지. 그리고 다른 공간연출자의 작품을 만나도 마찬가지죠. 그 공간이 탄생한 과정, 공간에 담긴 이야기, 공간 너머의 무언가를 상상합니다. 사람들은 머릿속에 자신만의 우주를 갖고 있다고 하는데, 공간연출자의 우주는 가지각색의 행성들로 가득 차 있을 것 같습니다.</div>
                                    </div>
                                </div>
                                <div class="swiper-slide" >
                                    <div class="ReferenceHallContent ContentWrapper">
                                        <a href="">
                                            <img src="https://img.shareit.kr///spacelog/img/2023-03-14//8f5085b5-4d33-40fd-8ae9-bb763dd012b5_640.jpg" alt="주목할 만한 이미지" class="ReferenceHallContentImg">
                                        </a>
                                        <div class="ReferenceHallContentTitle">LIKE LION UNIV. HACKATHON</div>
                                        <div class="ReferenceHallContentText">벌써 10주년을 맞은 멋쟁이 사자처럼의 해커톤 행사가 명지전문대학교 예체능관 실내체육관에서 열렸습니다.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--웹사이즈-->
                    <!--모바일-->
<!--                    <div class="ReferenceHallContentAttentionstyle__ReferenceHallAttentionMobileBox-sc-16xol3h-4 bszSOT">-->
<!--                        <div class="ReferenceHallContent ContentWrapper">-->
<!--                            <a href="">-->
<!--                                <img src="https://img.shareit.kr///spacelog/img/2023-11-29//ef6f8a9b-6b99-4a55-9b0c-f3d6656733a8_640.png" alt="주목할 만한 이미지" class="ReferenceHallContentImg">-->
<!--                            </a>-->
<!--                            <div class="ReferenceHallContentTitle">태연 앨범 발매 기념 팝업스토어</div>-->
<!--                            <div class="ReferenceHallContentText">Letter ‘To. X’ Concept Room</div>-->
<!--                        </div>-->
<!--                        <div class="ReferenceHallContent ContentWrapper">-->
<!--                            <a href="">-->
<!--                                <img src="https://img.shareit.kr///spacelog/img/2023-11-02//ead036c4-eba4-4895-9f8c-3ab113be8f1c_640.png" alt="주목할 만한 이미지" class="ReferenceHallContentImg">-->
<!--                            </a>-->
<!--                            <div class="ReferenceHallContentTitle">서울숲에 부는 겨울바람, 헬로우 팝업 스토어</div>-->
<!--                            <div class="ReferenceHallContentText">핫한 서울숲에 쿨하고 멋진 스노어 보더들의 모임이 열렸다는 소식이다. 뚝섬역과도 가까운 이곳 ‘팝타운’에서 헬로우의 팝업 스토어가 열렸다. 접근성이 좋고 유동 인구가 많은 서울숲의 초입에 갈색 벽돌의 건물과 아치형 입구가 지나가는 눈길을 끌어당긴다.</div>-->
<!--                        </div>-->
<!--                        <div class="ReferenceHallContent ContentWrapper">-->
<!--                            <a href="">-->
<!--                                <img src="https://img.shareit.kr///spacelog/img/2023-05-04//ebc46540-8f1d-4698-8a1f-fbf11f6dee62_640.jpg" alt="주목할 만한 이미지" class="ReferenceHallContentImg">-->
<!--                            </a>-->
<!--                            <div class="ReferenceHallContentTitle">어른이들을 위한 달콤한 팝업 스토어</div>-->
<!--                            <div class="ReferenceHallContentText">어릴 적 엄마한테 사달라고 조르던 달콤한 구슬 아이스크림. 이제 내 마음대로 사먹을 수 있는데 어디서 팔지? 어른이들을 위한 달콤한 팝업 스토어</div>-->
<!--                        </div>-->
<!--                        <div class="ReferenceHallContent kYcIio">-->
<!--                            <a href="">-->
<!--                                <img src="https://img.shareit.kr///spacelog/img/2023-07-14//3b9e289a-1eea-4d68-80d0-112c932992a0_640.png" alt="주목할 만한 이미지" class="ReferenceHallContentImg">-->
<!--                            </a>-->
<!--                            <div class="ReferenceHallContentTitle">국내 스트릿 브랜드 수주회</div>-->
<!--                            <div class="ReferenceHallContentText">thisisneverthat X yeseyesee</div>-->
<!--                        </div>-->
<!--                        <div class="ReferenceHallContent diZWtx">-->
<!--                            <a href="">-->
<!--                                <img src="https://img.shareit.kr///spacelog/img/2023-09-26//3c8eca89-025f-4b35-8956-ca78984efe2a_640.png" alt="주목할 만한 이미지" class="ReferenceHallContentImg">-->
<!--                            </a>-->
<!--                            <div class="ReferenceHallContentTitle">제주 해안가에서 쓰레기를 줍는 이유</div>-->
<!--                            <div class="ReferenceHallContentText">공간을 책임지는 사람들.</div>-->
<!--                        </div>-->
<!--                        <div class="ReferenceHallContent diZWtx">-->
<!--                            <a href="">-->
<!--                                <img src="https://img.shareit.kr///spacelog/img/2023-06-22//90e578a5-c782-49f9-b8d5-d7116cf6af13_640.png" alt="주목할 만한 이미지" class="ReferenceHallContentImg">-->
<!--                            </a>-->
<!--                            <div class="ReferenceHallContentTitle">팬들의 상상을 현실로 만든 포토월</div>-->
<!--                            <div class="ReferenceHallContentText">프랑스 아티스트 FKJ의 팬들을 위한 공간</div>-->
<!--                        </div>-->
<!--                        <div class="ReferenceHallContent diZWtx">-->
<!--                            <a href="">-->
<!--                                <img src="https://img.shareit.kr///spacelog/img/2023-03-14//bf81fe12-c94f-4270-ab46-4faed3a7b8d6_640.png" alt="주목할 만한 이미지" class="ReferenceHallContentImg">-->
<!--                            </a>-->
<!--                            <div class="ReferenceHallContentTitle">원하는 대로 공간을 연출한다면_도시정전 3부</div>-->
<!--                            <div class="ReferenceHallContentText">공간연출자는 계속해서 상상합니다. 현재 공간을 어떻게 변화시킬지 혹은 다른 공간이 생긴다면 어떻게 할지. 그리고 다른 공간연출자의 작품을 만나도 마찬가지죠. 그 공간이 탄생한 과정, 공간에 담긴 이야기, 공간 너머의 무언가를 상상합니다. 사람들은 머릿속에 자신만의 우주를 갖고 있다고 하는데, 공간연출자의 우주는 가지각색의 행성들로 가득 차 있을 것 같습니다.</div>-->
<!--                        </div>-->
<!--                        <div class="ReferenceHallContent diZWtx">-->
<!--                            <a href="">-->
<!--                                <img src="https://img.shareit.kr///spacelog/img/2023-03-14//c2ff540d-9d17-4090-b6be-cebb4881c53c_640.jpg" alt="주목할 만한 이미지" class="ReferenceHallContentImg">-->
<!--                            </a>-->
<!--                            <div class="ReferenceHallContentTitle">LIKE LION UNIV. HACKATHON</div>-->
<!--                            <div class="ReferenceHallContentText">벌써 10주년을 맞은 멋쟁이 사자처럼의 해커톤 행사가 명지전문대학교 예체능관 실내체육관에서 열렸습니다.</div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!--모바일-->
                </div>
            </div>
            <!--컨텐츠 리스트-->
            <div class="ListWrapper">
                <div class="ListCategoryContainer">
                    <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events">
                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" style="margin-right: 10px;">
                                <div class="CategoryList Category All On">전체</div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" style="margin-right: 10px;">
                                <div class="CategoryList Category">강연/교육/세미나</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">컨퍼런스/워크숍</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">시험_P.B.T</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">드라마/영화/MV촬영</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">화보/제품/CF촬영</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">팝업 스토어</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">팝업 스토어_학교</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">옥외광고</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">캠프/연수</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">체육/경연대회</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">공연/콘서트</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">박람회/전시</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">기타(work)</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">스튜디오 촬영</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">친목모임</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">댄스 연습</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category">원데이클래스/레슨</div>
                            </div>
                            <div class="swiper-slide" style="margin-right: 10px;">
                                <div class="CategoryList Category Etc">기타(life)</div>
                            </div>
                        </div>
                    </div>
                    <div class="FilterBtn">
                        <button type="button">
                            <img src="Nout_filter_filled_rainyblue08624.svg" alt="필터">
                        </button>
                    </div>
                    <!--필터 모달창-->
                    <div class="FilterModal">
                        <div class="FilterModalContainer">
                            <div class="FilterModalHeader">
                                <p>정렬 및 필터</p>
                                <button type="button" class="FilterModalCloseBtn">
                                    <img src="../../static/imgs/promotion-ticket/cross_1G_24.svg" alt="닫기">
                                </button>
                            </div>
                            <div class="FilterModalBody">
                                <div class="FilterModalBodyHeader">
                                    <p>정렬</p>
                                    <select name="log-filter" class="SelectBox">
                                        <option value="publishAt,desc">최신순</option>
                                        <option value="bookmarkCount,desc">관심순</option>
                                    </select>
                                </div>
                                <div class="FilterModalBodyHeader">
                                    <p>행사유형</p>
                                    <div class="FilterModalCategory">
                                        <button class="FilterModalCategoryChild">강연/교육/세미나</button>
                                        <button class="FilterModalCategoryChild">컨퍼런스/워크숍</button>
                                        <button class="FilterModalCategoryChild">시험_P.B.T</button>
                                        <button class="FilterModalCategoryChild">드라마/영화/MV촬영</button>
                                        <button class="FilterModalCategoryChild">화보/제품/CF촬영</button>
                                        <button class="FilterModalCategoryChild">팝업 스토어</button>
                                        <button class="FilterModalCategoryChild">팝업 스토어_학교</button>
                                        <button class="FilterModalCategoryChild">옥외광고</button>
                                        <button class="FilterModalCategoryChild">캠프/연수</button>
                                        <button class="FilterModalCategoryChild">체육/경연대회</button>
                                        <button class="FilterModalCategoryChild">공연/콘서트</button>
                                        <button class="FilterModalCategoryChild">박람회/전시</button>
                                        <button class="FilterModalCategoryChild">기타(work)</button>
                                        <button class="FilterModalCategoryChild">스튜디오 촬영</button>
                                        <button class="FilterModalCategoryChild">친목모임</button>
                                        <button class="FilterModalCategoryChild">댄스 연습</button>
                                        <button class="FilterModalCategoryChild">원데이클래스/레슨</button>
                                        <button class="FilterModalCategoryChild">기타(life)</button>
                                    </div>
                                </div>
                            </div>
                            <div class="FilterModalFooter">
                                <div class="FilterModalFooterBtnContainer">
                                    <button type="button" class="FilterModalFooterResetBtn">초기화</button>
                                    <button type="button" class="FilterModalFooterSaveBtn">필터적용</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--필터 모달창-->
                </div>
                <div class="ContentListContainer">
                    <!--리스트 한칸-->
                    <div class="ContentOneContainer">
                        <button type="button" class="ContentOneBtn">
                            
                        </button>
                        <div height="211.68" class="ContentMainImgContainer">
                            <img src="https://img.shareit.kr//spacelog/img/2023-11-09//3ee92b81-3712-4496-84ab-81ac03bd9936_640.jpg" alt="홍대 거리 대학생을 위한 KT의 팝업" class="ContentMainImg">
                        </div>
                        <div class="ContentTitle">
                            <p>홍대 거리 대학생을 위한 KT의 팝업</p>
                        </div>
                    </div>
                    <!--리스트 한칸-->
                    <div type="button" class="ContentOneContainer">
                        <div height="211.68" class="ContentMainImgContainer">
                            <img src="https://img.shareit.kr///spacelog/img/2023-11-10//580289a0-2299-4367-8555-6387b8b3458e_640.png" alt="공간로그 이미지" class="ContentMainImg">
                        </div>
                        <div class="ContentTitle">
                            <p>통신사와 친환경 패션 브랜드의 콜라보 팝업</p>
                        </div>
                    </div>
                    <div type="button" class="ContentOneContainer">
                        <div height="211.68" class="ContentMainImgContainer">
                            <img src="https://img.shareit.kr///spacelog/img/2023-11-09//3ee92b81-3712-4496-84ab-81ac03bd9936_640.jpg" alt="공간로그 이미지" class="ContentMainImg">
                        </div>
                        <div class="ContentTitle">
                            <p>홍대 거리 대학생을 위한 KT의 팝업</p>
                        </div>
                    </div>
                    <div type="button" class="ContentOneContainer">
                        <div height="211.68" class="ContentMainImgContainer">
                            <img src="https://img.shareit.kr///spacelog/img/2023-11-14//389f0320-c33a-4fe9-b006-25e4b598b614_640.png" alt="공간로그 이미지" class="ContentMainImg">
                        </div>
                        <div class="ContentTitle">
                            <p>뮤지컬 마리퀴리 속 공간을 경험하다</p>
                        </div>
                    </div>
                    <div type="button" class="ContentOneContainer">
                        <div height="211.68" class="ContentMainImgContainer">
                            <img src="https://img.shareit.kr///spacelog/img/2023-11-29//b31702bd-1ad2-4332-900e-9e420f9a9ce2_640.png" alt="공간로그 이미지" class="ContentMainImg">
                        </div>
                        <div class="ContentTitle">
                            <p>태연 앨범 발매 기념 팝업스토어</p>
                        </div>
                    </div>
                    <div type="button" class="ContentOneContainer">
                        <div height="211.68" class="ContentMainImgContainer">
                            <img src="https://img.shareit.kr///spacelog/img/2023-11-29//e91f9c11-0a25-4cda-b549-f1e388514dcc_640.png" alt="공간로그 이미지" class="ContentMainImg">
                        </div>
                        <div class="ContentTitle">
                            <p>태연 앨범 발매 기념 옥외광고</p>
                        </div>
                    </div>
                    <div type="button" class="ContentOneContainer">
                        <div height="211.68" class="ContentMainImgContainer">
                            <img src="https://img.shareit.kr///spacelog/img/2023-11-30//03d96487-8683-4e80-bed3-f795d0d6f97d_640.jpg" alt="공간로그 이미지" class="ContentMainImg">
                        </div>
                        <div class="ContentTitle">
                            <p> U+모바일tv [하이쿠키] 촬영현장</p>
                        </div>
                    </div>
                    <div type="button" class="ContentOneContainer">
                        <div height="211.68" class="ContentMainImgContainer">
                            <img src="https://img.shareit.kr///spacelog/img/2023-11-30//79c80f21-e0a7-4ef0-85f6-a942203471db_640.jpg" alt="공간로그 이미지" class="ContentMainImg">
                        </div>
                        <div class="ContentTitle">
                            <p>정신병동에도 아침이 와요 촬영현장</p>
                        </div>
                    </div>
                    <div type="button" class="ContentOneContainer">
                        <div height="211.68" class="ContentMainImgContainer">
                            <img src="https://img.shareit.kr///spacelog/img/2023-11-21//b320ea39-cf01-417e-a595-a3125d59d899_640.jpg" alt="공간로그 이미지" class="ContentMainImg">
                        </div>
                        <div class="ContentTitle">
                            <p>세종한국어평가 채점자 양성 교육과정 현장</p>
                        </div>
                    </div>
                    <div type="button" class="ContentOneContainer">
                        <div height="211.68" class="ContentMainImgContainer">
                            <img src="https://img.shareit.kr///spacelog/img/2023-11-21//b6cf58d9-a223-4974-8aa5-e5a822ab7641_640.jpg" alt="공간로그 이미지" class="ContentMainImg">
                        </div>
                        <div class="ContentTitle">
                            <p>2023년 대한PNF학회 학술대회 현장</p>
                        </div>
                    </div>
                    <div type="button" class="ContentOneContainer">
                        <div height="211.68" class="ContentMainImgContainer">
                            <img src="https://img.shareit.kr///spacelog/img/2023-11-15//6f483a88-6f54-42ee-9c10-73e802368547_640.jpg" alt="공간로그 이미지" class="ContentMainImg">
                        </div>
                        <div class="ContentTitle">
                            <p>[명지전문대] 가족들이 참여하는 운동회 현장</p>
                        </div>
                    </div>
                    <div type="button" class="ContentOneContainer">
                        <div height="211.68" class="ContentMainImgContainer">
                            <img src="https://img.shareit.kr///spacelog/img/2023-11-15//bb1428a7-6769-494f-9611-466472153a0d_640.jpg" alt="공간로그 이미지" class="ContentMainImg">
                        </div>
                        <div class="ContentTitle">
                            <p>[국제대] 인생의 첫 번째 운동회 현장</p>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
            <!--컨텐츠 리스트-->
        </div>
        <button type="button" class="ScrollTopBtn">
            <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;">
                <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;">
                    <img alt="" aria-hidden="true" src="back.svg" style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;">
                </span>
                <img alt="맨위로" src="ico-top.d419aff0.svg" decoding="async" data-nimg="intrinsic" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: contain;">
            </span>
        </button>
    </div>
</body>
<script>
var topSwiper = new Swiper(".top-swiper", {
    width:414.406,
    pagination: {
        el: ".swiper-pagination",
        clickable: true // 페이지네이션을 클릭 가능하게 만듭니다
    }
    });

var swiper = new Swiper(".swiper", {
    pagination: {
        el: ".swiper-pagination",
        clickable: true // 페이지네이션을 클릭 가능하게 만듭니다
    }
});

let filterBtn = document.querySelector(".FilterBtn button")
let filterModal = document.querySelector(".FilterModal")
let modalCloseBtn = document.querySelector(".FilterModalCloseBtn")
let modalSaveBtn = document.querySelector(".FilterModalFooterSaveBtn")
let modalResetBtn = document.querySelector(".FilterModalFooterResetBtn")
let modalCategoryBtn = document.querySelectorAll(".FilterModalCategoryChild")
let CategoryBtn = document.querySelectorAll(".Category")


filterBtn.addEventListener("click", function () {
    // 모달 보이기
    filterModal.style.display = "block";
    document.body.style.overflow = "hidden";
    // CategoryList Category 중에서 "On" 클래스가 있는지 확인
    const categoryOn = document.querySelector('.CategoryList.Category.On');

    // "On" 클래스가 있는 경우 FilterModalCategoryChild에 "On" 클래스 추가
    if (categoryOn && !categoryOn.classList.contains('CategoryList.Category.All')) {
        const categoryText = categoryOn.textContent.trim();
        document.querySelectorAll('.FilterModalCategoryChild').forEach(function (button) {
            if (button.textContent.trim() === categoryText) {
                button.classList.add('On');
            } else {
                button.classList.remove('On');
            }
        });
    }
});

modalCloseBtn.addEventListener("click", function(){
    filterModal.style.display = "none";
    document.body.style.overflow = "auto";
})

modalSaveBtn.addEventListener("click", function(){
    filterModal.style.display = "none";
    document.body.style.overflow = "auto";
    // CategoryList Category 버튼의 On 클래스 제거
    document.querySelectorAll('.CategoryList.Category.On').forEach(function (button) {
        button.classList.remove('On');
    });

    // FilterModalCategoryChild 중에서 On 클래스를 가진 버튼 찾아서 CategoryList Category에 On 클래스 추가
    const isFilterOn = document.querySelector('.FilterModalCategoryChild.On');

    if (isFilterOn) {
        document.querySelectorAll('.FilterModalCategoryChild.On').forEach(function (button) {
            const categoryText = button.textContent.trim();
            document.querySelectorAll('.CategoryList.Category').forEach(function (categoryButton) {
                if (categoryButton.textContent.trim() === categoryText) {
                    categoryButton.classList.add('On');
                }
            });
        });
    } else {
        // On 클래스가 없는 경우 CategoryList Category 중에서 "전체"에 On 클래스 추가
        document.querySelectorAll('.CategoryList.Category').forEach(function (categoryButton) {
            if (categoryButton.textContent.trim() === '전체') {
                categoryButton.classList.add('On');
            } else {
                categoryButton.classList.remove('On');
            }
        });
    }
})

modalCategoryBtn.forEach(function(button) {
    button.addEventListener("click", function() {
        modalCategoryBtn.forEach(function(btn) {
            // 클릭한 버튼을 제외한 다른 버튼에서 "On" 클래스 제거
            if (btn !== button) {
                btn.classList.remove("On");
            }
        });

        // 클릭한 버튼에 "On" 클래스 토글
        button.classList.toggle("On");
    });
});

CategoryBtn.forEach(function(button) {
    button.addEventListener("click", function(){
        if (!button.classList.contains("On")) {
            CategoryBtn.forEach(function(btn) {
                btn.classList.remove("On");
            });
            button.classList.add("On");
        }
    })
});

modalResetBtn.addEventListener("click", function() {
    modalCategoryBtn.forEach(function(button) {
        button.classList.remove("On");
    });
});

</script>
</html>