<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    달력css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../../static/css/global-css/datepicker.css">
    <link rel="stylesheet" href="../../static/css/global-css/root.css">
    <link rel="stylesheet" href="../../static/css/place/detail.css"/>

    <title>장소 상세보기</title>
</head>
<body>

<div class="header"></div>
<div class="global-container">

    <!--   장소 대표사진-->
    <div class="place-img-container">
        <button type="button" class="grid-item main-img" data-imgidx="1">
            <img src="https://img.shareit.kr/prod/img/2023-12-07/ef66f2a8-d103-499d-8928-8aa1b786fbb0.jpg"
                 alt="장소 메인이미지">
        </button>
        <button type="button" class="grid-item grid2" data-imgidx="2">
            <img src="https://img.shareit.kr/prod/img/2023-12-07/b80ed218-b885-4f65-8c82-df1249442559.jpg"
                 alt="장소 이미지2">
        </button>
        <button type="button" class="grid-item grid3" data-imgidx="3">
            <img src="https://img.shareit.kr/prod/img/2023-12-07/fc869766-a2d5-4afa-b7a1-0105795afe66.jpg"
                 alt="장소 이미지3">
        </button>
        <button type="button" class="grid-item grid4" data-imgidx="4">
            <img src="https://img.shareit.kr/prod/img/2023-12-07/bdb34031-1ca4-4856-99ee-58dc3f868401.jpg"
                 alt="장소 이미지4">
        </button>
        <button type="button" class="grid-item grid5" data-imgidx="5">
            <img src="https://img.shareit.kr/prod/img/2023-12-07/685e2d60-8ca8-45b9-accc-99c8530377aa.jpg"
                 alt="장소 이미지5">
        </button>
        <button type="button" class="more-img-btn flex-align-center">
            +14
            <img src="https://shareit.kr/_next/static/media/plus_ractangle_repeated_white.e641653f.svg" alt="">
        </button>
    </div>

    <div class="content-global-wrap">
        <div class="content-wrap">
            <div class="basic-info-box">
                <p class="sub-title">포인트, 원서 2호점</p>
                <div class="flex-between-align">
                    <span class="place-name">포인트, 원서 2호점</span>
                    <button class="place-like-btn" type="button">
                        <span><i class="fa-regular fa-bookmark"></i></span>
                        <span class="none"><i class="fa-solid fa-bookmark" style="color: #007AFF"></i></span>
                    </button>
                </div>
                <div class="place-address-box">
                    <img src="https://shareit.kr/_next/static/media/location_filled_sweetBlue046.de36d6ce.svg" alt="">
                    <span>서울 종로구 창덕궁길 106 2층</span>
                </div>

                <div class="review-box">
                    <div class="star-box">
                        <!--리뷰 평점%-->
                        <div class="filled-stars" style="width: 70%">
                            <img class="filled-star"
                                 src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                 alt="평점" width="17">
                            <img class="filled-star"
                                 src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                 alt="평점" width="17">
                            <img class="filled-star"
                                 src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                 alt="평점" width="17">
                            <img class="filled-star"
                                 src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                 alt="평점" width="17">
                            <img class="filled-star"
                                 src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                 alt="평점" width="17">
                        </div>
                        <div class="default-stars">
                            <img class="default-star"
                                 src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg" alt="">
                            <img class="default-star"
                                 src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg" alt="">
                            <img class="default-star"
                                 src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg" alt="">
                            <img class="default-star"
                                 src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg" alt="">
                            <img class="default-star"
                                 src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg" alt="">
                        </div>
                    </div>
                    <span class="review-score">0.0</span>
                    <span>|</span>
                    <span>후기(0)</span>

                </div>
            </div>

            <div class="place-nav-box flex">
                <div class="nav-item nav-focus">
                    <p>장소 소개</p>
                </div>
                <div class="nav-item">
                    <p>이용규칙</p>
                </div>
                <div class="nav-item">
                    <p>리뷰3</p>
                </div>
                <div class="nav-item">
                    <p>문의21</p>
                </div>
            </div>

            <div class="care-wrap">
                <div class="care-box">
                    <p class="care-title">
                        <img src="https://shareit.kr/_next/static/media/caution_filled_red066.539a3741.svg" alt="">
                        직거래 유도 주의 안내
                    </p>
                    <p>호스트 현금 결제 유도 시, 신고바랍니다. <br>
                        스포틱은 현금 직거래로 발생하는 사고를 책임지지 않습니다.</p>
                </div>
            </div>

            <div class="place-content-wrap">
                <div class="place-info-box">
                    <p class="title">공간 정보</p>
                    <p class="content">*연말 예약 진행 중
                        **네이버 예약을 접수하시면 빠른 일정 확인이 가능합니다 : )

                        처음 와보는 공간과 낯가리는 분들에게 이 공간을 바쳐요. ′포인트 원서2′와는 누구나 금방 친해질 수 있습니다. 겨울과 어울리지만 따뜻하고, 아늑하지만 탁 트인 뷰가
                        있어요. 창덕궁 후원을 바라보고, 원서동의 고즈넉함을 한껏 느껴보기 좋은 곳입니다.

                        크리스마스로 꾸며진 공간은 아래 인스타그램 계정에서 확인해주세요!
                        @point_space_kr


                        1. Living room(안실)
                        : 빈백 3개, 쿠션&담요, 침구류, 창덕궁 후원(비원)뷰 통창, 테이블, 빔프로젝터, 수납장, 난방, 헤어드라이기

                        2. Dining room(식당)
                        : 테이블&의자(4인), 옷장, 수납장, 에어컨, 와이파이, 블루투스 스피커

                        3. Kitchen(주방)
                        : 싱크대, 냉장고, 조리대, 오븐 겸 전자레인지, 인덕션, 각종 접시 및 커트러리, 와인잔 및 각종 술잔, 머그컵, 조리기구, 전기포트, 정수기

                        4. 전용 루프탑
                        : 창덕궁 후원과 원서동이 펼쳐져 보이는 아담한 루프탑 공간을 준비 중이에요. 따뜻해질 때 만나요 : )

                        5. 실내 전용 화장실
                        : 샤워기, 세면대, 변기, 온수 (어메니티는 제공되지 않음)

                        7. 편의시설 & 즐길거리
                        : 편의점(도보 3분거리 GS, CU), 북촌한옥마을(북촌, 계동, 원서동), 한국 전통 문화체험(원서동 빨래터, 고희동 미술관 등), 갤러리, 북촌 맛집,
                        런던베이글뮤지엄, 소금집 등 유명 베이커리


                        *해당 공간은 전문숙박시설이 아닌 쉼, 워케이션, 그리고 각종 모임을 위한 공간으로도 운영 중입니다.
                        따라서 어메니티(욕실용품)가 제공되지 않습니다.</p>
                </div>

                <div class="place-map-box">
                    <p class="title">위치</p>
                    <div id="map"></div>
                    <div class="place-address-box">
                        <img src="https://shareit.kr/_next/static/media/location_filled_sweetBlue046.de36d6ce.svg"
                             alt="">
                        <span>서울 종로구 창덕궁길 106 2층</span>
                    </div>
                </div>

                <div class="place-rule-box">
                    <p class="title">이용규칙</p>
                    <p class="content">- 대여 시간보다 적게 사용 하더라도 대관비는 환불되지 않습니다.

                        - 기물 파손 및 청소 등의 사유로 보증금을 호스트에게 입금하여야 합니다.

                        - 사용자 인원이나 사용 시간이 추가될 경우, 현장에서 추가 과금이 진행됩니다.

                        - 입실은 정시, 퇴실은 5분 전에 준비해서 예약 시간 안에 이용

                        - 시설 훼손 및 기물 파손 시 손해액을 호스트에게 배상하여야 합니다.
                        (CCTV는 방범/분실/기물파손/인원확인 등의 이유로 녹화됨)

                        - 이용 후, 쓰레기(일반/재활용/음식물) 분리수거를 꼭 진행해주세요. 미 진행 시, 추가요금이 청구될 수 있습니다.</p>
                </div>

                <div class="review-wrap">
                    <div class="flex-between-align">
                        <p class="title">후기 <span class="review-count">3</span></p>
                        <!--                        <button type="button" class="review-write-btn">후기작성</button>-->
                    </div>
                    <div class="review-summary-box">
                        <div class="flex-center">
                            <div class="star-box">
                                <div class="filled-stars" style="width: 70%">
                                    <img class="filled-star"
                                         src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                         alt="평점" width="17">
                                    <img class="filled-star"
                                         src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                         alt="평점" width="17">
                                    <img class="filled-star"
                                         src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                         alt="평점" width="17">
                                    <img class="filled-star"
                                         src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                         alt="평점" width="17">
                                    <img class="filled-star"
                                         src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                         alt="평점" width="17">
                                </div>
                                <div class="default-stars">
                                    <img class="default-star"
                                         src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg"
                                         alt="">
                                    <img class="default-star"
                                         src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg"
                                         alt="">
                                    <img class="default-star"
                                         src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg"
                                         alt="">
                                    <img class="default-star"
                                         src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg"
                                         alt="">
                                    <img class="default-star"
                                         src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg"
                                         alt="">
                                </div>
                            </div>
                            <span class="review-score">3.5</span>
                        </div>
                        <p>74%의 고객이 5점을 주었어요.</p>
                    </div>

                    <div class="review-list">
                        <!--                        리뷰 반복 시작-->
                        <div class="review-item">
                            <p class="review-writer">리뷰작성자</p>
                            <div class="flex-align">
                                <div class="star-box">
                                    <div class="filled-stars" style="width: 100%">
                                        <img class="filled-star"
                                             src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                             alt="평점" width="17">
                                        <img class="filled-star"
                                             src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                             alt="평점" width="17">
                                        <img class="filled-star"
                                             src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                             alt="평점" width="17">
                                        <img class="filled-star"
                                             src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                             alt="평점" width="17">
                                        <img class="filled-star"
                                             src="https://shareit.kr/_next/static/media/star_filled_paintYellow056.a8eb6e44.svg"
                                             alt="평점" width="17">
                                    </div>
                                    <div class="default-stars">
                                        <img class="default-star"
                                             src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg"
                                             alt="">
                                        <img class="default-star"
                                             src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg"
                                             alt="">
                                        <img class="default-star"
                                             src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg"
                                             alt="">
                                        <img class="default-star"
                                             src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg"
                                             alt="">
                                        <img class="default-star"
                                             src="https://shareit.kr/_next/static/media/star_filled_gray084.e69177ff.svg"
                                             alt="">
                                    </div>
                                </div>
                                <span class="review-score">5.0</span>
                                <div>
                                    <span class="review-write-date">2023-07-10</span>
                                </div>
                            </div>
                            <p class="review-content">너무 예쁘게 잘 촬영하고 갑니다!!
                                사진보다 더 예쁘고 사장님 너무 친절하셔요..
                                서비스 시간도 챙겨주시고 다음에 또 촬영하러 올게요!! 감사합니다😍
                            </p>
                        </div>

                        <div class="flex-center">
                            <button class="review-more-btn" type="button">
                                더보기
                                <img class="more-img"
                                     src="https://shareit.kr/_next/static/media/arrow_down_gray014.f502da9d.svg" alt="">
                            </button>
                        </div>


                    </div>


                </div>

                <div class="place-inquiry-box">
                    <div class="flex-between-align">
                        <p class="title">문의 <span class="inquiry-count">21</span></p>
                        <button type="button" class="inquiry-write-btn">문의하기</button>
                    </div>

                    <div class="inquiry-list-wrap">
                        <!--문의 질문 반복 시작-->
                        <div class="inquiry-item-box ">
                            <div class="inquiry-question-box flex-column">
                                <div class="question-info">
                                    <p class="questioner">질문자닉네임</p>
                                    <p class="dot">・</p>
                                    <p class="question-date">2023-12-12</p>
                                </div>
                                <p class="inquiry-question">문의질문 내용
                                    문의질문 내용 문의질문 내용 문의질문 내용 문의질문 내용 문의질문 내용 문의질문 내용 문의질문 내용 문의질문 내용 문의질문 내용 문의질문 내용 문의질문
                                    내용 문의질문 내용
                                </p>
                                <div class="answer-ctr-box">
                                    <p>답변보기</p>
                                    <img src="https://s3.hourplace.co.kr/web/images/icon/chevron_down_grey.svg" alt="">
                                    <img class="none"
                                         src="https://s3.hourplace.co.kr/web/images/icon/chevron_up_grey.svg" alt="">
                                </div>
                                <div class="answer-box none">
                                    <p class="answer-info">호스트 답변 ・ 2023.12.12</p>
                                    <p class="answer-content">안녕하세요
                                        현재 15일 문의 팀이 있으셔서
                                        전화 문의 주시면 안내드리겠습니다 :)</p>
                                </div>
                            </div>
                        </div>
                        <!--문의 질문 반복 끝-->
                        <div class="pagination-box flex-center">
                            <button type="button" class="page-prev">
                                <img src="https://shareit.kr/_next/static/media/arrow_left_gray074.fa695002.svg" alt="">
                            </button>
                            <button class="page-num focus" type="button">1</button>
                            <button class="page-num" type="button">2</button>
                            <button class="page-num" type="button">3</button>
                            <button class="page-num" type="button">4</button>
                            <button class="page-num" type="button">5</button>
                            <button type="button" class="page-next">
                                <img src="https://shareit.kr/_next/static/media/arrow_right_gray074.86c7e872.svg"
                                     alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="reservation-container">
            <div class="reservation-wrap">
                <p class="pay-guide-msg">결제하면 예약이 확정돼요.</p>
                <!--                <p class="pay-guide-msg">현재 단계에서는 요금이 청구되지 않습니다.</p>-->
                <p class="title">포인트, 원서 2호점</p> <!--장소 이름-->
                <div class="flex-align">
                    <p class="title">55,000원</p>
                    <input type="hidden" value="55000" id="placePrice">
                    <p class="hour"> / 시간</p>
                </div>
                <div class="line"></div>
                <p class="small-title">스케줄</p>
                <div class="date-box">
                    <p class="date-guide">시작 날짜 ~ 종료 날짜</p>
                    <div class="schedule-box flex-align">
                        <p>스케줄을 선택하세요</p>
                    </div>
                    <div class="calendar-wrap none">
                        <div class="choice-box">
                            <div class="calendar-box">
                                <input type="hidden" id="reservationDate">
                                <div id="datepicker"></div>
                            </div>
                            <div class="time-choice-wrap flex-column">
                                <div>
                                    <p class="time-guide">시작 시간</p>
                                    <select class="checkInOut" name="reservationCheckIn" id="checkIn">
                                        <option selected disabled>시작 시간</option>
                                        <option value="0">오전 12시</option>
                                        <option value="1">오전 1시</option>
                                        <option value="2">오전 2시</option>
                                        <option value="3">오전 3시</option>
                                        <option value="4">오전 4시</option>
                                        <option value="5">오전 5시</option>
                                        <option value="6">오전 6시</option>
                                        <option value="7">오전 7시</option>
                                        <option value="8">오전 8시</option>
                                        <option value="9">오전 9시</option>
                                        <option value="10">오전 10시</option>
                                        <option value="11">오전 11시</option>
                                        <option value="12">오후 12시</option>
                                        <option value="13">오후 1시</option>
                                        <option value="14">오후 2시</option>
                                        <option value="15">오후 3시</option>
                                        <option value="16">오후 4시</option>
                                        <option value="17">오후 5시</option>
                                        <option value="18">오후 6시</option>
                                        <option value="19">오후 7시</option>
                                        <option value="20">오후 8시</option>
                                        <option value="21">오후 9시</option>
                                        <option value="22">오후 10시</option>
                                        <option value="23">오후 11시</option>
                                    </select>
                                </div>
                                <div>
                                    <p class="time-guide">종료 시간</p>
                                    <select class="checkInOut" disabled name="reservationCheckOut" id="checkOut">
                                        <option selected disabled>종료 시간</option>
<!--                                        <option disabled value="0">-->
<!--                                           <del>오전 12시</del>-->
<!--                                        </option>-->
<!--                                        <option value="23">오후 11시</option>-->
                                    </select>
                                </div>
                                <button class="flex-align-center" type="button">
                                    완료
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="small-title">총인원</p>
                <div class="people-wrap">
                    <p class="people-guide">기본 인원인 <span>4</span>명을 넘으면 인당 5,500원이 추가돼요</p>
                    <div class="people-box flex-align">
                        <p>총인원 수를 입력하세요</p>
                    </div>
                    <div class="select-people-wrap none">
                        <div class="people-select-box">
                            <p>총인원 수</p>
                            <div class="flex-align">
                                <button class="minus" type="button">-</button>
                                <div class="reservation-visitors flex-align-center">
                                    <input class="visitors" max="99" min="1" type="number" value="1">
                                </div>
                                <button class="plus" type="button">+</button>
                            </div>
                        </div>
                        <div class="visitor-ctr-box flex-between-align">
                            <button type="button" class="visitors-reset">초기화</button>
                            <button type="button" class="visitors-btn">완료</button>

                        </div>
                    </div>
                </div>

                <div class="calculate-box none">
                    <div class="reservation-time-box">
                        <div class="flex-between-align">
                            <p class="small-title">총 <span class="usageTime">3</span>시간</p>
                            <p class="small-title">165,000원</p>
                        </div>
                        <div class="flex-between-align">
                            <p class="sub-title"><span>55,000</span>원 x <span>3</span>시간</p>
                            <p class="sub-title">165,000원</p>
                        </div>
                    </div>

                    <div class="reservation-people-box">
                        <div class="flex-between-align">
                            <p class="small-title">총인원</p>
                            <p class="small-title">추가 <span>16,500</span>원</p>
                        </div>
                        <div class="flex-between-align">
                            <p class="sub-title">기본 <span>4</span>명 / 예약 <span>5</span>명</p>
                            <div class="surcharge-box flex-align-center">
                                <p>인당 <span>5,500</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="total-reserve-amount-box">
                        <div class="flex-between-align">
                            <p class="small-title">총 금액 합계</p>
                            <p class="small-title"><span>181,500</span>원</p>
                        </div>
                    </div>
                </div>
<!--                장소 예약하기 폼-->
                <form id="reservationForm" action="#" method="get">
                    <input type="hidden" name="placeId" id="placeId" value="1">
                    <input type="hidden" name="reservationCheckIn" id="reservationCheckIn">
                    <input type="hidden" name="reservationCheckOut" id="reservationCheckOut">
                    <input type="hidden" name="reservationVisitors" id="reservationVisitors">
                </form>

                <div class="flex-align-center reservation-submit-box">
                    <!--                    <button class="reservation-btn" type="button">예약 요청하기</button>-->
                    <button class="reservation-btn " type="button">예약 요청하기</button>
                </div>
            </div>

        </div>

    </div>
</div>

<!--사진 모달창 시작-->
<div class="img-modal-container none">
    <div class="modal-wrap">
        <div class="place-img-info-wrap flex-between-align">
            <div class="place-img-info-box flex-between-align">
                <div class="img-count">
                    <span class="current-img-num">1</span>/4
                </div>
                <p>포인트, 원서 2호점</p>
            </div>

            <button class="flex-align-center modal-close" type="button">닫기 X</button>
        </div>

        <div class="modal-img-wrap flex-center">
            <div class="modal-img-box">
                <!-- 모달 이미지   -->
                <div class="modal-img-item">
                    <img class="modal-img" src="https://img.shareit.kr/prod/img/2023-12-07/ef66f2a8-d103-499d-8928-8aa1b786fbb0.jpg"
                         alt="">
                </div>
                <div class="modal-img-item">
                    <img class="modal-img" src="https://img.shareit.kr/prod/img/2023-12-07/b80ed218-b885-4f65-8c82-df1249442559.jpg"
                         alt="">
                </div>
                <div class="modal-img-item">
                    <img class="modal-img" src="https://img.shareit.kr/prod/img/2023-12-07/fc869766-a2d5-4afa-b7a1-0105795afe66.jpg"
                         alt="">
                </div>
                <div class="modal-img-item">
                    <img class="modal-img" src="https://img.shareit.kr/prod/img/2023-12-07/bdb34031-1ca4-4856-99ee-58dc3f868401.jpg"
                         alt="">
                </div>

            </div>
            <button type="button" class="prev">
                <img src="https://shareit.kr/_next/static/media/round_arrow_left_gray024.707193e8.svg" alt="">
            </button>
            <button type="button" class="next">
                <img src="https://shareit.kr/_next/static/media/round_arrow_right_gray024.7f7e18a3.svg" alt="">
            </button>
        </div>
    </div>
</div>
<!--사진 모달창 끝-->

<!--문의 모달창 시작-->
<div class="inquiry-modal-container flex-align-center none">
    <div class="inquiry-modal-wrap flex-align">
        <button class="inquiry-cancel" type="button">
            <img src="https://s3.hourplace.co.kr/web/images/icon/close_v4.svg" alt="">
        </button>
        <p class="small-title">궁금한 내용을 적어주세요</p>
        <p class="sub-title">호스트가 확인 후 답변을 드릴 거예요!</p>
        <div class="inquiry-content-box flex-between-align">
            <p class="inquiry-guide">문의 제목</p>
        </div>
<!--        <div class="inquiry-title-box ">-->
<!--        </div>-->
            <input type="text" id="inquiryTitle" name="inquiryTitle" placeholder="문의 제목을 입력해주세요">

        <div class="inquiry-content-box flex-between-align">
            <p class="inquiry-guide">내용</p>
            <p class="letter-count"><span>0</span>/200자</p>
        </div>
        <textarea name="inquiryContent" id="inquiryContent" cols="30" rows="10"
                  placeholder="장소에 대해서 궁금한 점을 문의해주세요"></textarea>
        <div class="flex-align-center">
            <button class="inquiry-submit" type="button">문의등록</button>
        </div>

    </div>
</div>

<script src="https://kit.fontawesome.com/c6992f5b12.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<!-- 달력-->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="../../static/js/place/detail/calendar.js"></script>

<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dc12d7c2624483dc7c019a0a91b727f&libraries=services"></script>
<script src="../../static/js/place/detail/detail.js"></script>
<script src="../../static/js/place/detail/kakaoMapApi.js"></script>
</body>
</html>