.calendar {
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    padding: 4px 10px;
}

.calendar td {
    width: 30px;
    height: 30px;
}

.calendar {
    text-align: center;
}

.ch-title {
    font-size: 1.1em;
    font-weight: bold;
}

.ch-day {
    font-weight: 600;     
}

.calendar-body tr .date {
    border-radius: 100%;
}

.calendar-body tr .today {
    border-radius: 100%;
    box-shadow: rgba(96, 96, 96, 0.22) 0 2px 8px 0;
    background-color: #F5D042;            
    color: #fff;
    font-weight: 600;
}

.calendar-body tr .event-date {
    box-shadow: rgba(96, 96, 96, 0.22) 0 2px 8px 0;
    background-color: #2a7de1;
    color: white;
    font-weight: 600;
}