/* Include your other CSS styles below */

.ui-widget-header {
    border: none;
    background: #fff;
}

.ui-datepicker-calendar > thead > tr > th {
    font-size: 15px !important;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 20px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    padding: 7px;
    border: none;
    background-color: transparent;
    font-weight: normal;
    color: #454545;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 16px;
    text-align: center;
    font-size: 18px;
    padding: 0px;
    font-weight: bold;
}

#datepicker>div{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.ui-datepicker {
    display: none;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    padding-bottom: 10px;
    width: 300px;
}

.ui-widget.ui-widget-content {
    border: none;
}

#datepicker:focus > .ui-datepicker {
    display: block;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    cursor: pointer;
}

.ui-datepicker-next {
    float: right;
}

.ui-state-disabled {
    cursor: auto;
    color: hsla(0, 0%, 80%, 1);
}

.ui-datepicker-title {
    text-align: center;
    padding: 10px;
    font-weight: 100;
    font-size: 20px;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker-calendar > thead > tr > th {
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
}

.ui-datepicker-calendar > tbody > tr > td > a {
    color: #000;
    font-size: 15px !important;
    font-weight: bold !important;
    text-decoration: none;
}

.ui-datepicker-calendar > tbody > tr > .ui-state-disabled:hover {
    cursor: auto;
    background-color: #fff;
}

.ui-datepicker-calendar > tbody > tr > td {
    border-radius: 100%;
    width: 44px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    font-weight: 100;
    text-align: center;
    font-size: 15px;
}

.ui-datepicker-calendar > tbody > tr > td:hover {
    background-color: transparent;
    opacity: 0.6;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 0px solid #cccccc;
    background-color: transparent;
    font-weight: normal;
    color: #2b2b2b;
}

.ui-widget-header .ui-icon {
    background-image: url('../../../imgs/btns.png');
}

.ui-icon-circle-triangle-e {
    background-position: -20px 0px;
    background-size: 36px;
}

.ui-icon-circle-triangle-w {
    background-position: -0px -0px;
    background-size: 36px;
}

.ui-datepicker-calendar > tbody > tr > td:first-child a {
    color: red
}

.ui-datepicker-calendar > tbody > tr > td:last-child a {
    color: #0099ff
}

.ui-datepicker-calendar > thead > tr > th:first-child {
    color: red !important;
}

.ui-datepicker-calendar > thead > tr > th:last-child {
    color: #0099ff !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 0px;
    background: #f1f1f1;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inp {
    padding: 10px 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 0px;
}

.inp:focus {
    outline: none;
    background-color: #eee;
}

.inline-datepicker .ui-datepicker {
    position: absolute;
}

.ui-state-active {
    background-color: #007AFF !important;
    color: white !important;
    border-radius: 50%;
}

.datepicker {
    width: 200px;
    position: relative;
}

.datepicker:after {
    content: '';
    display: block;
    height: 200px;
}

#selectedDate {
    border-radius: 5px;
    border: 1px solid #343434;
    padding: 2px 2px 3px 0px;
    text-align: center;
}

.date-text {
    display: inline;
    color: #343434;
    font-weight: bold;

}

.ui-datepicker .ui-state-highlight {
    border: 0px;
    background: #f1f1f1;
    border-radius: 50%;
    padding: 7px;
}

#datepicker .ui-datepicker-calendar > table > tr > td {
    width: 46px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.1);
    height: 46px;
}

.date-input-section {
    display: flex;
    justify-content: space-evenly;
}

#selectedDate {
    /*border: 1px solid #D2D2D2;*/
    background-color: #fff;
}

.ui-datepicker {
    height: auto;
    width: 300px;
}