/* list-swiper와 ticket-list 일부 발췌하여 새로 만듦 */

.OneItemContainer{
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
    cursor: pointer;
}

.OneItemImgContainer{
    position: relative;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 8px;
}

.ItemImg{
    width: 100%;
    min-height: 215px;
    height: 215px;
    background: rgb(240, 240, 240);
}

.OneItemContainer.hover:hover .NavigationBtnContainer{
    display:block;
}

.NavigationBtnContainer{
    display: none;
}

.RightBtn .LeftBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    right: 9px;
    z-index: 1010;
    cursor: pointer;
}

.RightBtn > img {
    width: 100%;
}

.LeftBtn > img {
    width: 100%;
}

.ItemImgPagination{
    position: absolute;
    bottom: 0;
    margin-bottom: 14px;
    z-index: 1010;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.ItemImgPagination > p {
    border-radius: 12px;
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.8);
    width: 58px;
    padding: 3px 0;
    color: rgb(255, 255, 255);
    text-align: center;

    font-size: 12px;
}

.ItemBadges{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    z-index: 1020;
}

.ItemLikeBtn, .ItemBookMarkBtn {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 43px;
    z-index: 1010;
}

.ItemLikeBtn > img, .ItemBookMarkBtn > img{
    width: 100%;
    background: none;
    animation-duration: 0.6s;
    animation-name: activateAnimation2;
}

.ItemBookMarkBtn.active > img {
    content: url(../../imgs/bookmark_filled_white_48.png);
}

.ItemTextContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ItemHostNameContainer{
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 15px;
}

.ItemHostName{
    font-family: Medium, SCDream7, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: rgb(138, 138, 138);
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ItemCountsContainer{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}

.ItemsStarCountContainer{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
}

.ItemCountImg{
    width: 15px;
}

.ItemCountImg.bookmark{
    width: 12px;
}

.ItemCountText{

    font-size: 12px;
    line-height: 20px;
    color: rgb(138, 138, 138);
}

.ItemsLikeCountContainer{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
}

.ItemSpaceNameContainer{
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}

.ItemSpaceName{
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: rgb(36, 36, 36);
    gap: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ItemAddress{
    width: 100%;

    font-size: 13px;
    line-height: 20px;
    text-align: left;
    color: rgb(112, 112, 112);
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ItemPriceContainer{
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    margin-top: 6px;
    width: 100%;
}

.ItemPrice{
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: rgb(36, 36, 36);
}

.ItemRuleType{

    font-size: 12px;
    line-height: 24px;
    color: rgb(36, 36, 36);
}

.none{
    display: none;
}

.place-price{
    font-size: 16px;
    line-height: 24px;
    color: rgb(36, 36, 36);
    font-weight: 500;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-android .swiper-slide, .swiper-wrapper {
    transform: translateZ(0);
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.CategoryContainer .swiper-slide {
    width: fit-content !important;
    margin-right: 28px !important;
}

.BottomButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #007aff;
    padding: 6px 16px;
    color: white;
    font-weight: 600;
}

@keyframes activateAnimation2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}
