<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/global-css/root.css">
    <link rel="stylesheet" href="../../static/css/global-css/datepicker.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="ticket-list-detail.css">

    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=2n25isgxvf"></script>

    <title>티켓팅 리스트 상세보기</title>
</head>
<body>
  <div id="PageContainer">
    <div class="SpaceDetailPageContainer">
        <div class="ImagesContainer">
            <button type="button" class="ImagesBtn PlaceImagesBtn BigImage">
                <img src="https://img.shareit.kr/prod/img/2022-07-18/b9c77882-e895-42e5-988a-85a7d5c4f0e0.jpg" alt="공간 이미지" class="PlaceImage">
            </button>
            <div class="RightImageContainer">
                <button type="button" class="ImagesBtn PlaceImagesBtn SmallImage">
                    <img src="https://img.shareit.kr/prod/img/2022-07-18/b7cf013c-5714-4891-8459-785516154830.jpg" alt="공간 이미지" class="PlaceImage">
                </button>
                <button type="button" class="ImagesBtn PlaceImagesBtn SmallImage">
                    <img src="https://img.shareit.kr/prod/img/2022-07-18/f66fbf97-3357-4c71-b367-c2dd750510d4.jpg" alt="공간 이미지" class="PlaceImage">
                </button>
                <button type="button" class="ImagesBtn PlaceImagesBtn SmallImage">
                    <img src="https://img.shareit.kr/prod/img/2022-07-18/71de7186-c3a1-4983-8c55-a71c3ab94458.jpg" alt="공간 이미지" class="PlaceImage">
                </button>
                <button type="button" class="ImagesBtn PlaceImagesBtn SmallImage">
                    <img src="https://img.shareit.kr/prod/img/2022-07-18/dc4e5592-b3ec-4b42-abed-c780e1fb3a59.jpg" alt="공간 이미지" class="PlaceImage">
                </button>
                <button class="MoreImagesBtn">+<span class="ImageCount"></span>
                    <img src="../../static/imgs/promotion-ticket/plus_ractangle_repeated_white.e641653f.svg" alt="더보기" class="MorePlusImage">
                </button>
            </div>
            <!-- 이미지 모달창 -->
            <div class="ImageModalContainer none">
                <div class="ImageModalWrap">
                    <div class="ImageModalTextContainer">
                        <div class="ImageModalLeftContainer">
                            <span class="ImageModalTotalPages"><span class="snapIndex">1</span>/<spna class="ImageCount2"></spna></span>
                            <p class="ImageModalSpaceName">실내체육관(낙산관)</p>
                        </div>
                        <button type="button" class="ImageModalCloseBtn">
                            닫기<img src="../../static/imgs/promotion-ticket/cross_white.041ef7cf.svg" alt="닫기" class="ImageModalCloseBtnImg">
                        </button>
                    </div>
                    <div class="ImageModalSwiperContainer">
                        <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events">
                            <div class="swiper-wrapper ImageLength" style="transform: translate3d(-953px, 0px, 0px); transition-duration: 0ms;">
                                <div class="swiper-slide this">
                                    <img src="https://img.shareit.kr/prod/img/2022-07-18/b9c77882-e895-42e5-988a-85a7d5c4f0e0.jpg" alt="공간 사진" class="ImageModalImg">
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://img.shareit.kr/prod/img/2022-07-18/b7cf013c-5714-4891-8459-785516154830.jpg" alt="공간 사진" class="ImageModalImg">
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://img.shareit.kr/prod/img/2022-07-18/f66fbf97-3357-4c71-b367-c2dd750510d4.jpg" alt="공간 사진" class="ImageModalImg">
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://img.shareit.kr/prod/img/2022-07-18/71de7186-c3a1-4983-8c55-a71c3ab94458.jpg" alt="공간 사진" class="ImageModalImg">
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://img.shareit.kr/prod/img/2022-07-18/b9c77882-e895-42e5-988a-85a7d5c4f0e0.jpg" alt="공간 사진" class="ImageModalImg">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="ImageModalPrevArrowBtn">
                            <img src="../../static/imgs/promotion-ticket/round_arrow_left_gray024.707193e8.svg" alt="아전" class="ImageModalArrowImg">
                        </button>
                        <button type="button" class="ImageModalNextvArrowBtn">
                            <img src="../../static/imgs/promotion-ticket/round_arrow_right_gray024.7f7e18a3.svg" alt="다음" class="ImageModalArrowImg">
                        </button>
                    </div>
                </div>
            </div>
            <!-- 이미지 모달창 -->
        </div>
        <div class="SpaceDetailContentContainer">
            <div class="SpaceDetailLeftContainer">
                <!-- 기본정보 -->
                <div class="BasicInformationContainer">
                    <a href="/store/240">
                        <span class="BasicInformationHostName">한성대학교</span>
                    </a>
                    <div class="BasicInformationSpaceNameContainer">
                        <span class="BasicInformationSpaceName">낙산관 실내체육관(낙산관)</span>
                        <button type="button" class="BasicInformationShareBtn">
                            <img src="../../static/imgs/promotion-ticket/share_line_gray034.d1513b9a.svg" alt="공유하기" class="BasicInformationShareImg">
                        </button>
                    </div>
                    <div class="BasicInformationAddressContainer">
                        <img src="../../static/imgs/promotion-ticket/location_filled_sweetBlue046.de36d6ce.svg" alt="주소" class="BasicInformationAddressImg">
                        <span class="BasicInformationAddress">서울 성북구 삼선교로16길 116 </span>
                    </div>
                    <!-- <div class="BasicInformationMobileInfo">
                        <div>
                            <div class="RepresentativePricestyle__PriceContainer-sc-uuc8e0-3 kWUqot">
                                <p class="RepresentativePricestyle__DiscountedPrice-sc-uuc8e0-5 dBdbHL">220,000<span class="RepresentativePricestyle__Won-sc-uuc8e0-6 jTubnQ">원~</span> <span class="RepresentativePricestyle__RuleType-sc-uuc8e0-7 kDueGl">1시간 [4시간부터]</span>
                                </p>
                            </div>
                        </div>
                    </div> -->
                    <div class="BasicInformationReviewsContainer">
                        <div class="StarsContainer">
                            <div width="80%" class="StarsFilledContainer">
                                <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="17" class="StarImg">
                                <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="17" class="StarImg">
                                <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="17" class="StarImg">
                                <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="17" class="StarImg">
                                <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="17" class="StarImg">
                            </div>
                            <div class="StarsDefaultsContainer">
                                <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="17" class="StarImg">
                                <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="17" class="StarImg">
                                <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="17" class="StarImg">
                                <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="17" class="StarImg">
                                <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="17" class="StarImg">
                            </div>
                        </div>
                        <span class="BasicInformationAverage">4.0</span>
                        <span class="BasicInformationLine">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        <button type="button" class="BasicInformationTotalCount">후기(20)</button>
                    </div>
                </div>
                <!-- 네비게이션 -->
                <div class="InfoTabs">
                    <button type="button" class="InfoTabBtn InfoTabBtnOn" onclick="changeTab(this)">공연정보</button>
                    <button type="button" class="InfoTabBtn InfoTabBtnOff" onclick="changeTab(this)">주의사항</button>
                    <button type="button" class="InfoTabBtn InfoTabBtnOff" onclick="changeTab(this)">후기<span class="InfoTabCount">20</span></button>
                    <button type="button" class="InfoTabBtn InfoTabBtnOff" onclick="changeTab(this)">문의<span class="InfoTabCount">250</span></button>
                    <button type="button" class="InfoTabBtn InfoTabBtnOff" onclick="changeTab(this)">환불규정</button>
                </div>
                <!-- 직거래 유도 주의 안내 -->
                <div class="TransactionGuideContainer">
                    <div class="TransactionGuide">
                        <p class="TransactionGuideTitle">
                            <img src="../../static/imgs/promotion-ticket/caution_filled_red066.539a3741.svg" alt="안내">직거래 유도 주의 안내
                        </p>
                        <p class="TransactionGuideDescription">호스트 현금 결제 유도 시, 신고바랍니다.<br> 쉐어잇은 현금 직거래로 발생하는 사고를 책임지지 않습니다.
                        </p>
                    </div>
                </div>
                <!-- 공간정보 -->
                <div class="SpaceInformationContainer">
                    <div class="SpaceDescription">
                        <p class="TitleText">공연 정보</p>
                        <p class="DescriptionText">★★★체육대회 및 행사(20명 이상의 행사)는 Life페이지가 아닌 Work페이지로 이동하여 예약해주세요. 생활체육으로 결제 후 체육대회 및 행사 진행 시 환불없이 퇴장 조치 될 수 있습니다.★★★
                        ★★★체대입시 혹은 개인 및 단체 레슨은 해당 공간에서 불가능합니다. 생활체육으로 대관 후 해당 목적으로 이용 시 환불없이 퇴장 조치될 수 있습니다. 이 부분 유의부탁드립니다.★★★
                        
                        
                        *예약 전 아래 설명들을 필독 해주시기 바랍니다.*
                        (고객 미숙지로 인한 불이익 시 쉐어잇이 책임지지 않습니다.)
                        
                        
                        0. 공통
                        
                        ★학교 사정으로 인해 예약이 취소될 수 있습니다. 
                        (해당 경우 100% 환불 조치 외에, 별다른 보상이 제공되지 않으니 예약 시에 참고 부탁드립니다.)
                        
                        
                        1. 실시간 ‘생활체육’ 예약 안내
                        
                        ★공지
                        예약 과정에서 ′호스트 전달 내용′에 이용하려는 스포츠 종목을 꼭 적어주세요.
                        
                        ★가능 종목
                        : 농구(5:5), 배구(9인제), 배드민턴(4코트)
                        
                        ★예약 가능 일자
                        : 매월 20일(20일이 휴일인 경우 이후 가장 빠른 평일) 18시 익월 한 달 예약 오픈
                        (학교 일정에 따라 매월 예약 가능한 일시가 달라지기 때문에 한 달 단위 예약만 가능, 장기대관 불가)
                        
                        ★공간 규격 정보
                        1. 공간 전체 가로*세로*높이: 32m*23m*13m
                        2. 농구코트: 5vs5 정규규격 (28m*15m)
                        3. 배구코트: 9인제 정규규격 (20m*10m)
                        4. 배드민턴: 정규규격 4코트 (13.4m*6.1m)
                        
                        ★시설 및 기자재
                        1. 사용 가능: 이동식 농구 골대(2ea), 배구 지주대(2ea), 배구 네트, 배구 지주 높이조절 손잡이, 배드민턴 지주대(8ea), 배드민턴 네트(4ea)
                        2. 사용 불가능: 전자 점수판, 기타 스포츠 장비(농구공, 배구공, 배구 안테나, 라켓, 셔틀콕, 조끼 등등) 대여 불가
                        3. ′냉/난방′ 불가 (학교측 사정)
                        
                        ★이용시간
                        : 정시 입장 정시 퇴장 
                        (전 시간 이용 고객이 없다면, 시작시간 15분 전부터 입장가능)
                        
                        ★문의
                        : 사전&amp;사후 문의는 페이지 상단 ‘문의’ 기능을 통해 확인 가능
                        현장에서는 스쿨매니저(현장 관리자)에게 문의 (시설 개방 및 요청사항 응대)
                        
                        ★주차 및 체육관 위치
                        1. 정문 진입 전 우측 ‘우촌관’ 건물 지하 주차장에 주차 (이외 건물 및 교내 갓길에 주차 불가)
                        2. 주차 후, 건물 1층으로 올라와 건물 외부로 나가서 낙산관으로 이동
                        3. 낙산관 정문에서 계단이 아닌, 계단 좌측 안쪽에 위치한 엘리베이터 이동하여 3층으로 이동
                        4. 주차권(할인권)은 체육관 출입 시, 현장에서 스쿨매니저를 통해 ‘현금’으로만 구매 가능 (5,000원/종일권)
                        
                        ★기타 사항
                        1. 샤워실 사용 불가
                        2. 음료 이외의 음식물 취식 금지 (지침 및 안내 위반 시 퇴장 조치)
                        
                        ★기타
                        1. 쓰레기는 체육관 외부 복도 쓰레기통에 분리수거
                        2. 환불규정 필수 확인
                        
                        ★오시는 길
                        : 차량 이용 시 네비에 ‘한성대학교’ 검색, 대중교통 이용 시 한성대입구역/혜화역/창신역에서 하차 후 버스 혹은 도보로 이동(약 10분 소요), 자세한 주소는 아래 ‘위치’ 참고
                        
                        
                        2. 승인 예약 안내
                        
                        ★대관 가능 일정 확인
                        : 파란색 ‘예약’ 버튼 눌러 예약 접수 후 확인 가능
                        
                        ★시설 및 기자재 혹은 기타 내용 확인
                        : 페이지 상단 ‘문의’ 기능을 통해 확인 가능</p>
                    </div>
                </div>
                <!-- 지도 -->
                <div class="LocationContainer">
                    <p class="TitleText">위치</p>
                    <!-- 지도 들어갈 위치 -->
                    <div id="map"></div>
                    <!-- 지도 들어갈 위치 -->
                    <figure class="LocationFigure">
                        <img src="../../static/imgs/promotion-ticket/location_filled_sweetBlue046.de36d6ce.svg" alt="위치핀" class="LocationImg">
                        <figure class="LocationFigureCaption">서울 성북구 삼선교로16길 116 </figure>
                    </figure>
                </div>
                <!-- 주의사항 -->
                <div class="PrecautionContainer">
                    <p class="TitleText">주의사항</p>
                    <div class="PrecautionTextContainer">
                        <p class="PrecautionText">- 대관 중 시설 훼손이 발생한 경우 손해액을 호스트에게 배상해야합니다.</p>
                        <p class="PrecautionText">- 사용자 인원수가 초과될 경우, 초과 결제를 요청합니다.</p>
                        <p class="PrecautionText">- 대여 시간 보다 적게 사용 하시더라도 환불되지 않습니다.</p>
                        <p class="PrecautionText">- 코로나 방역수칙을 엄수해주세요. 발열체크 후, 방문자 명단을 필수로 작성해주셔야 합니다.</p>
                        <p class="PrecautionText">- 생활체육 상품의 경우, 동호인 체육 활동 목적으로만 사용이 가능하십니다. 동문회, 친목 행사 등은 생활 체육에 해당하지 않으며, 목적과 달리 시설물을 사용하실 경우 이용이 제한됩니다.</p>
                        <p class="PrecautionText">- 생활체육 상품의 경우, 냉난방 사용이 불가합니다.</p>
                        <p class="PrecautionText">- 체대입시 혹은 개인 및 단체 레슨은 해당 공간에서 불가능합니다. 생활체육으로 대관 후 해당 목적으로 이용 시 환불없이 퇴장 조치될 수 있습니다. 이 부분 유의부탁드립니다.</p>
                    </div>
                </div>
                <!-- 리뷰 -->
                <div class="ReviewsContainer">
                    <p class="TitleText">후기
                        <span class="ReviewTitleCount">20</span>
                    </p>
                    <div class="ReviewAverageContainer">
                        <div class="ReviewAverageTop">
                            <div class="ReviewStarsContainer">
                                <div width="80%" class="ReviewStarsFilled">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="22" class="ReviewStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="22" class="ReviewStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="22" class="ReviewStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="22" class="ReviewStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="22" class="ReviewStarsImg">
                                </div>
                                <div class="ReviewStarsDefaults">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="22" class="ReviewStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="22" class="ReviewStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="22" class="ReviewStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="22" class="ReviewStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="22" class="ReviewStarsImg">
                                </div>
                            </div>
                            <span class="ReviewAverageStarCountText">4.0</span>
                        </div>
                        <p class="ReviewAverageTexts">
                            <span>60%</span>의 고객이&nbsp;<span>5점</span>을 주었어요.
                        </p>
                    </div>
                    <div class="ReviewFiltersContainer">
                        <div class="ReviewFiltersLeftContainer">
                            <button type="button" class="ReviewFiltersBtnOn">
                                <span>•</span>전체
                            </button>
                            <button type="button" class="ReviewFiltersBtnOff">
                                <span>•</span>사진후기
                            </button>
                            <button type="button" class="ReviewFiltersBtnOff">
                                <span>•</span>호스트픽
                            </button>
                        </div>
                        <div>
                            <div class="ReviewSelectBox">
                                <button type="button" class="ReviewSelectBoxBtn"><span class="ReviewSelectBoxText">인기순</span>
                                    <img src="../../static/imgs/promotion-ticket/arrow_down_gray014.f502da9d.svg" alt="날짜 형식" class="ReviewSelectBoxBtnImg"> 
                                    <!-- <img src="../../static/imgs/promotion-ticket/arrow_up_gray014.75d8599e.svg" alt="날짜 형식" class="ReviewSelectBoxBtnImg"> -->
                                </button>
                                <div class="ReviewSelectBoxList">
                                    <button type="button" class="ReviewFilterSortBtnOff">최신순</button>
                                    <button type="button" class="ReviewFilterSortBtnOff">과거순</button>
                                    <button type="button" class="ReviewFilterSortBtnOn">인기순</button>
                                    <button type="button" class="ReviewFilterSortBtnOff">별점높은순</button>
                                    <button type="button" class="ReviewFilterSortBtnOff">별점낮은순</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 댓글 한칸 -->
                    <div class="ReviewItemContainer">
                        <div class="ReviewItemRatingContainer">
                            <div class="ReviewStarsContainer">
                                <div width="20%" class="ReviewItemStarsFilled">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="15" class="ReviewItemStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="15" class="ReviewItemStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="15" class="ReviewItemStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="15" class="ReviewItemStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_paintYellow056.a8eb6e44.svg" alt="평점" width="15" class="ReviewItemStarsImg">
                                </div>
                                <div class="ReviewStarsDefaults">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="15" class="ReviewItemStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="15" class="ReviewItemStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="15" class="ReviewItemStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="15" class="ReviewItemStarsImg">
                                    <img src="../../static/imgs/promotion-ticket/star_filled_gray084.e69177ff.svg" alt="평점" width="15" class="ReviewItemStarsImg">
                                </div>
                            </div>
                            <span class="ReviewItemRating">1.0</span>
                            <span class="ReviewItemDevider">｜</span>
                            <span class="ReviewItemWriter">이**</span>
                            <p class="ReviewItemCreateAt">
                                <span>｜</span>2022-09-11
                            </p>
                        </div>
                        <div class="ReviewItemGoodsNameContainer">
                            <span class="ReviewSquareChip">실시간</span>
                            <span class="ReviewItemGoodsName">생활체육</span>
                        </div>
                        <p class="ReviewItemContents">
                            에어컨도 학교측 사정으로 아예 안되고 배구공도 빌려주지 않음
                            선풍기 두대로 더워죽는줄 알았어요. 주차비 따로내고 
                            정말 공간만 빌려줍니다. 이런 서비스로 어떻게 계속 이용할 수 있나요?
                        </p>
                        <div class="ReviewItemLikeBtnContainer">
                            <span class="ReviewItemLikeText">도움이 됐어요</span>
                            <button type="button" class="ReviewItemLikeBtn">
                                <img src="../../static/imgs/promotion-ticket/thumbs_up_line_red056.c797227b.svg" alt="도움이 됐어요" class="ReviewItemLikeBtnImg">5
                            </button>
                        </div>
                    </div>
                    <!-- 댓글 한칸 -->
                    <div class="ReviewMainBtnContainer">
                        <button type="button" class="ReviewMainBtn">더보기
                            <img src="../../static/imgs/promotion-ticket/arrow_down_gray014.f502da9d.svg" alt="더보기" class="ReviewMainBtnIconRight">
                        </button>
                    </div>
                </div>
                <!-- Qna -->
                <div class="QnaContainer">
                    <div class="QnaTitleContainer">
                        <p class="TitleText">문의
                            <span class="QnaTitleCount">250</span>
                        </p>
                        <button type="button" class="QnaMainBtn">문의하기</button>
                    </div>
                    <div class="QnaListContainer">
                        <!-- QnA 한칸 -->
                        <div class="QnaItemContainer">
                            <div class="QnaItemQuestionContainer">
                                <div class="QnaItemContentsContainer">
                                    <p class="QnaItemContents">12/16(토) 11-2시 사이 예약될지요?</p>
                                    <button type="button" class="QnaItemContentsMoreBtn"></button>
                                    <!-- 열기 -->
                                    <img src="../../static/imgs/promotion-ticket/arrow_down_gray074.3a483a93.svg" alt="더보기" class="QnaItemContentsMoreBtnImg">
                                    <!-- 닫기 -->
                                    <!-- <img src="../../static/imgs/promotion-ticket/arrow_up_gray074.f2ebf2a9.svg" alt="더보기" class="QnaItemContentsMoreBtnImg"> -->
                                </div>
                                <div class="QnaAnswerContainer">
                                    <div class="QnaDetailInfoContainer">
                                        <span class="QnaReplyCount">답변1</span>
                                        <p class="QnaDetailInformation">
                                            <span>｜</span>[일정 문의] <span>｜</span> 권** <span>｜</span> 2023-12-16
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 답변칸 -->
                            <div class="QnaRepliesContainer none">
                                <div class="QnaReply">
                                    <p class="QnaReplyTitle">
                                        <span class="QnaReplyTail">└</span>쉐어잇<span>｜</span>2023-12-18
                                    </p>
                                    <p class="QnaReplyContents">
                                        안녕하세요 쉐어잇 입니다
                                        학교시설의 경우 예약하기를 통해 접수 후 별도 안내드리고 있으며, 확인은 영업일 기준 2~3일 이상 시간이 소요될 수 있는 점 참고부탁드리겠습니다.
                                        감사합니다.
                                    </p>
                                </div>
                            </div>
                            <!-- 답변칸 -->
                        </div>
                        <!-- QnA 한칸 -->
                    </div>
                </div>
                <!-- Qna 페이징 -->
                <div class="QnaPaginationContainer">
                    <div class="QnaPagination">
                        <button type="button" class="QnaPaginationArrowBtn">
                            <img src="../../static/imgs/promotion-ticket/arrow_left_gray074.fa695002.svg" alt="이전 페이지" class="QnaPaginationArrowBtnImg">
                        </button>
                        <button type="button" class="PaginationPageOn">1</button>
                        <button type="button" class="PaginationPageOff">2</button>
                        <button type="button" class="PaginationPageOff">3</button>
                        <button type="button" class="PaginationPageOff">4</button>
                        <button type="button" class="PaginationPageOff">5</button>
                        <button type="button" class="PaginationPageOff">6</button>
                        <button type="button" class="PaginationPageOff">7</button>
                        <button type="button" class="QnaPaginationArrowBtn">
                            <img src="../../static/imgs/promotion-ticket/arrow_right_gray034.648942ed.svg" alt="다음 페이지" class="QnaPaginationArrowBtnImg">
                        </button>
                    </div>
                </div>
                <!-- Qna Modal창 -->
                <div class="PostQnaModalContainer none">
                    <div class="ScrollModalBackground">
                        <div style="position: relative; transform: translateY(0px) translateZ(0px);">
                            <div class="PostQnaModal">
                                <div class="PostQnaModalHeader">
                                    <span class="PostQnaModalTitle">문의하기</span>
                                    <button type="button" class="PostQnaModalCloseBtn">
                                        <img src="../../static/imgs/promotion-ticket/cross_gray024.c8b03031.svg" alt="닫기" class="PostQnaModalCrossImg">
                                    </button>
                                </div>
                                <div class="PostQnaModalSpaceInfo">
                                    <img src="https://img.shareit.kr/prod/img/2022-07-18/b9c77882-e895-42e5-988a-85a7d5c4f0e0.jpg" alt="공간" class="PostQnaModalSpaceImg">
                                    <div>
                                        <p class="PostQnaModalHostName">한성대학교</p>
                                        <p class="PostQnaModalSpaceName">실내체육관(낙산관)</p>
                                    </div>
                                </div>
                                <div class="PostQnaModalContentContainer">
                                    <div>
                                        <p class="PostQnaModalContentSubTitle">문의유형</p>
                                        <div class="PostQnaModalContentInputContainer">
                                            <div class="PostQnaModalDropdown">
                                                <button type="button" class="PostQnaModalDropdownSelectedBox">
                                                    <p>문의 유형을 선택하세요</p>
                                                    <img src="../../static/imgs/promotion-ticket/arrow_down_gray074.3a483a93.svg" alt="항목 열기" class="PostQnaModalDropdownImg">
                                                    <!-- <img src="../../static/imgs/promotion-ticket/arrow_up_gray074.f2ebf2a9.svg" alt="항목 열기" class="PostQnaModalDropdownImg"> -->
                                                </button>
                                                <div length="7" class="PostQnaModalDropdownSpaceList none" style="transform: scaleY(1);">
<!--                                                    <button type="button">문의 유형을 선택하세요</button>-->
                                                    <button type="button">일정 문의</button>
                                                    <button type="button">가격 문의</button>
                                                    <button type="button">공간 정보 문의</button>
                                                    <button type="button">물품 이용 문의</button>
                                                    <button type="button">기타</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="PostQnaModalContentSubTitle">문의내용</p>
                                        <div class="PostQnaModalTextBox">
                                            <span class="PostQnaModalTextLength">0/1,000</span>
                                            <div class="PostQnaModalTextAreaContainer">
                                                <div height="180" class="PostQnaModalTextArea">
                                                    <textarea class="TextArea" placeholder="개인 정보 유출이 우려되니, 개인 연락처를 남기지 말아주세요." maxlength="1000" oninput="updateTextLength()"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="PostQnaModalTextBoxComment">문의 내용은 <span>My-문의내역</span>에서 확인하실 수 있습니다.</p>
                                    </div>
                                    <div>
                                        <p class="PostQnaModalContentSubTitle">이름</p>
                                        <div class="PostQnaModalContentInputContainer">
                                            <div class="PostQnaModalInputBoxContainer">
                                                <label for="space-qna-writer" class="PostQnaModalInputBoxLabel">
                                                    <input type="text" id="space-qna-writer" placeholder="문의하시는 분의 이름을 적어주세요." sizes="medium" autocomplete="off" class="PostQnaModalInput" value="">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="PostQnaModalContentSubTitle">휴대전화 번호</p>
                                        <div class="PostQnaModalContentInputContainer">
                                            <div class="PostQnaModalInputBoxContainer">
                                                <label for="space-qna-phone-number" class="PostQnaModalInputBoxLabel">
                                                    <input type="number" id="space-qna-phone-number" placeholder="답변 알림을 받으신 전화번호를 적어주세요." sizes="medium" autocomplete="off" class="PostQnaModalInput" value="" >
                                                </label>
                                            </div>
                                        </div>
                                        <p class="PostQnaModalPhoneNoComment">해당 정보는 타인에게 노출되지 않으며,호스트 답변 시, 고객 알림 목적을 위해 사용됩니다.</p>
                                    </div>
                                    <div class="PostQnaModalBtnContainer">
                                        <button type="button" class="PostQnaModalFooterBtn PostQnaModalFooterBtnCancel">취소</button>
                                        <button type="button" class="PostQnaModalFooterBtn PostQnaModalFooterBtnSubmit">문의등록</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 환불규정 -->
                <div class="RefundPoliciesContainer">
                    <p class="TitleText">환불규정</p>
                    <div class="RefundPoliciesInnerContainer">
                        <div>
                            <p class="RefundPoliciesTitle">실시간 상품</p>
                            <div class="RefundPoliciesResponsibilities">
                                <div>
                                    <p class="ResponsibilitySubTitle">회원</p>
                                    <div class="ResponsibilityDescriptionContainer">
                                        <p class="ResponsibilityDescription">-  공간 이용일 기준  7일 전 : 90% 환불</p>
                                        <p class="ResponsibilityDescription">-  공간 이용일 기준  6일 ~ 4일 전 : 50% 환불</p>
                                        <p class="ResponsibilityDescription">-  공간 이용일 기준  3일 ~ 당일 취소 시 : 환불 불가</p>
                                    </div>
                                </div>
                                <div>
                                    <p class="ResponsibilitySubTitle">천재지변 및 불가항력</p>
                                    <div class="ResponsibilityDescriptionContainer">
                                        <p class="ResponsibilityDescription">-  공간 이용일 기준  당일 취소 시 : 100% 환불</p>
                                    </div>
                                </div>
                                <div>
                                    <p class="ResponsibilitySubTitle">회사 및 호스트</p>
                                    <div class="ResponsibilityDescriptionContainer">
                                        <p class="ResponsibilityDescription">-  공간 이용일 기준  당일 취소 시 : 100% 환불</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="RefundPoliciesstyle__Title-sc-1hqf4kb-2 jMiJMv">승인 상품</p>
                            <div class="RefundPoliciesstyle__RefundResponsibilities-sc-1hqf4kb-3 ljeBho">
                                <div>
                                    <p class="ResponsibilitySubTitle">회원</p>
                                    <div class="ResponsibilityDescriptionContainer">
                                        <p class="ResponsibilityDescription">-  공간 이용일 기준  30일 전 : 90% 환불</p>
                                        <p class="ResponsibilityDescription">-  공간 이용일 기준  29일 ~ 1일 전 : 10% 환불</p>
                                        <p class="ResponsibilityDescription">-  공간 이용일 기준 당일 취소 시 : 환불 불가</p>
                                    </div>
                                </div>
                                <div>
                                    <p class="ResponsibilitySubTitle">천재지변 및 불가항력</p>
                                    <div class="ResponsibilityDescriptionContainer">
                                        <p class="ResponsibilityDescription">-  공간 이용일 기준  당일 취소 시 : 100% 환불</p>
                                    </div>
                                </div>
                                <div>
                                    <p class="ResponsibilitySubTitle">회사 및 호스트</p>
                                    <div class="ResponsibilityDescriptionContainer">
                                        <p class="ResponsibilityDescription">-  공간 이용일 기준  당일 취소 시 : 100% 환불</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 우측 메뉴 -->
            <div class="RightReservationContainer">
                <div class="RightReservationBox">
                    <div class="GoodsListContainer">
                        <div class="calendar-wrap">
                            <div class="choice-box">
                                <div class="calendar-box">
                                    <input type="hidden" id="selectedDate">
                                    <div id="datepicker"></div>
                                </div>
                                <div class="time-choice-wrap"></div>
                            </div>
                            <div class="calendar-ctr-box"></div>
                        </div>
                        <label for="pc-goods-29658" class="RadioBoxContainer" >
                            <div class="RadioBoxOutLine">
                                <div class="RadioBoxInLine"></div>
                            </div>
                            <input type="radio" id="pc-goods-29658" name="">
                            <div class="GoodsInfo">
                                <div class="GoodsInfoTitleContainer">
                                    <span class="GoodsInfoTitle">일반(남은인원 20명)</span>
                                </div>
                                <div>
                                    <p class="GoodsInfoDiscountedPrice">60,000원</p>
                                </div>
                            </div>
                        </label>
                        <label for="pc-goods-29659" class="RadioBoxContainer">
                            <div class="RadioBoxOutLine">
                                <div class="RadioBoxInLine"></div>
                            </div>
                            <input type="radio" id="pc-goods-29659" name="">
                            <div class="GoodsInfo">
                                <div class="GoodsInfoTitleContainer">
                                    <span class="GoodsInfoTitle">VIP(남은인원 10명)</span>
                                </div>
                                <div>
                                    <p class="GoodsInfoDiscountedPrice">150,000원</p>
                                </div>
                            </div>
                        </label>
                        <label for="pc-goods-273" class="RadioBoxContainer">
                            <div class="RadioBoxOutLine">
                                <div class="RadioBoxInLine"></div>
                            </div>
                            <input type="radio" id="pc-goods-273" name="">
                            <div class="GoodsInfo">
                                <div class="GoodsInfoTitleContainer">
                                    <span class="GoodsInfoTitle">스탠딩(남은인원 30명)</span>
                                </div>
                                <div>
                                    <p class="GoodsInfoDiscountedPrice">50,000원</p>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="GoodsListBtnContainer">
                        <button type="button" class="LikeWithReservationButton">
                            <img src="../../static/imgs/promotion-ticket/heart_2line_gray064.40cc6c61.svg" alt="좋아요" class="LikeWithReservationButtonImg">
                        </button>
                        <button type="button" class="GoodsListReservationBtn">예약하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="../../static/js/place/detail/calendar.js"></script>
<!-- 지도 -->
<script>
var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 15
});

var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.3595704, 127.105399),
    map: map
});

naver.maps.Event.addListener(map, 'click', function(e) {
    marker.setPosition(e.latlng);
});

// var map = new naver.maps.Map('map', mapOptions);
</script>

<!-- 스와이퍼 -->
<script>
var swiper = new Swiper(".swiper", {
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  navigation: {
    nextEl: ".ImageModalNextvArrowBtn",
    prevEl: ".ImageModalPrevArrowBtn",
  },
  on: {
        slideChange: function () {
          document.querySelector(".snapIndex").textContent = swiper.snapIndex + 1;
        },
      },

});

// MoreImagesBtn 버튼 요소 선택
var ImageCount = document.querySelector('.ImageCount');
var ImageCount2 = document.querySelector('.ImageCount2');


// ImageLength 클래스를 가진 모든 요소 선택
var imageLengthElements = document.querySelectorAll('.ImageLength');

// 각 ImageLength 클래스 내의 div 개수를 합산
var totalDivCount = Array.from(imageLengthElements).reduce(function (total, element) {
  return total + element.querySelectorAll('div').length;
}, 0);

// MoreImagesBtn 버튼 텍스트에 totalDivCount 값을 설정
ImageCount.textContent =  totalDivCount;
ImageCount2.textContent =  totalDivCount;

// 이미지 모달창 켜기
document.querySelector(".MoreImagesBtn").addEventListener("click", function(){
    document.querySelector(".ImageModalContainer").classList.remove("none");
})

// 이미지 모달창 끄기
document.querySelector(".ImageModalCloseBtn").addEventListener("click", function(){
    document.querySelector(".ImageModalContainer").classList.add("none");
})

// 문의하기 모달창 켜기
document.querySelector(".QnaMainBtn").addEventListener("click", function(){
    document.querySelector(".PostQnaModalContainer").classList.remove("none");
    document.body.style.overflow = "hidden";
})

// 문의하기 모달창 끄기
document.querySelector(".PostQnaModalCrossImg").addEventListener("click", function(){
    document.querySelector(".PostQnaModalContainer").classList.add("none");
    document.body.style.overflow = "auto";
})

document.querySelector(".PostQnaModalFooterBtnCancel").addEventListener("click", function(){
    document.querySelector(".PostQnaModalContainer").classList.add("none");
    document.body.style.overflow = "auto";
})
</script>

<script>
function changeTab(clickedButton) {
    // 모든 버튼에서 InfoTabBtnOn 클래스 제거, InfoTabBtnOff 클래스 추가
    document.querySelectorAll('.InfoTabBtn').forEach(function (button) {
        button.classList.remove('InfoTabBtnOn');
        button.classList.add('InfoTabBtnOff');
    });

    // 클릭된 버튼에 InfoTabBtnOn 클래스 추가, InfoTabBtnOff 클래스 제거
    clickedButton.classList.remove('InfoTabBtnOff');
    clickedButton.classList.add('InfoTabBtnOn');
}


    // 모든 QnA 아이템을 선택합니다.
    var qnaItems = document.querySelectorAll('.QnaItemContainer');

    // 각 QnA 아이템에 대해 이벤트 리스너를 등록합니다.
    qnaItems.forEach(function (qnaItem) {
        // "더보기" 버튼을 찾습니다.
        var moreBtn = qnaItem.querySelector('.QnaItemContentsMoreBtn');

        // "더보기" 버튼에 클릭 이벤트를 등록합니다.
        moreBtn.addEventListener('click', function () {
            // 이미지를 토글합니다.
            var moreBtnImg = qnaItem.querySelector('.QnaItemContentsMoreBtnImg');
            toggleImageSrc(moreBtnImg);

            // 답변칸을 토글합니다.
            var repliesContainer = qnaItem.querySelector('.QnaRepliesContainer');
            toggleVisibility(repliesContainer);
        });
    });

    // 이미지의 src를 토글하는 함수
    function toggleImageSrc(img) {
        // 현재 이미지 src에 따라 토글합니다.
        img.src = img.src.includes('down') ? '../../static/imgs/promotion-ticket/arrow_up_gray074.f2ebf2a9.svg' : '../../static/imgs/promotion-ticket/arrow_down_gray074.3a483a93.svg';

    }

    // 요소의 가시성을 토글하는 함수
    function toggleVisibility(element) {
        // "none" 클래스의 존재 여부에 따라 토글합니다.
        if (element.classList.contains('none')) {
            element.classList.remove('none');
        } else {
            element.classList.add('none');
        }
    }


function toggleDropdown() {
    const dropdownList = document.getElementById('dropdownList');
    dropdownList.classList.toggle('none');
}

function selectDropdownItem(item) {
    const selectedType = document.getElementById('selectedType');
    selectedType.textContent = item;

    toggleDropdown();
}

$('.RadioBoxOutLine').click(function () {
    $(this).find('.RadioBoxInLine').toggleClass('On');
});


// 초기 상태 설정
var arrowDownSrc = "../../static/imgs/promotion-ticket/arrow_down_gray014.f502da9d.svg";
var arrowUpSrc = "../../static/imgs/promotion-ticket/arrow_up_gray014.75d8599e.svg";
var reviewSelectBoxBtn = document.querySelector(".ReviewSelectBoxBtn");
var reviewSelectBoxBtnImg = document.querySelector(".ReviewSelectBoxBtnImg");
var reviewSelectBoxList = document.querySelector(".ReviewSelectBoxList");

var buttons = document.querySelectorAll('.ReviewSelectBoxList button');
buttons.forEach(function (btn) {
    btn.addEventListener('click', function () {
        // 아이템을 클릭했을 때의 동작
        buttons.forEach(function (innerBtn) {
            innerBtn.classList.remove('ReviewFilterSortBtnOn');
            innerBtn.classList.add('ReviewFilterSortBtnOff');
        });
        btn.classList.add('ReviewFilterSortBtnOn');
        var selectedText = btn.textContent;
        document.querySelector('.ReviewSelectBoxText').textContent = selectedText;
        closeReviewSelectBox();
    });
});

reviewSelectBoxBtn.addEventListener("click", function () {
    // ReviewSelectBoxBtn을 클릭했을 때의 동작
    if (reviewSelectBoxList.style.display === 'none') {
        reviewSelectBoxList.style.display = 'flex';
        reviewSelectBoxBtnImg.src = arrowUpSrc;
    } else {
        closeReviewSelectBox();
    }
});

function closeReviewSelectBox() {
    // ReviewSelectBoxList를 닫을 때의 동작
    reviewSelectBoxList.style.display = 'none';
    reviewSelectBoxBtnImg.src = arrowDownSrc;
}


// 모달창쪽
// 초기 상태 설정
var modalArrowDownSrc = "../../static/imgs/promotion-ticket/arrow_down_gray074.3a483a93.svg";
var modalArrowUpSrc = "../../static/imgs/promotion-ticket/arrow_up_gray074.f2ebf2a9.svg";
var postQnaModalDropdownBtn = document.querySelector(".PostQnaModalDropdownSelectedBox");
var postQnaModalDropdownBtnImg = document.querySelector(".PostQnaModalDropdownImg");
var postQnaModalDropdownList = document.querySelector(".PostQnaModalDropdownSpaceList");

var modalButtons = document.querySelectorAll('.PostQnaModalDropdownSpaceList button');
modalButtons.forEach(function (btn) {
    btn.addEventListener('click', function () {

        // 아이템을 클릭했을 때의 동작
        modalButtons.forEach(function (innerBtn) {
            innerBtn.classList.remove('ReviewFilterSortBtnOn');
            innerBtn.classList.add('ReviewFilterSortBtnOff');
        });
        btn.classList.add('ReviewFilterSortBtnOn');
        var selectedText = btn.textContent;
        document.querySelector('.PostQnaModalDropdownSelectedBox p').textContent = selectedText;
        document.querySelector('.PostQnaModalDropdownSelectedBox p').style.color = 'black'; // 선택된 버튼의 부모 요소인 p의 글자색을 검정색으로 변경
        closePostQnaModalDropdown();
    });
});

postQnaModalDropdownBtn.addEventListener("click", function () {
    // PostQnaModalDropdownBtn을 클릭했을 때의 동작
    if (postQnaModalDropdownList.style.display === 'none') {
        postQnaModalDropdownList.style.display = 'flex';
        postQnaModalDropdownBtnImg.src = modalArrowUpSrc;
    } else {
        closePostQnaModalDropdown();
    }
});

function closePostQnaModalDropdown() {
    // PostQnaModalDropdownList를 닫을 때의 동작
    postQnaModalDropdownList.style.display = 'none';
    postQnaModalDropdownBtnImg.src = modalArrowDownSrc;
}


function updateTextLength() {
    var textarea = document.querySelector('.TextArea');
    var textLength = textarea.value.length;
    var maxLength = parseInt(textarea.getAttribute('maxlength'));
    var textLengthElement = document.querySelector('.PostQnaModalTextLength');
    textLengthElement.textContent = textLength + '/' + maxLength;
}

</script>


</html>