/* 관리자 프로필 */
.admin-app {
    display: flex;
    justify-content: space-around;
    width: 1050px;
    flex-wrap: wrap;
}

.admin-pfp {
    display: flex;
    margin-bottom: 50px;
}

.admin-pfp-img-upload > label {
    position: relative;
    cursor: pointer;
}

.admin-pfp-img-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    /* margin-top: 27px; */
    margin-top: 40px;
}

.admin-pfp-img-icon > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.admin-pfp-img-upload > input {
    display: none;
    position: absolute;
    overflow: hidden;
}

.admin-name-email {
    margin-left: 10px;
    margin-top: 42px;
}

.admin-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.admin-email-box {
    display: flex;
}

.admin-email {
    font-size: 14px;
    color: rgb(118, 125, 130);
    font-weight: 500;
}
/* 관리자 프로필 */

/* 관리자 사이드 메뉴 */
.admin-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-side-menu {
    margin-left: 25px;
    margin-bottom: 50px;
}

.admin-management {
    margin-bottom: 25px;
}

.admin-side-menu > a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.admin-side-menu > a:hover {
    font-weight: 700;
}

.admin-name-email {
    margin-left: 10px;
    margin-top: 45px;
}
/* 관리자 사이드 메뉴 */