#chat--screen {
    box-sizing: border-box;
}


/* 채팅 버튼 */
#chat--screen .chatbot-button {
    position: fixed;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 91vw;
    top: 74vh;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #68a5fe;
}

#chat--screen .chat--open-btn-img {
    width: 50px;
    height: 50px;
}

#chat--screen .chat-notice-icon {
    background-color: red;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 540px;
    left: 1450px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    display: none;
}

/* 채팅 창 */
#chat--screen .chatbot {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 32px 6px rgba(177, 180, 198, 0.2);
    -webkit-box-shadow: 0 0 32px 6px rgba(177, 180, 198, 0.2);
    z-index: 1000;
}

#chat--screen .chatbot-header {
    background-color: #007AFF;
    color: white;
    border-radius: 20px 20px 0 0;
    height: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #d6d6d6;
}

#chat--screen .close-box {
    text-align: right;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#chat--screen .chatbot-close {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#chat--screen .chatbot-body {
    height: 71.75%;
    padding: 10px;
    overflow-y: auto;

}

#chat--screen .chatbot-footer {
    padding: 15px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d6d6d6;
}

#chat--screen .chatbot-input-container {
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px 8px;
}

#chat--screen #chatbot-send {
    width: 20%;
    padding: 5px;
    background-color: #007AFF;
    border: #68a5fe 1px solid;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#chatbot-textarea {
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 20px;
    width: 100%;
    height: 40px;
}

#chat--screen .message {
    margin: 10px 0;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

#chat--screen .message-text {
    margin: 0 10px 0 10px;
    border: #007AFF 1px solid;
    min-height: 30px;
    line-height: 30px;
    border-radius: 10px;
    padding: 3px 5px;
}

#chat--screen .user-message {
    text-align: left;
    justify-content: right;
    margin-left: 20px;
}

#chat--screen .bot-message {
    text-align: left;
    justify-content: left;
    margin-right: 20px;
}


#chat--screen .user-message > .message-text {
    background-color: #007AFF;
    color: white;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* 채팅방 목록 */
#chat--screen .chat-room-wrap {
    display: block;
    height: 100%;
}

#chat--screen .chat-room-detail-wrap {
    height: 100%;
}

#chat--screen .chat-title-box {
    display: flex;
    background-color: #007AFF;
    width: 100%;
    height: 55px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #d6d6d6;
    justify-content: space-between;
}

#chat--screen .chat-room-title {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
    font-weight: bold;
}

#chat--screen .chat-room-list {
    width: 100%;
    height: 314px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#chat--screen .chat-logo-img {
    height: 65px;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #d6d6d6;
}

#chat--screen .chat-logo-img img {
    height: 98%;
}

#chat--screen .chat-close {
    padding-right: 20px;
}

#chat--screen .chat-room {
    height: 65px;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 15px;
    display: flex;
    position: relative;
}

#chat--screen .chatbot-room:hover,
.chat-room:hover {
    background-color: #eaeaeade;
}

#chat--screen .chatbot-room {
    height: 65px;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 15px;
    display: flex;
}

#chat--screen .chat-bot-img-box {
    width: 15%;
    display: flex;
    align-items: center;
}

#chat--screen .chat-bot-img {
    width: 40px;
    height: 40px;
}

#chat--screen .chat-bot-info-box {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

#chat--screen .chat--bot-name-and-time {
    width: 95%;
    padding: 8px 0 3px 0;
    display: flex;
    justify-content: space-between;
}

#chat--screen .chat--bot-name {
    font-weight: bold;
    font-size: 14px;
}

#chat--screen .chat-time-box {
    font-size: 12px;
    color: #ccc;
    padding-top: 3px;
    padding-left: 15px;
}

#chat--screen .chat--bot-msg {
    font-size: 12px;
    color: #9c9c9c;
    overflow: hidden;
    height: 27px;
}

#chat--screen .user---msg {
    font-size: 12px;
    color: #9c9c9c;
    overflow: hidden;
    height: 27px;
}


#chat--screen .show-chat,
#chat--screen .show-chatBot {
    cursor: pointer;
}

#chat--screen .chat--more-dot {
    color: #ccc;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 15px;
    width: 20px;
    height: 20px;
}

/* 채팅방 나가기 창 */
#chat--screen .chatRoom-modify-select-box {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
}

#chat--screen .chatRoom-modify-select-box a {
    font-size: 17px;
    text-decoration: none;
}

#chat--screen .chatRoom-modify-modify1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat--screen .chatRoom-modify-modify1:hover {
    opacity: 0.6;
}

#chat--screen .chatRoom-modify-delete1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#chat--screen .chatRoom-modify-delete1:hover {
    opacity: 0.6;
}

#chat--screen .chatRoom-modify-btn-list img {
    margin-left: 8px;
    margin-bottom: 3px;
}

#chat--screen .chat-room-exit-btn:hover {
    background-color: #e9e9e9;
}

#chat--screen .chat-room-exit-btn {
    display: none;
    border: 1px solid #ccc;
    outline: 0;
    width: 40px;
    height: 35px;
    border-radius: 5px;
    color: #ff0000;
    font-weight: bold;
    font-size: 13px;
    background-color: white;
    position: absolute;
    left: 309px;
    top: 20px;
    cursor: pointer;
}

/* 사용자채팅 불가 안내 메세지 */

#chat--screen .tmp-container{
    height: 65px;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 15px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}