@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

*, body, span {
    box-sizing: border-box;
    outline: none;
    font-family: 'S-CoreDream', sans-serif;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

li {
    text-align: -webkit-match-parent;
}

li,
ol,
ul {
    list-style: none;
}

textarea {
    border: 0;
    background-color: transparent;
    resize: none;
    overflow-y: auto;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a,
a:hover {
    color: currentColor;
    text-decoration: none;
    outline: none;
}

blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul,
figure {
    margin: 0;
    padding: 0;
}

button,
input {
    background: transparent;
    border: 0;
    cursor: pointer;
}

img {
    vertical-align: top;
}

.input-readonly {
    cursor: default;
}

.input-readonly::placeholder {
    color: black !important;
}

/* 이하 헤더 */

#page-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    background-color: #fff;
    transition: transform 0.3s ease;
}

#page-header.hide {
    transform: translateY(-95px);
}

.header-content {
    border-bottom: 1px solid rgb(243, 245, 247);
}

.header-grid {
    position: relative;
    max-width: 1200px;
    width: 100%;
}

.hc-afterlogin,
.hc-beforelogin {
    display: flex;
    align-items: center;
}

.h-content-container {
    margin: 0 auto;
    padding: 35px 0 20px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hc-main {
    gap: 14px;
    display: flex;
    align-items: center;
}

.hc-logo img {
    width: 110px;
}

.hc-types-selector {
    position: relative;
    display: flex;
    background: rgb(243, 245, 247);
    border-radius: 20px;
    gap: 1px;
    height: fit-content;
}

.hc-content-type {
    font-size: 16px;
    line-height: 24px;
    color: rgb(163, 163, 163);
    background: rgb(243, 245, 247);
    padding: 6px 0;
    width: 76px;
    border-radius: 20px;
}

.hc-current-type {
    position: absolute;
    display: flex;
    place-content: center;
    top: 0;
    transition: all 0.2s ease 0s;
    font-size: 16px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    padding: 6px 0;
    width: 76px;
    height: 36px;
    border: 1px solid rgb(212, 219, 226);
    border-radius: 20px;
}

.type1 {
    left: 0;
    background: rgb(31, 105, 255);
}

.type2 {
    left: 76px;
    background: rgb(255, 180, 31);
}

.hc-selections {
    display: flex;
    align-items: center;
}

.hc-contents-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.hc-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 13px;
    height: 40px;
    border-radius: 4px;
}

.hc-content:last-child {
    margin-right: 4px;
}

.hc-content:hover {
    background-color: rgb(243, 245, 247);
}

.hc-content-font {
    width: 100%;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.1px;
    color: rgb(27, 29, 31);
}

.hc-content-font-small {
    width: 100%;
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: rgb(114, 120, 127);
}

.hc-content-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 12px;
}

.hc-content-icon.hide {
    display: none;
}

.hc-content-icon i {
    font-size: 20px;
}

.hc-content-icon i:hover {
    color: rgb(31, 105, 255);
}

.hc-divider {
    margin: 0 10px;
    width: 1px;
    height: 16px;
    background: rgb(201, 205, 210);
}

.h-user-icon {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.h-user-icon img {
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    object-fit: cover;
}

.h-search-bar-container {
    display: flex;
    border: 1px solid #b5b5b5;
    border-radius: 8px;
    padding: 8px;
    position: relative;
}

.h-search-bar-container.hide {
    display: none;
}

.h-search-bar-container input {
    width: 300px;
    margin-left: 5px;
    margin-right: 14px;
    font-size: 16px;
}

.h-search-bar-container button {
    position: absolute;
    right: 8px;
}

.hc-search-bar-erase.hide {
    display: none;
}

.hd-usermenu {
    display: none;
    position: absolute;
    right: 0;
    top: 95px;
    z-index: 9999;
    width: 220px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px 0;
    border: 1px solid rgb(239, 243, 245);
    background-color: rgb(255, 255, 255);
}

.hd-usermenu.show {
    display: block;
}

.hd-user-name {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: -0.1px;
    color: rgb(27, 29, 31);
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.hd-divider {
    border: 0;
    height: 1px;
    width: 160px;
    margin: 10px 30px;
    background-color: rgb(231, 234, 238);
}

.hd-content {
    display: flex;
    height: 40px;
    width: 100%;
    padding: 8px 30px;
}

.hd-content p {
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #72787f;
}

.hd-content:hover p {
    color: #454b50;
}

.hd-content:last-child {
    margin-bottom: 10px;
}

.hd-notification {
    z-index: 9999;
    display: none;
    position: absolute;
    top: 95px;
    right: 0;
    width: 360px;
    height: 380px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px 0;
    border: 1px solid rgb(239, 243, 245);
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    overflow-x: hidden;
}

.hd-notification.show {
    display: block;
}

.hdn-item {
    position: relative;
    width: 100%;
    padding: 20px 20px 24px;
    cursor: default;
}

.hdn-item:not(:last-child) {
    border-bottom: 1px solid rgb(231, 234, 238);;
}

.hdn-icon {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 24px;
    object-fit: cover;
}

.hdn-title {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: -0.1px;
    color: #1b1d1f;
}

.hdn-date {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: right;
    color: #9ea4aa;
}

.hdn-content {
    margin-top: 4px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #454b50;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

.general-ellipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* 이하 바디 */
#page-body {
    margin-top: 95px;
    min-height: calc(100vh - 95px - 25px);
}

/* 이하 푸터 */
#page-footer {
    box-sizing: border-box;
    background: #e7e7e7;
    width: 100%;
}

.footer-content {
    width: 1200px;
    height: 25px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content-item {
    margin-right: 20px;
    font-size: 12px;
    position: relative;
}

.footer-content-item:last-child {
    margin-right: 0;
}

.footer-content-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: calc(50% - 0.45em);
    right: -7px;
    width: 0;
    height: 0.9em;
    border-right: 1px solid;
    opacity: .25;
}

.fc-popover-homes {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-150%);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(239, 243, 245);
    z-index: 1000;
    overflow: hidden;
}

.fc-popover-homes.show {
    display: flex;
}

.fcph-item {
    font-size: 16px;
    white-space: nowrap;
    padding: 8px 6px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.fcph-item:hover:first-child {
    background: rgb(31, 105, 255);
    color: #fff;
}

.fcph-item:hover:last-child {
    background: rgb(255, 180, 31);
    color: #fff;
}

/* 모달창 css */
.modal-bg, .mypage-modal-bg {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.28);
    z-index: 9999;
}

.modal-bg.show, .mypage-modal-bg.show {
    display: block;
}

.global-dialogue-container {
    position: absolute;
    display: none;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(96, 96, 96, 0.22) 0 2px 18px 0;
}

.global-dialogue-container.show {
    display: block;
}

.gd-content {
    font-size: 15px;
    letter-spacing: -0.45px;
    text-align: center;
    color: rgb(36, 36, 36);
    padding: 30px 33px;
    white-space: pre-wrap;
}

.gd-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-top: 1px solid rgb(240, 240, 240);
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: -0.8px;
    color: rgb(0, 117, 235);
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

.gd-confirm:active {
    background-color: #f2f2f2;
}

.global-selection-container {
    position: absolute;
    display: none;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(96, 96, 96, 0.22) 0 2px 18px 0;
    overflow: hidden;
}

.global-selection-container.show {
    display: block;
}

.gs-question {
    font-size: 15px;
    letter-spacing: -0.45px;
    text-align: center;
    color: rgb(36, 36, 36);
    padding: 30px 33px;
    white-space: pre-wrap;
}

.gs-select-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(240, 240, 240);
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: -0.8px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.gs-select-btn:active {
    background-color: #f2f2f2;
}

.modal-reservation-info {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(96, 96, 96, 0.22) 0 2px 18px 0;
    padding: 40px 30px;
}

.modal-reservation-info.show {
    display: block;
}

.mri-title {
    font-weight: bold;
    color: rgb(38, 40, 43);
    margin-bottom: 14px;
}

.mri-content {
    display: flex;
    flex-direction: row;
    width: 600px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    justify-content: space-between;
    padding: 8px 10px;
}

.mri-input-container {
    display: flex;
    align-items: center;
    border: 1px solid #dfe2e7;
    background-color: #f7f8f9;
    border-radius: 4px;
    padding: 4px 8px
}

.mri-input-container input {
    text-align: right;
    width: 100%;
    cursor: default;
}

.mri-input-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
}

.mri-textarea {
    width: 300px;
}

.mri-divider {
    width: 1px;
    background-color: #d4d4d4;
    margin: 0 auto 0
}

.modal-review-form-container {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(96, 96, 96, 0.22) 0 2px 18px 0;
    padding: 40px 30px;
    width: 940px;
}

.modal-review-form-container.show {
    display: block;
}

.vibration {
    animation: vibration .1s infinite;
}

@keyframes vibration {
    from {
        transform: translate(-50%, -50%) rotate(1deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(-1deg);
    }
}

.mrf-star-rating-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

.mrf-star {
    width: 25px;
    height: 25px;
    margin-right: 4px;
    display: inline-block;
    background: url(../../imgs/blank-star.png) no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

.mrf-star.on {
    background: url(../../imgs/star.png) no-repeat;
    background-size: 100%;
}

.mrf-rating-count-con {
    margin-left: 4px;
    font-size: 16px;
    color: #797979;
}

.mrf-rating-count-con input {
    width: 14px;
    cursor: default;
    font-size: 20px;
}

.mr-form {
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
}

.mr-form textarea {
    padding: 8px;
    width: 100%;
    font-size: 16px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.error-content, .error-score {
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: red;
}

.error-score {
    margin-left: 20px;
}

.mr-type-counter {
    display: flex;
    font-size: 14px;
    color: #797979;
}

.mr-type-counter span:not(:last-child) {
    margin-right: 10px;
}

#loadingBackground {
    position: absolute;
    z-index: 9000;
    background-color: rgba(0, 0, 0, 0.28);
    width: 100%;
    height: 100vh;
}

#loadingImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 30px;
    font-size: 20px;
    color: #818181;
}

.pagination-previous, .pagination-next {
    display: flex;
}

.pagination-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-btns:hover {
    color: #000;
}

.pagination-btns.first {
    margin-right: 20px;
}

.pagination-btns.end {
    margin-left: 20px;
}

.pagination-body {
    display: flex;
    margin: 0 10px;
}

.pagination-btns > .active {
    color: #007aff;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #007aff;
}