* {
  margin: 0;
  padding: 0;
  font-family: 'S-CoreDream', sans-serif;
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.header {
  height: 100px;
  background-color: #FFA200;

}

.footer {
  height: 100px;
  background-color: #007aff;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map{
  width: 1200;
  max-width: 1200px;
  height: 675px;
  position: relative;
  margin: 34px auto 0px;
}






































