<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/global-css/root.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/promotion/promotion-detail.css">
    <link rel="stylesheet" href="/css/promotion/promotion-detail-swiper.css">
    

    <title>홍보 리스트 상세보기</title>
</head>
<body>
  <div>
    <div th:replace="~{/global-templates/header-footer :: header}"></div>
    <div class="ReferenceHallDetailContainer">
      <div class="ReferenceHallDetailTitleImgContainer">
        <img src="https://img.shareit.kr///spacelog/img/2023-11-09//3ee92b81-3712-4496-84ab-81ac03bd9936_1280.jpg" alt="대표이미지" class="TitleImg">
      </div>
      <div class="ContentContainer">
        <!-- 사이드 메뉴 -->
        <div class="SideMenuContainer">
          <div class="SideMenuBookMarkContainer">
            <div class="SideMenuBtn SideBookMark">
              <img src="/imgs/bookmark_gray014_24.svg" alt="북마크" class="SideMenuBtnImg">
            </div>
            <div class="BookMarkCount">0</div>
          </div>
          <div class="SideMenuBtn SideMenuLink">
            <img src="/imgs/share_gray014_24.svg" alt="공유하기" class="SideMenuBtnImg">
          </div>
          <!-- 공간보러가기 버튼 빼기로함 -->
          <!-- <div class="ReferenceHallDetailstyle__SpaceMoveBtn-sc-jz3w9-9 jTOWxX">
            <button type="button" class="MainButtonstyle__CommonBtn-sc-g2c786-0 MainButtonstyle__ContainedBtn-sc-g2c786-1 Cleia QHIzH">공간 보러가기</button>
          </div> -->
        </div>
        <div class="MainContentContainer">
          <div class="MainContentContainerHeader">
            <div class="MainContentContainerHeaderTitle">홍대 거리 대학생을 위한 KT의 팝업</div>
            <div class="MainContentContainerHeaderSubTitle">KT Y캠퍼스 대동제</div>
            <div class="MainContentContainerHeaderDate">2023-12-13 10:13:19</div>
            <div class="MainContentContainerHeaderWriterContainer">
              <img src="/imgs/icon-editor.svg" alt="쉐어잇 에디터 이미지" class="WriterImg">
              <div class="WriterNickName">쉐어잇 에디터</div>
            </div>
            <div class="MainContentContainerHeaderText">20대를 겨냥한 통신사의 팝업스토어 현장</div>
          </div>
          <div class="HeaderHrLine"></div>
          <div class="PromotionContentContainer">
            <div class="PromotionHeaderText">지금 이 공간</div>
            <!-- 공간 설명(면적 가로 세로 높이 인원등) -->
            <div class="PlaceExpositionContainer">
              <div class="PlaceImagesContainer">
                <input type="button" class="FavoriteButton">
                <div class="swiper top-swiper swiper-initialized swiper-horizontal swiper-pointer-events">
                  <div class="swiper-wrapper" >
                    <!-- 공간 이미지 한칸 -->
                    <!-- swiper-slide-active 이거 전꺼는 swiper-slide-prev -->
                    <div class="swiper-slide swiper-slide-active" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/59f6443d-94d9-4f7f-8d42-838941d52b30_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <!-- 공간 이미지 한칸 -->
                    <div class="swiper-slide swiper-slide-next" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/4d7e86b2-1aa0-450b-8751-d9355d990b10_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/3660503c-433a-4e11-942b-7fb17d0347ff_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/c25cd9b0-a8c7-4b7e-bdc6-aadf761d16c6_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/3ebb2a22-550d-4fc4-9c6d-b8a301ec46f0_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/0e3ab28c-565c-4f35-880b-4d2da4ba484c_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/eaf3eae9-9bf2-4040-8659-091314aeff13_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/878c6515-98f0-4eca-9552-182d6e2b5b77_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/301a4c8a-7c35-4573-830a-5dc6f9dce8a5_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/37e669ce-6fa8-42a8-ba50-b68249734196_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/01ee1eed-6ca7-4062-846f-72537ae2b7d4_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/5954fe49-b1fa-44e3-a50c-cf986842e485_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/0acc30ef-9572-4f2d-a530-3296a018b59f_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/f4cf9372-fe89-4592-a101-bf89fab4f73e_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/d7605e2a-b93a-4969-974e-893388dda8d9_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/cc0edd38-3548-42d2-8b8f-f786e9a555d4_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/b255b0d7-502c-4f39-8ace-ef469648e6ec_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/f6bc3648-a3e9-427c-9ed3-444d0bb1d4f3_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/f6e23ab2-0984-4485-b935-61e6bf32a138_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                    <div class="swiper-slide" >
                      <div>
                        <img src="https://img.shareit.kr//tempspaceauth/img/2023-06-19/ba861c1b-c358-439d-80a0-721955106a3d_640.jpg" alt="공간 이미지" class="Swiper-Img">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              <div class="PlaceExpositionTextArea">
                <div class="PlaceExpositionTitleContainer">
                  <div class="PlaceExpositionTitle">DRC 홍대<img src="/imgs/arrow_right_gray024_24.svg" alt="공간 상세 페이지 가기" class="PlaceExpositionTitleIcon"></div>
                </div>
                <div class="PlaceAddressContainer">
                  <img src="https://img.shareit.kr/host/thumb/2023-06-19/profile_2023-06-19_10-51-05-620-swvonityrm.jpg" alt="호스트 이미지" class="SpaceHostImage">
                  <div class="SpaceHostName">DRC 홍대 팝업 통건물 by Share.IT<img src="/imgs/arrow_right_2G_24.svg" alt="호스트 페이지 가기" class="SpaceHostNameImage"></div>
                </div>
                <div class="SpaceSpecBox">
                  <div class="SpaceSpecItem">
                    <div class="SpaceSpecItemLabel">면적</div>
                    <div class="SpaceSpecItemContent">295.5㎡ ≒ 89.39평</div>
                  </div>
                  <div class="SpaceSpecItem">
                    <div class="SpaceSpecItemLabel">가로</div>
                    <div class="SpaceSpecItemContent">15m</div>
                  </div>
                  <div class="SpaceSpecItem">
                    <div class="SpaceSpecItemLabel">세로</div>
                    <div class="SpaceSpecItemContent">19.7m</div>
                  </div>
                  <div class="SpaceSpecItem">
                    <div class="SpaceSpecItemLabel">천정높이</div>
                    <div class="SpaceSpecItemContent">10m</div>
                  </div>
                  <div class="SpaceSpecLastItem">
                    <div class="SpaceSpecItemLabel">최대인원</div>
                    <div class="SpaceSpecItemContent">200명</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="TemplateContainer">
            <div>
              <p class="TemplateContent">KT가 대학 축제 컨셉의 ‘Y캠퍼스 대동제’ 팝업스토어를 열었습니다. 2023년 10월 9-15일 운영했으며, 상품과 혜택이 담긴 다트 게임, 볼링 게임 등을 운영했고, 동아리 부스와 주점을 운영하여 대학생들이 자연스럽게 즐길 수 있는 콘텐츠를 제공했습니다.</p>
            </div>
            <div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/e3f27667-4374-4a3e-9562-5aac910816d8_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/06ea89b1-72ba-4fe0-8e88-76df6ffcdcde_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/4208b59a-86e8-47d5-9735-65ae75617e75_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/86c9a617-e8ea-4d1f-84ed-4a93211ef166_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/9010c353-8ad7-4871-8426-9a39d9a35e8a_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/7550c95e-d64c-435e-8c30-ecffde3bc505_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/2464f8de-83b5-41f5-902a-3f12505c6ed1_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/557886e1-52d4-42ca-8237-021064481d54_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/fa5472fd-5aa9-413a-8031-ec9d4c6b479d_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
            </div>
            <div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/d6ad5455-3515-485b-bd01-65cfd0f46e8f_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/f4bdd258-11e4-4190-aa47-60516dbf019a_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/d4a7052e-29ad-491c-808b-2fa23fefd016_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/5b4a527b-5718-471a-989b-5fe73a3195b6_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/f80bdb5c-77d5-4a1e-a37f-86d567d8e01b_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/27629fae-1edb-40b4-96cc-4788ff5184f5_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/9ca17cc4-0c5f-4133-9e53-2f621779f400_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/ec7243f3-582c-43c6-99af-3d333f4b74d8_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/112ab980-c1a7-4393-aca3-d62e52edd05f_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
            </div>
            <div>
              <div>
                <img src="https://img.shareit.kr///spacelog/template/2023-11-09/26a5b049-f543-4558-a55f-efd19845311a_1280.jpg" alt="상세 이미지" class="TemplateContentImage">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="CategoryContentsContainer">
        <p class="CategoryContentsText">함께 보면 좋을 컨텐츠</p>
        <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
          <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
            <div class="swiper-slide ">
              <div class="CategoryContentItem">
                <img src="https://img.shareit.kr///spacelog/img/2023-04-07//48b275d2-2319-4c47-b1b2-e38e3e85b089_640.jpg" alt="컨텐츠 이미지" class="CategoryContentItemImage">
                <p>[클로짓셰어] 팝업 스토어 행사</p>
              </div>
            </div>
            <div class="swiper-slide " >
              <div class="CategoryContentItem">
                <img src="https://img.shareit.kr///spacelog/img/2023-04-07//e43d53a3-758f-4214-a58d-4476b8e6339d_640.jpg" alt="컨텐츠 이미지" class="CategoryContentItemImage">
                <p>[민트콜렉션] 팝업 스토어 행사</p>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="CategoryContentItem">
                <img src="https://img.shareit.kr///spacelog/img/2023-04-13//2f1f1427-3fd3-420d-a2b1-a73f199b6a15_640.jpg" alt="컨텐츠 이미지" class="CategoryContentItemImage">
                <p>[FAAV] 팝업 스토어 행사 현장</p>
              </div>
            </div>
          </div>
        </div>
        <div class="CategoryContentsBtnContainer">
          <button type="button" class="Cleia OtherBtn">다른 컨텐츠 더보기</button>
        </div>
      </div>
      <div></div>

        <!-- 사이드버튼? -->
        <!-- <div class="ReferenceHallDetailstyle__FloatMobileBox-sc-jz3w9-10 kPsxgC">
          <div class="ReferenceHallDetailstyle__IconBox-sc-jz3w9-11 itaedx">
            <img src="/imgs/bookmark_gray014_24.svg" alt="북마크" class="ReferenceHallDetailstyle__FloatImage-sc-jz3w9-7 eLMYFP">
            <div class="ReferenceHallDetailstyle__BookmarkMobileCnt-sc-jz3w9-12 hJyFLC">0</div>
            <img src="/imgs/share_gray014_24.svg" alt="공유하기" class="ReferenceHallDetailstyle__FloatImage-sc-jz3w9-7 jfpLGw">
          </div>
          <div class="ReferenceHallDetailstyle__SpaceMoveBtn-sc-jz3w9-9 jTOWxX">
            <button type="button" class="MainButtonstyle__CommonBtn-sc-g2c786-0 MainButtonstyle__ContainedBtn-sc-g2c786-1 Cleia QHIzH">공간 보러가기</button>
          </div>
        </div> -->
        <!-- 사이드버튼? -->
<!--      공유하기 모달창-->
      <div class="ModalBackground">
        <div class="ShareModalContainer">
          <div class="ShareModalHeader">
            <span class="ShareModalHeaderTitle">공유하기</span>
            <button type="button" class="ShareModalCloseBtn">
              <img src="/imgs/cross_gray034.69d9d880.svg" alt="닫기" class="ShareModalCloseImg">
            </button>
          </div>
          <div class="ShareModalBottomContainer">
            <button type="button" class="ModalShareBtn">
              <div class="ShareModalShareImgContainer">
                <img src="/imgs/link_line_white.9dfe61a7.svg" alt="URL 복사" class="ModalShareImg">
              </div>
              <span class="ModalShareBtnText">URL 복사</span>
            </button>
            <button type="button" class="ModalKakaoShareBtn">
              <img src="/imgs/kakaoTalk_text.e3631db4.svg" alt="카카오톡" class="ShareModalKakaoImg">
              <span class="ModalKakaoShareBtnText">카카오톡</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="~{/global-templates/header-footer :: footer}"></div>
</body>
<!---->
<script src="/js/promotion/promotion-detail.js"></script>
</html>