<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Spotick | ' + ${promotion.title}" />
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/css/global-css/root.css" rel="stylesheet">
    <link href="/css/promotion/promotion-detail-swiper.css" rel="stylesheet">
    <link href="/css/promotion/promotion-detail.css" rel="stylesheet">
    <link href="/css/global-css/chat.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c6992f5b12.js"></script>
</head>
<body>
<div>
    <div th:replace="~{global-templates/chat :: chat}"></div>

    <div th:replace="~{/global-templates/header-footer :: header}"></div>

    <input id="isLoggedIn" th:value="${#authorization.expression('isAuthenticated()')}" type="hidden"/>

    <div class="ReferenceHallDetailContainer" th:object="${promotion}">
        <div class="ReferenceHallDetailTitleImgContainer">
            <img class="TitleImg"
                 th:alt="*{thumbnailImage.fileName}"
                 th:src="|/file/display?fileName=*{thumbnailImage.uploadPath}/*{thumbnailImage.uuid}_*{thumbnailImage.fileName}|">
        </div>
        <div class="ContentContainer">
            <!-- 사이드 메뉴 -->
            <div class="SideMenuContainer">
                <div class="SideMenuBookMarkContainer">
                    <div class="SideMenuBtn SideBookMark" id="likeBtn" th:data-status="*{isLiked}">
                        <span th:class="*{!isLiked} ? '' : 'none'">
                            <img alt="좋아요" src="/imgs/heart_line_white_shadow.d5d214d0.png">
                        </span>
                        <span th:class="*{isLiked} ? '' : 'none'">
                            <img alt="좋아요" src="/imgs/heart_filled_white_shadow.708fbebd.png">
                        </span>
                    </div>
                    <div class="BookMarkCount" id="count" th:text="*{likeCount}"></div>
                </div>
                <div class="SideMenuBtn SideMenuLink">
                    <img alt="공유하기" class="SideMenuBtnImg" src="/imgs/share_gray014_24.svg">
                </div>
            </div>
            <!-- 매인 컨텐트 -->
            <div class="MainContentContainer">
                <div class="MainContentContainerHeader">
                    <div class="MainContentContainerHeaderTitle" th:text="*{title}"></div>
                    <div class="MainContentContainerHeaderSubTitle" th:text="*{category.displayName}"></div>
                    <div class="MainContentContainerHeaderDate"
                         th:text="*{#temporals.format(createdDate, 'yyyy-MM-dd HH-mm-ss')}"></div>
                    <div class="MainContentContainerHeaderWriterContainer">
                        <img class="WriterImg"
                             th:alt="*{nickName}"
                             th:if="*{userProfileImage.uuid != null}"
                             th:src="|/file/display?fileName=*{userProfileImage.uploadPath}/*{userProfileImage.uuid}_*{userProfileImage.fileName}|">
                        <img class="WriterImg"
                             th:alt="*{nickName}"
                             th:src="@{/imgs/defaultProfileImgs/{fileName}(fileName=*{userProfileImage.fileName})}"
                             th:unless="*{userProfileImage.uuid != null}">
                        <div class="WriterNickName" th:text="*{nickName}"></div>
                        <input id="promo" th:value="*{promotionId}" type="hidden">
                        <input id="user" th:value="*{userId}" type="hidden">
                    </div>
                    <div class="MainContentContainerHeaderText" th:if="*{subTitle != null}" th:text="*{subTitle}"></div>
                </div>
                <div class="HeaderHrLine"></div>

                <div class="TemplateContainer" th:utext="*{content}"></div>

            </div>
        </div>
        <div class="CategoryContentsContainer">
            <p class="CategoryContentsText">해당 유저의 다른 컨텐츠도 확인해보세요.</p>
            <div id="moreContentsBlock"></div>
            <div class="loading-wrap" id="loadingMark">
                <img alt="" src="/imgs/loading.svg">
            </div>
        </div>

        <!--      공유하기 모달창-->
        <div class="ModalBackground">
            <div class="ShareModalContainer">
                <div class="ShareModalHeader">
                    <span class="ShareModalHeaderTitle">공유하기</span>
                    <button class="ShareModalCloseBtn" type="button">
                        <img alt="닫기" class="ShareModalCloseImg" src="/imgs/cross_gray034.69d9d880.svg">
                    </button>
                </div>
                <div class="ShareModalBottomContainer">
                    <button class="ModalShareBtn" type="button">
                        <div class="ShareModalShareImgContainer">
                            <img alt="URL 복사" class="ModalShareImg" src="/imgs/link_line_white.9dfe61a7.svg">
                        </div>
                        <span class="ModalShareBtnText">URL 복사</span>
                    </button>
                    <button class="ModalKakaoShareBtn" type="button">
                        <img alt="카카오톡" class="ShareModalKakaoImg" src="/imgs/kakaoTalk_text.e3631db4.svg">
                        <span class="ModalKakaoShareBtnText">카카오톡</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{/global-templates/header-footer :: footer}"></div>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/global-js/global.js}" type="module"></script>
<script th:src="@{/js/global-js/chat.js}" type="module"></script>
<script src="/js/promotion/promotion-detail.js" type="module"></script>

</html>