<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홍보 리스트 상세보기</title>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/css/global-css/root.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>
    <link href="/css/promotion/promotion-detail.css" rel="stylesheet">
    <link href="/css/promotion/promotion-detail-swiper.css" rel="stylesheet">
    <link href="/css/global-css/chat.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c6992f5b12.js"></script>
</head>
<body>
<div>
    <div th:replace="~{global-templates/chat :: chat}"></div>

    <div th:replace="~{/global-templates/header-footer :: header}"></div>

    <div class="ReferenceHallDetailContainer" th:object="${promotion}">
        <div class="ReferenceHallDetailTitleImgContainer">
            <img class="TitleImg"
                 th:alt="*{thumbnailImage.fileName}"
                 th:src="|/file/display?fileName=*{thumbnailImage.uploadPath}/*{thumbnailImage.uuid}_*{thumbnailImage.fileName}|">
        </div>
        <div class="ContentContainer">
            <!-- 사이드 메뉴 -->
            <div class="SideMenuContainer">
                <div class="SideMenuBookMarkContainer">
                    <div class="SideMenuBtn SideBookMark">
                        <img alt="북마크" class="SideMenuBtnImg" src="/imgs/bookmark_gray014_24.svg">
                    </div>
                    <div class="BookMarkCount">0</div>
                </div>
                <div class="SideMenuBtn SideMenuLink">
                    <img alt="공유하기" class="SideMenuBtnImg" src="/imgs/share_gray014_24.svg">
                </div>
            </div>
            <!-- 매인 컨텐트 -->
            <div class="MainContentContainer">
                <div class="MainContentContainerHeader">
                    <div class="MainContentContainerHeaderTitle" th:text="*{title}"></div>
                    <div class="MainContentContainerHeaderDate"
                         th:text="*{#temporals.format(createdDate, 'yyyy-MM-dd HH-mm-ss')}"></div>
                    <div class="MainContentContainerHeaderWriterContainer">
                        <img class="WriterImg"
                             th:if="*{userProfileImage.uuid != null}"
                             th:alt="*{nickName}"
                             th:src="|/file/display?fileName=*{userProfileImage.uploadPath}/*{userProfileImage.uuid}_*{userProfileImage.fileName}|">
                        <img class="WriterImg"
                             th:unless="*{userProfileImage.uuid != null}"
                             th:alt="*{nickName}"
                             th:src="@{/imgs/defaultProfileImgs/{fileName}(fileName=*{userProfileImage.fileName})}">
                        <div class="WriterNickName" th:text="*{nickName}"></div>
                    </div>
                    <div th:if="*{subTitle != null}" class="MainContentContainerHeaderText" th:text="*{subTitle}"></div>
                </div>
                <div class="HeaderHrLine"></div>

                <div class="TemplateContainer" th:utext="*{content}"></div>

            </div>
        </div>
        <div class="CategoryContentsContainer">
            <p class="CategoryContentsText">함께 보면 좋을 컨텐츠</p>
            <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                    <div class="swiper-slide ">
                        <div class="CategoryContentItem">
                            <img alt="컨텐츠 이미지"
                                 class="CategoryContentItemImage"
                                 src="https://img.shareit.kr///spacelog/img/2023-04-07//48b275d2-2319-4c47-b1b2-e38e3e85b089_640.jpg">
                            <p>[클로짓셰어] 팝업 스토어 행사</p>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="CategoryContentItem">
                            <img alt="컨텐츠 이미지"
                                 class="CategoryContentItemImage"
                                 src="https://img.shareit.kr///spacelog/img/2023-04-07//e43d53a3-758f-4214-a58d-4476b8e6339d_640.jpg">
                            <p>[민트콜렉션] 팝업 스토어 행사</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="CategoryContentItem">
                            <img alt="컨텐츠 이미지"
                                 class="CategoryContentItemImage"
                                 src="https://img.shareit.kr///spacelog/img/2023-04-13//2f1f1427-3fd3-420d-a2b1-a73f199b6a15_640.jpg">
                            <p>[FAAV] 팝업 스토어 행사 현장</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="CategoryContentsBtnContainer">
                <button class="Cleia OtherBtn" type="button">다른 컨텐츠 더보기</button>
            </div>
        </div>
        <!--      공유하기 모달창-->
        <div class="ModalBackground">
            <div class="ShareModalContainer">
                <div class="ShareModalHeader">
                    <span class="ShareModalHeaderTitle">공유하기</span>
                    <button class="ShareModalCloseBtn" type="button">
                        <img alt="닫기" class="ShareModalCloseImg" src="/imgs/cross_gray034.69d9d880.svg">
                    </button>
                </div>
                <div class="ShareModalBottomContainer">
                    <button class="ModalShareBtn" type="button">
                        <div class="ShareModalShareImgContainer">
                            <img alt="URL 복사" class="ModalShareImg" src="/imgs/link_line_white.9dfe61a7.svg">
                        </div>
                        <span class="ModalShareBtnText">URL 복사</span>
                    </button>
                    <button class="ModalKakaoShareBtn" type="button">
                        <img alt="카카오톡" class="ShareModalKakaoImg" src="/imgs/kakaoTalk_text.e3631db4.svg">
                        <span class="ModalKakaoShareBtnText">카카오톡</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{/global-templates/header-footer :: footer}"></div>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/global-js/global.js}" type="module"></script>
<script th:src="@{/js/global-js/chat.js}" type="module"></script>
<script src="/js/promotion/promotion-detail.js"></script>
<script th:inline="javascript">
    console.log([[${promotion}]])
</script>

</html>