<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Spotick | 홍보 게시판</title>
    <link rel="icon" th:href="@{/imgs/logo/favicon.png}">
    <link href="/css/global-css/root.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>
    <link href="/css/promotion/promotion-list.css" rel="stylesheet">
    <link href="/css/promotion/promotion-list-swiper.css" rel="stylesheet">
    <link href="/css/global-css/chat.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c6992f5b12.js"></script>
</head>
<body>
<div class="PageContainer">
    <div th:replace="~{global-templates/chat :: chat}"></div>

    <div th:replace="~{global-templates/header-footer :: header}"></div>

    <div class="MainContainer">
        <div class="ReferenceHallContentListContainer">
            <div class="ReferenceHallContentList">
                <div class="ReferenceHallContentListTitle">주목할 만한 컨텐츠</div>
                <div>
                    <div class="swiper top-swiper">
                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" th:each="recommend: ${data.recommendations}"
                                 th:object="${recommend}">
                                <a class="ReferenceHallContent ContentWrapper"
                                   th:href="@{/promotion/{promotionId}(promotionId=*{promotionId})}">
                                    <div>
                                        <img class="ReferenceHallContentImg"
                                             th:alt="*{title}"
                                             th:src="|/file/display?fileName=*{thumbnailImage.uploadPath}/*{thumbnailImage.uuid}_*{thumbnailImage.fileName}|">
                                    </div>
                                    <div class="ReferenceHallContentTitle" th:text="*{title}"/>
                                    <div class="ReferenceHallContentText" th:text="*{subTitle}"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--컨텐츠 리스트-->
        <div class="ListWrapper">
            <div class="ListCategoryContainer">
                <div class="swiper category-swiper swiper-initialized swiper-horizontal swiper-pointer-events">
                    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                        <div class="swiper-slide swiper-slide-active" style="margin-right: 10px;">
                            <div class="CategoryList Category All On">전체</div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" style="margin-right: 10px;"
                             th:each="category : ${T(com.app.spotick.domain.type.promotion.PromotionCategory).values()}">
                            <div class="CategoryList Category" th:category="${category}"
                                 th:text="${category.displayName}"/>
                        </div>
                    </div>
                </div>
                <div class="FilterBtn">
                    <button type="button">
                        <img alt="필터" src="/imgs/Nout_filter_filled_rainyblue08624.svg">
                    </button>
                </div>
                <!--필터 모달창-->
                <div class="FilterModal">
                    <div class="FilterModalContainer">
                        <div class="FilterModalHeader">
                            <p>정렬 및 필터</p>
                            <button class="FilterModalCloseBtn" type="button">
                                <img alt="닫기" src="/imgs/cross_1G_24.svg">
                            </button>
                        </div>
                        <div class="FilterModalBody">
                            <div class="FilterModalBodyHeader">
                                <p>정렬</p>
                                <label>
                                    <select class="SelectBox" id="modalSortType" name="log-filter">
                                        <option th:each="sortType : ${T(com.app.spotick.util.type.PromotionSortType).values()}"
                                                th:text="${sortType.displayName}"
                                                th:value="${sortType}"/>
                                    </select>
                                </label>
                            </div>
                            <div class="FilterModalBodyHeader">
                                <p>행사유형</p>
                                <div class="FilterModalCategory">
                                    <button class="FilterModalCategoryChild">전체</button>
                                    <button class="FilterModalCategoryChild"
                                            th:each="category : ${T(com.app.spotick.domain.type.promotion.PromotionCategory).values()}"
                                            th:text="${category.displayName}"></button>
                                </div>
                            </div>
                        </div>
                        <div class="FilterModalFooter">
                            <div class="FilterModalFooterBtnContainer">
                                <button class="FilterModalFooterResetBtn" type="button">초기화</button>
                                <button class="FilterModalFooterSaveBtn" type="button">필터적용</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--필터 모달창-->
            </div>
            <div class="ContentListContainer" id="contentsContainer">

                <div class="ContentOneContainer" th:each="promotion: ${data.promotionList}" th:object="${promotion}">
                    <div class="ContentMainImgContainer">
                        <img class="ContentMainImg"
                             th:alt="*{title}"
                             th:src="|/file/display?fileName=*{thumbnailImage.uploadPath}/t_*{thumbnailImage.uuid}_*{thumbnailImage.fileName}|">
                    </div>
                    <div class="ContentTitle">
                        <p th:text="*{title}"></p>
                    </div>
                </div>

            </div>
            <div class="loading-wrap" id="loadingMark">
                <img alt="" src="/imgs/loading.svg">
            </div>
        </div>
    </div>
    <button class="ScrollTopBtn" type="button">
            <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0; margin: 0; padding: 0; position: relative; max-width: 100%;">
                <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0; margin: 0; padding: 0; max-width: 100%;">
                    <img alt="" aria-hidden="true" src="/imgs/back.svg"
                         style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0; margin: 0; padding: 0;">
                </span>
                <img alt="맨위로" src="/imgs/ico-top.d419aff0.svg"
                     style="position: absolute; inset: 0; box-sizing: border-box; padding: 0; border: none; margin: auto; display: block; width: 0; height: 0; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: contain;">
            </span>
    </button>
    <a href="/promotion/register" class="register-btn">
        <img alt="작성" src="/imgs/write.png">
    </a>
    <input id="last" th:value="${data.promotionList.last}" type="hidden">
    <input id="category" type="hidden">
    <input id="sortType" type="hidden" value="NEWEST">

    <div th:replace="~{/global-templates/header-footer :: footer}"></div>
</div>
</body>
<script th:src="@{/js/global-js/global.js}" type="module"></script>
<script th:src="@{/js/global-js/chat.js}" type="module"></script>
<script th:src="@{/js/promotion/promotion-list.js}" th:type="module"></script>

</html>