<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로모션 등록</title>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link href="/css/global-css/root.css" rel="stylesheet">
    <link href="/css/promotion/promotion-register.css" rel="stylesheet"/>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c6992f5b12.js"></script>
</head>
<body>

<div th:replace="~{/global-templates/header-footer :: header}"></div>
<div class="header-back"></div>
<div class="body">
    <div class="place-register-container">
        <form class="register-form" enctype="multipart/form-data" method="post" th:action="@{/promotion/register}"
              th:object="${promotionRegisterDto}">
            <div class="guide-title-box">
                <p>홍보 게시글 작성</p>
            </div>
            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">게시글 제목</p>
                    <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                    <p class="invalid-msg"></p>
                </div>
                <div class="input-box">
                    <input name="promotionTitle" placeholder="게시글 제목을 입력해 주세요" required
                           th:field="*{promotionTitle}" type="text">
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">행사 카테고리</p>
                    <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                    <p class="invalid-msg"></p>
                </div>
                <div class="input-box category-box">
                    <label>
                        <select class="select" th:field="*{promotionCategory}">
                            <option th:each="category : ${T(com.app.spotick.domain.type.promotion.PromotionCategory).values()}"
                                    th:text="${category.displayName}" th:value="${category}"></option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">행사 내용</p>
                    <img alt="필수입력" src="//s3.hourplace.co.kr/web/images/icon/invalid.svg">
                    <p class="invalid-msg"></p>
                </div>
                <div style="min-height: 500px">
                    <label>
                        <textarea th:field="*{promotionContent}"></textarea>
                    </label>
                </div>
            </div>
            <div class="flex-center start">
                <button class="cancel" type="button">취소</button>
                <button class="submit-btn on flex-align-center" type="button">신청하기</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{/global-templates/header-footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/global-js/global.js}" type="module"></script>
<script src="/js/ticket/register/register.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- 서머노트를 위해 추가해야할 부분 -->
<script src="/js/promotion/summernote-lite.js"></script>
<script src="/js/promotion/summernote-ko-KR.js"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script>
    $('#promotionContent').summernote({
        height: 500,
        lang: "ko-KR",
        minHeight: 500,
    });
</script>

</html>