<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spotick | 홍보 작성</title>
    <link th:href="@{/imgs/logo/favicon.png}" rel="icon">
    <link href="/css/global-css/root.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link href="/css/promotion/promotion-register.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c6992f5b12.js"></script>
</head>
<body>

<div th:replace="~{/global-templates/header-footer :: header}"></div>
<div class="header-back"></div>
<div class="body">
    <div class="place-register-container">
        <form class="register-form" enctype="multipart/form-data" method="post" th:action="@{/promotion/register}"
              th:object="${promotionRegisterDto}">
            <div class="guide-title-box">
                <p>홍보 게시글 작성</p>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">게시글 제목</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:errors="*{title}" th:if="${#fields.hasErrors()}"></p>
                </div>
                <label class="input-box" style="width: 60%">
                    <input name="promotionTitle" placeholder="게시글 제목을 입력해 주세요." required
                           th:field="*{title}" type="text">
                </label>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">게시글 부제목</p>
                </div>
                <label class="input-box" style="width: 60%">
                    <input name="promotionTitle" placeholder="부제목을 입력해 주세요."
                           th:field="*{subTitle}" type="text">
                </label>
            </div>

            <p class="invalid-msg" th:errors="*{file}" th:if="${#fields.hasErrors()}"></p>
            <div class="img-wrap">
                <input accept="image/*" th:field="*{file}" type="file">
                <label class="file-label flex-align-center" th:for="file">
                    <i class="fa-regular fa-image"></i>
                    <p>썸네일 사진을 선택해주세요.</p>
                </label>
                <div class="file-container none">
                    <ul class="file-wrap"></ul>

                    <div class="img-button-box">
                        <button class="prev" type="button">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </button>
                        <div></div>
                        <button class="next" type="button">
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">행사 카테고리</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:errors="*{category}" th:if="${#fields.hasErrors()}"></p>
                </div>
                <div class="input-box category-box">
                    <label>
                        <select class="select" required th:field="*{category}">
                            <option value="">카테고리를 선택해주세요.</option>
                            <option th:each="category : ${T(com.app.spotick.domain.type.promotion.PromotionCategory).values()}"
                                    th:text="${category.displayName}" th:value="${category}"></option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="input-wrap">
                <div class="input-guide flex">
                    <p class="input-title">행사 내용</p>
                    <img alt="필수입력" src="/imgs/invalid.svg">
                    <p class="invalid-msg" th:errors="*{content}" th:if="${#fields.hasErrors()}"></p>
                </div>
                <div style="min-height: 500px">
                    <label>
                        <textarea id="summernote" required th:field="*{content}"></textarea>
                    </label>
                </div>
            </div>
            <div class="flex-center start">
                <button class="cancel" type="button">취소</button>
                <button class="submit-btn on flex-align-center" type="submit">신청하기</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{/global-templates/header-footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/global-js/global.js}" type="module"></script>
<script src="/js/summernote/summernote-lite.js"></script>
<script src="/js/summernote/summernote-ko-KR.js"></script>
<script src="/js/promotion/promotion-register.js"></script>

</html>